.top-banner-child {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-8-icon1 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.aov1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.aov1,
.cara-topup50 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a101,
.pilih-nominal-diamonds50,
.selesaikan-pembayaran50 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a100 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container50 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.top-up-instructions8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.user-i-d-zone-i-d11,
.zone-i-d-label {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.zone-i-d-label {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.user-i-d-zone-i-d11 {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift49 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-wrapper29,
.top-banner-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper29 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper29:hover {
  background-color: var(--color-forestgreen);
}
.top-banner-info {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.main-banner,
.top-banner {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.top-banner {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.main-banner {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.logo-container-child4 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming113 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.logo-container19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home427 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-wrapper181,
.home426 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home426 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home429 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper182,
.home428 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home428 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home431 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper183,
.home430 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home430 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home433 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper184,
.home432 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home432 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-button16 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child41 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-243 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.profile-icon-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light53 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.profile-icon-button {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar18,
.profile-icon3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.profile-icon3 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar18 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe48 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon96 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond191 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.type-value-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon50 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.type-dropdown-icon {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond190,
.type-dropdown-icon,
.type-image-container {
  display: flex;
  align-items: flex-start;
}
.type-image-container {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond190 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk49 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon97 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond193 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-value-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.vector-icon114 {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-dropdown-icon10,
.product-image-container4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-image-container4 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-product2,
.diamond-type13,
.diamond192 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond192 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-product2,
.diamond-type13 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-type13 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.fast-delivery-icon-background1 {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau48 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.fast-delivery-icon7 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22048,
.stok144 {
  position: relative;
}
.stok144 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.fast-delivery-stock1,
.min-beli144,
.rb288,
.rb289,
.terjual144 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.fast-delivery-stock1,
.min-beli144,
.rb288,
.rb289 {
  min-width: 64px;
}
.fast-delivery-stock1,
.rb288,
.rb289 {
  min-width: 42px;
}
.fast-delivery-stock1 {
  min-width: 8px;
}
.fast-delivery-stock-details1 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span48 {
  font-size: var(--font-size-base);
}
.top-up48 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container46 {
  width: 100%;
}
.rp59100-top-up46 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.fast-delivery-stock-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.fast-delivery-diamond-info {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-444,
.fast-delivery-diamond-info,
.pengiriman-cepat44 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat44 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-444 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon48 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-option9 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.stok145 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.empty-value1,
.min-beli145,
.rb290,
.rb291,
.terjual145 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.empty-value1,
.min-beli145,
.rb290,
.rb291 {
  min-width: 64px;
}
.empty-value1,
.rb290,
.rb291 {
  flex: 1;
  min-width: 47px;
}
.stock-info32 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit99,
.rp4000044 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000044 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price8 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga139 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express50 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper44 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper44:hover {
  background-color: var(--color-gainsboro-100);
}
.b58,
.min-beli146,
.rb292,
.rb293,
.stok146,
.terjual146 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b58,
.min-beli146,
.rb292,
.rb293,
.terjual146 {
  min-width: 51px;
}
.b58,
.min-beli146,
.rb292,
.rb293 {
  min-width: 64px;
}
.b58,
.rb292,
.rb293 {
  flex: 1;
  min-width: 47px;
}
.stok-parent59 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit100,
.rp6400046 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400046 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent50 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga140 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga138,
.price-options12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga138 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.delivery-option-child5,
.tawaran-lain48 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.delivery-option-child5 {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain48 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.delivery-option8 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frame-child195 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.frame-child196 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.delivery-option-group,
.rectangle-parent76 {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangle-parent76 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.delivery-option-group {
  font-size: var(--font-size-base);
}
.delivery-option-group,
.diamond-type-parent1,
.top-content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-type-parent1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.top-content1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child197 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan48,
.user-id48,
.your-id144 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan48 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id48,
.your-id144 {
  font-size: var(--font-size-base);
}
.user-id48 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id144 {
  flex: 1;
}
.input-labels30,
.user-zone-i-d-input-fields {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-zone-i-d-input-fields {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.input-labels30 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id145,
.zona-id48 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id48 {
  text-decoration: none;
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id145 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.input-labels31,
.user-i-d-zone-i-d-input3,
.your-id-wrapper66 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper66 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.input-labels31,
.user-i-d-zone-i-d-input3 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-i-d-zone-i-d-input3 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual48,
.your-id146 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual48 {
  z-index: 3;
}
.your-id146 {
  flex: 1;
}
.catatan-untuk-penjual-parent22,
.seller-note-input6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seller-note-input6 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.catatan-untuk-penjual-parent22 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.quantity-increase-icon1 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus48 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.quantity-decrease-background {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus48,
.quantity-subtract-background {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus48 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.quantity-subtract-background {
  flex: 1;
  position: relative;
}
.quantity-decrease-button1,
.quantity-decrease-icon-contain1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.quantity-decrease-icon-contain1 {
  flex: 1;
  gap: var(--gap-9xl);
}
.quantity-decrease-button1 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910052,
.subtotal54 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910052 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-container8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.quantity-control26,
.quantity-decrease-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.quantity-decrease-container1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-control26 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit51 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button-container9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button-container9:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.content21,
.rectangle-parent77 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent77 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.content21 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-background-wrapper16,
.footer-background21 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-background21 {
  background-color: var(--color-gainsboro-200);
}
.footer-background-wrapper16 {
  margin: 0 !important;
}
.footer-top-container-inner {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming114 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-brand-container1,
.footer-top-container2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-brand-container1 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-top-container2 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital59 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up59 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-description-container3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa59 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content-container5,
.footer-info-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-info-container2 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content-container5 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman58 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon58 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.main-methods4 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon58 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.main-methods5 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon58 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.main-methods6 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon58 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.main-methods7 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya58 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.main-methods-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami58 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-link-icons2 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-icons30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom58 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-info42 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon115 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper70 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp58 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-info43,
.contact-links17,
.contact-options22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-info43 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-links17,
.contact-options22 {
  flex-direction: column;
}
.contact-links17 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-options22 {
  gap: var(--gap-3xs);
}
.contact-separator36 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen58 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga58,
.direktorat-jenderal58,
.kementerian58,
.perdagangan-ri58,
.perlindungan-konsumen58 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container58 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-info-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.ministry-logo-icon2 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.ministry-logo-background {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.blank4 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.contact-details-container3,
.ministry-logo-container2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ministry-logo-container2 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details-container3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller65 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller58,
.login-reseller58 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller58 {
  min-width: 86px;
}
.contact-container3,
.methods-container2,
.reseller-container3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-container3 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-container3,
.methods-container2 {
  max-width: 100%;
}
.contact-container3 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.methods-container2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi58 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate58,
.blog58,
.kebijakan-privasi58,
.syarat-ketentuan58 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate58,
.blog58,
.kebijakan-privasi58 {
  min-width: 99px;
}
.affiliate58,
.blog58 {
  min-width: 26px;
}
.affiliate58 {
  min-width: 44px;
}
.information-container2,
.legal-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-container2 {
  gap: var(--gap-smi-8);
}
.information-container2 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami58 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-158,
.icon-instagram-158,
.icon-x-20231018-158 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-158 {
  height: 15.3px;
}
.main-socials-container,
.socials-row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.socials-row-container {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-158 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.socials-container,
.socials-content-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.socials-container {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods-container7 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer-bottom-container1,
.footer84,
.payment-methods-container7,
.pembayaran-aman-parent10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.pembayaran-aman-parent10 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-bottom-container1,
.footer84 {
  box-sizing: border-box;
}
.footer-bottom-container1 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer84 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report51 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-button-container2 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-container12 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.aov {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-bottom-container1,
  .footer-content-container5 {
    flex: 1;
  }
  .footer84 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-container12 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .fast-delivery-icon7,
  .top-banner-info {
    flex-wrap: wrap;
  }
  .fast-delivery-stock-details1 {
    gap: var(--gap-34xl);
  }
  .component-444 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga138,
  .stock-info32,
  .stok-parent59 {
    gap: var(--gap-34xl);
  }
  .diamond-type-parent1 {
    gap: var(--gap-22xl);
  }
  .rectangle-parent77 {
    flex: 1;
  }
  .content21 {
    flex-wrap: wrap;
  }
  .footer-bottom-container1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .user-i-d-zone-i-d11 {
    flex-wrap: wrap;
  }
  .home-button16 {
    display: none;
  }
  .navbar-243 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar18 {
    gap: var(--gap-5xl);
  }
  .diamond-type13,
  .fast-delivery-stock-info,
  .pilihan-harga139,
  .pilihan-harga140 {
    flex-wrap: wrap;
  }
  .top-content1 {
    min-width: 100%;
  }
  .rectangle-parent77 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods-container7 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer84 {
    gap: var(--gap-15xl);
  }
  .aov {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .aov1 {
    font-size: var(--font-size-lgi);
  }
  .zone-i-d-label {
    min-width: 100%;
  }
  .produk49,
  .tipe48 {
    font-size: var(--font-size-lgi);
  }
  .fast-delivery-stock-details1 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat44 {
    gap: var(--gap-mini);
  }
  .component-444 {
    gap: var(--gap-base);
  }
  .stock-info32 {
    gap: var(--gap-7xl);
  }
  .rp4000044 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent59 {
    gap: var(--gap-7xl);
  }
  .rp6400046 {
    font-size: var(--font-size-lgi);
  }
  .price-options12 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga138 {
    gap: var(--gap-7xl);
  }
  .diamond-type-parent1 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan48 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent77 {
    gap: var(--gap-9xl);
  }
  .main-methods-container {
    flex-wrap: wrap;
  }
  .contact-container3 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer84 {
    gap: var(--gap-mid);
  }
  .aov {
    gap: var(--gap-2xl);
  }
}
