.product-image-container2 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-5-icon1 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.ace-racer1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.ace-racer1,
.cara-topup44 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a89,
.pilih-nominal-diamonds44,
.selesaikan-pembayaran44 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a88 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container44 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.order-information-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.user-id-input-container,
.zone-id-input-container {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.zone-id-input-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.user-id-input-container {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift42 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.quantity-control-container3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.quantity-control-container3:hover {
  background-color: var(--color-forestgreen);
}
.top-up-form-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.game-logo5,
.quantity-decrease-button {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.game-logo5 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.quantity-decrease-button {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.footer-container-child {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming101 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.footer-container11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home379 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.company-description6,
.home378 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home378 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home381 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper162,
.home380 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home380 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home383 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper163,
.home382 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home382 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home385 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper164,
.home384 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home384 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.company-logo2 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child35 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-237 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.other-payment-methods1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light47 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.payment-method-icons-container3 {
  height: 28px;
  flex: 1;
  position: relative;
}
.payment-methods-label,
.subtotal-container7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.payment-methods-label {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.subtotal-container7 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe42 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon84 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond167 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.reseller-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon44 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.reseller-label2 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond166,
.government-agency,
.reseller-label2 {
  display: flex;
  align-items: flex-start;
}
.government-agency {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond166 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk42 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon85 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond169 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.tik-tok-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.delivery-option-icon {
  width: 16px;
  height: 10px;
  position: relative;
}
.follow-us-label,
.top-up-options2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.follow-us-label {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond168,
.legal-links14,
.whatsapp-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond168 {
  align-self: stretch;
  gap: var(--gap-base);
}
.legal-links14,
.whatsapp-contact {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.whatsapp-contact {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.menit-dikirim-atau42,
.sold-label-icon {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.sold-label-icon {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau42 {
  height: 73px;
  display: flex;
  align-items: center;
}
.stock-label2 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22042,
.stok126 {
  position: relative;
}
.stok126 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.brand-logo-container,
.min-beli126,
.rb252,
.rb253,
.terjual126 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.brand-logo-container,
.min-beli126,
.rb252,
.rb253 {
  min-width: 64px;
}
.brand-logo-container,
.rb252,
.rb253 {
  min-width: 42px;
}
.brand-logo-container {
  min-width: 8px;
}
.navbar-background1 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span42 {
  font-size: var(--font-size-base);
}
.top-up42 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container40 {
  width: 100%;
}
.rp59100-top-up40 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.navbar-container9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.price-per-unit-label {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-438,
.pengiriman-cepat38,
.price-per-unit-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat38 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-438 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon42 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.home-link-icons {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.stok127 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli127,
.product-name9,
.rb254,
.rb255,
.terjual127 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli127,
.product-name9,
.rb254,
.rb255 {
  min-width: 64px;
}
.product-name9,
.rb254,
.rb255 {
  flex: 1;
  min-width: 47px;
}
.stok-parent52 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit86,
.rp4000038 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000038 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.product-dropdown12 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga121 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express44 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper38 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper38:hover {
  background-color: var(--color-gainsboro-100);
}
.b51,
.min-beli128,
.rb256,
.rb257,
.stok128,
.terjual128 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b51,
.min-beli128,
.rb256,
.rb257,
.terjual128 {
  min-width: 51px;
}
.b51,
.min-beli128,
.rb256,
.rb257 {
  min-width: 64px;
}
.b51,
.rb256,
.rb257 {
  flex: 1;
  min-width: 47px;
}
.stok-parent53 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit87,
.rp6400040 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400040 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent44 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga122 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.navigation-links,
.pilihan-harga120 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga120 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.delivery-time-child,
.tawaran-lain42 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.delivery-time-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain42 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.delivery-time3 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frame-child177 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.frame-child178 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.delivery-guarantee4,
.rectangle-parent68 {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangle-parent68 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.delivery-guarantee4 {
  font-size: var(--font-size-base);
}
.contact-methods-container2,
.customer-service-contact,
.delivery-guarantee4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.customer-service-contact {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.contact-methods-container2 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child179 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan42,
.user-id42,
.your-id126 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan42 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id42,
.your-id126 {
  font-size: var(--font-size-base);
}
.user-id42 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id126 {
  flex: 1;
}
.minus-icon14,
.user-id-parent4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-icon14 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-id-parent4 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id127,
.zona-id42 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id42 {
  text-decoration: none;
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id127 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.order-summary2,
.your-id-wrapper58,
.zona-id-parent3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper58 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.order-summary2,
.zona-id-parent3 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.order-summary2 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual42,
.your-id128 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual42 {
  z-index: 3;
}
.your-id128 {
  flex: 1;
}
.footer72,
.your-id-wrapper59 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper59 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.footer72 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.vector-icon103 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus42 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.vector-icon104 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus42,
.quantity-down-button {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus42 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.quantity-down-button {
  flex: 1;
  position: relative;
}
.frame-wrapper45,
.icround-minus-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icround-minus-parent7 {
  flex: 1;
  gap: var(--gap-9xl);
}
.frame-wrapper45 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910046,
.subtotal47 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910046 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal46 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent143,
.icoutline-plus-parent8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent143 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.icoutline-plus-parent8 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit45 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.frame-parent142,
.submit-button21 {
  display: flex;
  align-items: flex-start;
}
.submit-button21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button21:hover {
  background-color: var(--color-goldenrod-200);
}
.frame-parent142 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.contact-us-label,
.rectangle-parent69 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent69 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.contact-us-label {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-decoration-frame,
.footer-decoration2 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-decoration2 {
  background-color: var(--color-gainsboro-200);
}
.footer-decoration-frame {
  margin: 0 !important;
}
.footer-info-child1 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming102 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.company-name4,
.footer-info22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-name4 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-info22 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital53 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up53 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.company-description7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa53 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.company-details7,
.footer-content33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-details7 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content33 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman52 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon52 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.gpay-1-wrapper11 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon52 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.dana-1-wrapper11 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon52 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.spay-1-wrapper11 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon52 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ovo-1-wrapper11 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya52 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-icon-list4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami52 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.channel-icons2 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-icon-containers1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom52 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-channel-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon105 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper63 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp52 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-channel-icons1,
.contact-channels,
.contact-links15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-channel-icons1 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-channels,
.contact-links15 {
  flex-direction: column;
}
.contact-channels {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-links15 {
  gap: var(--gap-3xs);
}
.contact-separator31 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen52 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga52,
.direktorat-jenderal52,
.kementerian52,
.perdagangan-ri52,
.perlindungan-konsumen52 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container52 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-protection4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.authority-icon4 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.logo-container16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.authority-number {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.authority-logo4,
.contact-details40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.authority-logo4 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details40 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller59 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller52,
.login-reseller52 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller52 {
  min-width: 86px;
}
.contact-info37,
.payment-icons16,
.reseller-options19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-options19 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info37,
.payment-icons16 {
  max-width: 100%;
}
.contact-info37 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-icons16 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi52 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate52,
.blog52,
.kebijakan-privasi52,
.syarat-ketentuan52 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate52,
.blog52,
.kebijakan-privasi52 {
  min-width: 99px;
}
.affiliate52,
.blog52 {
  min-width: 26px;
}
.affiliate52 {
  min-width: 44px;
}
.information-links7,
.legal-links15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-links15 {
  gap: var(--gap-smi-8);
}
.information-links7 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami52 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-152,
.icon-instagram-152,
.icon-x-20231018-152 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-152 {
  height: 15.3px;
}
.ikuti-kami-parent4,
.social-platforms3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.ikuti-kami-parent4 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-152 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-icons36,
.social-media18 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media18 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods33 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer74,
.payment-info19,
.payment-methods33,
.payment-options24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-options24 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer74,
.payment-info19 {
  box-sizing: border-box;
}
.payment-info19 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer74 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report45 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-button8 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer73 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.ace-racer {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content33,
  .payment-info19 {
    flex: 1;
  }
  .footer74 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer73 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .stock-label2,
  .top-up-form-container {
    flex-wrap: wrap;
  }
  .navbar-background1 {
    gap: var(--gap-34xl);
  }
  .component-438 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga120,
  .stok-parent52,
  .stok-parent53 {
    gap: var(--gap-34xl);
  }
  .customer-service-contact {
    gap: var(--gap-22xl);
  }
  .rectangle-parent69 {
    flex: 1;
  }
  .contact-us-label {
    flex-wrap: wrap;
  }
  .payment-info19 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .user-id-input-container {
    flex-wrap: wrap;
  }
  .company-logo2 {
    display: none;
  }
  .navbar-237 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .subtotal-container7 {
    gap: var(--gap-5xl);
  }
  .navbar-container9,
  .pilihan-harga121,
  .pilihan-harga122,
  .whatsapp-contact {
    flex-wrap: wrap;
  }
  .contact-methods-container2 {
    min-width: 100%;
  }
  .rectangle-parent69 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods33 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer74 {
    gap: var(--gap-15xl);
  }
  .ace-racer {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .ace-racer1 {
    font-size: var(--font-size-lgi);
  }
  .zone-id-input-container {
    min-width: 100%;
  }
  .produk42,
  .tipe42 {
    font-size: var(--font-size-lgi);
  }
  .navbar-background1 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat38 {
    gap: var(--gap-mini);
  }
  .component-438 {
    gap: var(--gap-base);
  }
  .stok-parent52 {
    gap: var(--gap-7xl);
  }
  .rp4000038 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent53 {
    gap: var(--gap-7xl);
  }
  .rp6400040 {
    font-size: var(--font-size-lgi);
  }
  .navigation-links {
    gap: var(--gap-8xl);
  }
  .pilihan-harga120 {
    gap: var(--gap-7xl);
  }
  .customer-service-contact {
    gap: var(--gap-xl);
  }
  .informasi-pesanan42 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent69 {
    gap: var(--gap-9xl);
  }
  .payment-icon-list4 {
    flex-wrap: wrap;
  }
  .contact-info37 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer74 {
    gap: var(--gap-mid);
  }
  .ace-racer {
    gap: var(--gap-2xl);
  }
}
