.frame-child171 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-4-icon1 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.atlantica-rebirth1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.atlantica-rebirth1,
.cara-topup43 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a87,
.pilih-nominal-diamonds43,
.selesaikan-pembayaran43 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a86 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container43 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.top-up-info8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.atlantica-rebirth-parent,
.main-content {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.atlantica-rebirth-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.main-content {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift41 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.content-wrapper1,
.gift-wrapper25 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper25 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper25:hover {
  background-color: var(--color-forestgreen);
}
.content-wrapper1 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.background-shape2,
.rectangle-parent65 {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.rectangle-parent65 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.background-shape2 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.frame-child172 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming99 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.frame-parent138 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home371 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-button-container8,
.home370 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home370 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home373 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper159,
.home372 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home372 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home375 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper160,
.home374 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home374 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home377 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper161,
.home376 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home376 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-navigation3 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child34 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-236 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.user-icon-background2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light46 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.user-icon-background-parent {
  height: 28px;
  flex: 1;
  position: relative;
}
.frame-wrapper44,
.navbar-2-parent11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-wrapper44 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-2-parent11 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe41 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon82 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond163 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-wrapper31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon43 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper18 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond162,
.fearrow-down-wrapper18,
.image-3-parent19 {
  display: flex;
  align-items: flex-start;
}
.image-3-parent19 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond162 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk41 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon83 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond165 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.diamond-wrapper33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.product-dropdown-icon9 {
  width: 16px;
  height: 10px;
  position: relative;
}
.image-3-parent20,
.product-dropdown-icon-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.image-3-parent20 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-type-selection1,
.diamond-wrapper32,
.diamond164 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond164 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-type-selection1,
.diamond-wrapper32 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-type-selection1 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-icon9,
.menit-dikirim-atau41 {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.delivery-icon9 {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau41 {
  height: 73px;
  display: flex;
  align-items: center;
}
.delivery-guarantee3 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22041,
.stok123 {
  position: relative;
}
.stok123 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli123,
.rb246,
.rb247,
.stock-labels8,
.terjual123 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli123,
.rb246,
.rb247,
.stock-labels8 {
  min-width: 64px;
}
.rb246,
.rb247,
.stock-labels8 {
  min-width: 42px;
}
.stock-labels8 {
  min-width: 8px;
}
.stock-details20 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span41 {
  font-size: var(--font-size-base);
}
.top-up41 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container39 {
  width: 100%;
}
.rp59100-top-up39 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-info28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.delivery-details5 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-437,
.delivery-details5,
.pengiriman-cepat37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat37 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-437 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon41 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-header {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.stok124 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.empty-header,
.min-beli124,
.rb248,
.rb249,
.terjual124 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.empty-header,
.min-beli124,
.rb248,
.rb249 {
  min-width: 64px;
}
.empty-header,
.rb248,
.rb249 {
  flex: 1;
  min-width: 47px;
}
.stock-header {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit84,
.rp4000037 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000037 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga118 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express43 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper37 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper37:hover {
  background-color: var(--color-gainsboro-100);
}
.b50,
.min-beli125,
.rb250,
.rb251,
.stok125,
.terjual125 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b50,
.min-beli125,
.rb250,
.rb251,
.terjual125 {
  min-width: 51px;
}
.b50,
.min-beli125,
.rb250,
.rb251 {
  min-width: 64px;
}
.b50,
.rb250,
.rb251 {
  flex: 1;
  min-width: 47px;
}
.stok-parent51 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit85,
.rp6400039 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400039 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent43 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga119 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga117,
.price-options10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga117 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.frame-child173,
.tawaran-lain41 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.frame-child173 {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain41 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.pilihan-harga-parent14 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frame-child174 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.offer-divider-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.purchase-options6,
.rectangle-parent66 {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangle-parent66 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.purchase-options6 {
  font-size: var(--font-size-base);
}
.diamond-type-container,
.diamond-types1,
.purchase-options6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-type-container {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.diamond-types1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child175 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan41,
.user-id41,
.your-id123 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan41 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id41,
.your-id123 {
  font-size: var(--font-size-base);
}
.user-id41 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id123 {
  flex: 1;
}
.input-fields20,
.input-labels26 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-fields20 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.input-labels26 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id124,
.zona-id41 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id41 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id124 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.input-labels27,
.user-i-d-input7,
.your-id-wrapper56 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper56 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.input-labels27,
.user-i-d-input7 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-i-d-input7 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual41,
.your-id125 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual41 {
  z-index: 3;
}
.your-id125 {
  flex: 1;
}
.catatan-untuk-penjual-parent18,
.your-id-wrapper57 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper57 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.catatan-untuk-penjual-parent18 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.plus-icon20 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus41 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.minus-background-icon6 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus41,
.minus-sign4 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus41 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-sign4 {
  flex: 1;
  position: relative;
}
.decrease-button4,
.minus-button17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-button17 {
  flex: 1;
  gap: var(--gap-9xl);
}
.decrease-button4 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910045,
.subtotal45 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910045 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-container6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrease-button-parent1,
.quantity-control21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrease-button-parent1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-control21 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit44 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button-container8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button-container8:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.diamond-types-parent,
.rectangle-parent67 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent67 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.diamond-types-parent {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-top-border-frame,
.footer-top-border2 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-top-border2 {
  background-color: var(--color-gainsboro-200);
}
.footer-top-border-frame {
  margin: 0 !important;
}
.frame-child176 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming100 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.company-name-container,
.frame-parent140 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-name-container {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.frame-parent140 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital52 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up52 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.pt-global-digital-indokreasi-parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa52 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frame-parent139,
.frame-parent141 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent141 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.frame-parent139 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman51 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon51 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.method-icons15 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon51 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.method-icons16 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon51 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.method-icons17 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon51 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.method-icons18 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya51 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.methods-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami51 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.channel-logos-container {
  width: 16px;
  height: 12px;
  position: relative;
}
.channel-logos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom51 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.channel-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon102 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper62 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp51 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.channel-icons1,
.customer-support,
.support-channels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.channel-icons1 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.customer-support,
.support-channels {
  flex-direction: column;
}
.support-channels {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.customer-support {
  gap: var(--gap-3xs);
}
.support-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen51 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga51,
.direktorat-jenderal51,
.kementerian51,
.perdagangan-ri51,
.perlindungan-konsumen51 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container51 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.layanan-pengaduan-konsumen-parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.complaint-icon7 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.logo-icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div23 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.complaint-logo6,
.support-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.complaint-logo6 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.support-details {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller58 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller51,
.login-reseller51 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller51 {
  min-width: 86px;
}
.methods-list2,
.reseller-parent8,
.support-details-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-parent8 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.methods-list2,
.support-details-parent {
  max-width: 100%;
}
.support-details-parent {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.methods-list2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi51 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate51,
.blog51,
.kebijakan-privasi51,
.syarat-ketentuan51 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate51,
.blog51,
.kebijakan-privasi51 {
  min-width: 99px;
}
.affiliate51,
.blog51 {
  min-width: 26px;
}
.affiliate51 {
  min-width: 44px;
}
.legal-links-frame,
.legal-links13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-links13 {
  gap: var(--gap-smi-8);
}
.legal-links-frame {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami51 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-151,
.icon-instagram-151,
.icon-x-20231018-151 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-151 {
  height: 15.3px;
}
.social-icons35,
.social-links22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-links22 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-151 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-details-container,
.social-details8 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-details-container {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods32 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.contact-details-wrapper,
.contact-details39,
.footer71,
.payment-methods32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-details39 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.contact-details-wrapper,
.footer71 {
  box-sizing: border-box;
}
.contact-details-wrapper {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer71 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report44 {
  position: relative;
  display: inline-block;
  min-width: 52px;
}
.report-container9 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer70 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.atlantica-rebirth {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .contact-details-wrapper,
  .frame-parent139 {
    flex: 1;
  }
  .footer71 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer70 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .content-wrapper1,
  .delivery-guarantee3 {
    flex-wrap: wrap;
  }
  .stock-details20 {
    gap: var(--gap-34xl);
  }
  .component-437 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga117,
  .stock-header,
  .stok-parent51 {
    gap: var(--gap-34xl);
  }
  .diamond-type-container {
    gap: var(--gap-22xl);
  }
  .rectangle-parent67 {
    flex: 1;
  }
  .diamond-types-parent {
    flex-wrap: wrap;
  }
  .contact-details-wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .main-content {
    flex-wrap: wrap;
  }
  .home-navigation3 {
    display: none;
  }
  .navbar-236 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-2-parent11 {
    gap: var(--gap-5xl);
  }
  .diamond-type-selection1,
  .pilihan-harga118,
  .pilihan-harga119,
  .stock-info28 {
    flex-wrap: wrap;
  }
  .diamond-types1 {
    min-width: 100%;
  }
  .rectangle-parent67 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods32 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer71 {
    gap: var(--gap-15xl);
  }
  .atlantica-rebirth {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .atlantica-rebirth1 {
    font-size: var(--font-size-lgi);
  }
  .atlantica-rebirth-parent {
    min-width: 100%;
  }
  .produk41,
  .tipe41 {
    font-size: var(--font-size-lgi);
  }
  .stock-details20 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat37 {
    gap: var(--gap-mini);
  }
  .component-437 {
    gap: var(--gap-base);
  }
  .stock-header {
    gap: var(--gap-7xl);
  }
  .rp4000037 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent51 {
    gap: var(--gap-7xl);
  }
  .rp6400039 {
    font-size: var(--font-size-lgi);
  }
  .price-options10 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga117 {
    gap: var(--gap-7xl);
  }
  .diamond-type-container {
    gap: var(--gap-xl);
  }
  .informasi-pesanan41 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent67 {
    gap: var(--gap-9xl);
  }
  .methods-container1 {
    flex-wrap: wrap;
  }
  .support-details-parent {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer71 {
    gap: var(--gap-mid);
  }
  .atlantica-rebirth {
    gap: var(--gap-2xl);
  }
}
