.main-child {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-1-icon117 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.bstation {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.bstation,
.cara-topup46 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a93,
.pilih-nominal-diamonds46,
.selesaikan-pembayaran46 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a92 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container46 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.recharge-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.content18,
.product-info3 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.product-info3 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.content18 {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift44 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.content-wrapper2,
.gift-wrapper27 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper27 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper27:hover {
  background-color: var(--color-forestgreen);
}
.content-wrapper2 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.main1,
.separator19 {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.main1 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.separator19 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.navbar-left-child4 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming105 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.navbar-left7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home395 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-link-items1,
.home394 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home394 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home397 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper168,
.home396 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home396 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home399 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper169,
.home398 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home398 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home401 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper170,
.home400 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home400 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-parent17 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child37 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-239 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.notification-bell-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light49 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.notification-bell2 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navigation2,
.notification-icon7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.notification-icon7 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navigation2 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe44 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon88 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond175 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-type-name1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon46 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper20 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond-type-icon2,
.diamond174,
.fearrow-down-wrapper20 {
  display: flex;
  align-items: flex-start;
}
.diamond-type-icon2 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond174 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk44 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon89 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond177 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-name10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.dropdown-icon3 {
  width: 16px;
  height: 10px;
  position: relative;
}
.dropdown-icon-wrapper,
.product-icon11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-icon11 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-option2,
.diamond176,
.product-option7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond176 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-option2,
.product-option7 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-option2 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.guarantee-icon4,
.menit-dikirim-atau44 {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.guarantee-icon4 {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau44 {
  height: 73px;
  display: flex;
  align-items: center;
}
.delivery-guarantee5 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22044,
.stok132 {
  position: relative;
}
.stok132 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli132,
.rb264,
.rb265,
.stock-details21,
.terjual132 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli132,
.rb264,
.rb265,
.stock-details21 {
  min-width: 64px;
}
.rb264,
.rb265,
.stock-details21 {
  min-width: 42px;
}
.stock-details21 {
  min-width: 8px;
}
.stock-info29 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span44 {
  font-size: var(--font-size-base);
}
.top-up44 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container42 {
  width: 100%;
}
.rp59100-top-up42 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.purchase-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.product-details7 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-440,
.pengiriman-cepat40,
.product-details7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat40 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-440 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon44 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.option-labels {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.empty4,
.min-beli133,
.rb266,
.rb267,
.stok133,
.terjual133 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.empty4,
.min-beli133,
.rb266,
.rb267,
.terjual133 {
  min-width: 51px;
}
.empty4,
.min-beli133,
.rb266,
.rb267 {
  min-width: 64px;
}
.empty4,
.rb266,
.rb267 {
  flex: 1;
  min-width: 47px;
}
.stock-quantity3 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit90,
.rp4000040 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000040 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price-info1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga127 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express46 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper40 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper40:hover {
  background-color: var(--color-gainsboro-100);
}
.b54,
.min-beli134,
.rb268,
.rb269,
.stok134,
.terjual134 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b54,
.min-beli134,
.rb268,
.rb269,
.terjual134 {
  min-width: 51px;
}
.b54,
.min-beli134,
.rb268,
.rb269 {
  min-width: 64px;
}
.b54,
.rb268,
.rb269 {
  flex: 1;
  min-width: 47px;
}
.stok-parent55 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit91,
.rp6400042 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400042 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent46 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga128 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.additional-options,
.pilihan-harga126 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga126 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.purchase-selection-child,
.tawaran-lain44 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.purchase-selection-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain44 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.purchase-selection {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.offer-separator-child5 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.offer-separator-child6 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.offer-separator4,
.purchase-options7 {
  align-self: stretch;
  justify-content: flex-start;
}
.offer-separator4 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.purchase-options7 {
  font-size: var(--font-size-base);
}
.product-container4,
.product-selection5,
.purchase-options7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.product-selection5 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.product-container4 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.input-fields-child3 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan44,
.user-id44,
.your-id132 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan44 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id44,
.your-id132 {
  font-size: var(--font-size-base);
}
.user-id44 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id132 {
  flex: 1;
}
.user-input-labels2,
.user-inputs3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-inputs3 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-input-labels2 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id133,
.zona-id44 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id44 {
  text-decoration: none;
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id133 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.user-i-d-input8,
.user-input-labels3,
.your-id-wrapper62 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper62 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.user-i-d-input8,
.user-input-labels3 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-i-d-input8 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual44,
.your-id134 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual44 {
  z-index: 3;
}
.your-id134 {
  flex: 1;
}
.note-input20,
.seller-note8 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input20 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.seller-note8 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.increment-icon3 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus44 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.decrement-background-icon2 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus44,
.minus-background4 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus44 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-background4 {
  flex: 1;
  position: relative;
}
.decrement-button4,
.decrement-icon-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-icon-container1 {
  flex: 1;
  gap: var(--gap-9xl);
}
.decrement-button4 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910048,
.subtotal50 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910048 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent22 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrement-button-parent,
.quantity-buttons10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-button-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-buttons10 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit47 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button23 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button23:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.input-fields21,
.product-options7 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.input-fields21 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.product-options7 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-separator-container,
.footer-separator1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-separator1 {
  background-color: var(--color-gainsboro-200);
}
.footer-separator-container {
  margin: 0 !important;
}
.footer-left-child4 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming106 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-left6,
.site-name1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.site-name1 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-left6 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital55 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up55 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-description16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa55 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content34,
.footer-info24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-info24 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content34 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman54 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon54 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.gpay-1-wrapper12 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon54 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.dana-1-wrapper12 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon54 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.spay-1-wrapper12 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon54 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ovo-1-wrapper12 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya54 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-icon-list6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami54 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-icons26 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-method-icons11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom54 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-method-items4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon110 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper66 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp54 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-details42,
.contact-method-items5,
.contact-methods22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-method-items5 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details42,
.contact-methods22 {
  flex-direction: column;
}
.contact-methods22 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-details42 {
  gap: var(--gap-3xs);
}
.contact-separator33 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen54 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga54,
.direktorat-jenderal54,
.kementerian54,
.perdagangan-ri54,
.perlindungan-konsumen54 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container54 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-complaint7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.complaint-image-icon {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.government-logo4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div24 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.complaint-logo7,
.contact-info39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.complaint-logo7 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-info39 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller61 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller54,
.login-reseller54 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller54 {
  min-width: 86px;
}
.contact-info-parent2,
.payment-icons18,
.reseller-options21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-options21 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info-parent2,
.payment-icons18 {
  max-width: 100%;
}
.contact-info-parent2 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-icons18 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi54 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate54,
.blog54,
.kebijakan-privasi54,
.syarat-ketentuan54 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate54,
.blog54,
.kebijakan-privasi54 {
  min-width: 99px;
}
.affiliate54,
.blog54 {
  min-width: 26px;
}
.affiliate54 {
  min-width: 44px;
}
.legal-information2,
.legal-links16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-links16 {
  gap: var(--gap-smi-8);
}
.legal-information2 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami54 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-154,
.icon-instagram-154,
.icon-x-20231018-154 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-154 {
  height: 15.3px;
}
.follow-us3,
.social-icons38 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.follow-us3 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-154 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-links23,
.social-media20 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media20 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-options26 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer78,
.payment-options26,
.payment-security4,
.secure-payment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.secure-payment {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer78,
.payment-security4 {
  box-sizing: border-box;
}
.payment-security4 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer78 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report47 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper17 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer77 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.bstation-bstation {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content34,
  .payment-security4 {
    flex: 1;
  }
  .footer78 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer77 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .content-wrapper2,
  .delivery-guarantee5 {
    flex-wrap: wrap;
  }
  .stock-info29 {
    gap: var(--gap-34xl);
  }
  .component-440 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga126,
  .stock-quantity3,
  .stok-parent55 {
    gap: var(--gap-34xl);
  }
  .product-selection5 {
    gap: var(--gap-22xl);
  }
  .input-fields21 {
    flex: 1;
  }
  .product-options7 {
    flex-wrap: wrap;
  }
  .payment-security4 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .content18 {
    flex-wrap: wrap;
  }
  .home-parent17 {
    display: none;
  }
  .navbar-239 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navigation2 {
    gap: var(--gap-5xl);
  }
  .diamond-option2,
  .pilihan-harga127,
  .pilihan-harga128,
  .purchase-info {
    flex-wrap: wrap;
  }
  .product-container4 {
    min-width: 100%;
  }
  .input-fields21 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-options26 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer78 {
    gap: var(--gap-15xl);
  }
  .bstation-bstation {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .bstation {
    font-size: var(--font-size-lgi);
  }
  .product-info3 {
    min-width: 100%;
  }
  .produk44,
  .tipe44 {
    font-size: var(--font-size-lgi);
  }
  .stock-info29 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat40 {
    gap: var(--gap-mini);
  }
  .component-440 {
    gap: var(--gap-base);
  }
  .stock-quantity3 {
    gap: var(--gap-7xl);
  }
  .rp4000040 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent55 {
    gap: var(--gap-7xl);
  }
  .rp6400042 {
    font-size: var(--font-size-lgi);
  }
  .additional-options {
    gap: var(--gap-8xl);
  }
  .pilihan-harga126 {
    gap: var(--gap-7xl);
  }
  .product-selection5 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan44 {
    font-size: var(--font-size-lgi);
  }
  .input-fields21 {
    gap: var(--gap-9xl);
  }
  .payment-icon-list6 {
    flex-wrap: wrap;
  }
  .contact-info-parent2 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer78 {
    gap: var(--gap-mid);
  }
  .bstation-bstation {
    gap: var(--gap-2xl);
  }
}
