.top-up-rect4 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-16-icon {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.call-of-dragons {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.call-of-dragons,
.cara-topup66 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a133,
.pilih-nominal-diamonds66,
.selesaikan-pembayaran66 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a132 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container66 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.cara-topup-parent16 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.call-of-dragons-login-parent,
.mlbb-jjk-hd-16-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.call-of-dragons-login-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.mlbb-jjk-hd-16-parent {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift65 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.frame-parent189,
.gift-wrapper39 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper39 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper39:hover {
  background-color: var(--color-forestgreen);
}
.frame-parent189 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.navbar-background4,
.top-up-rect-parent1 {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.top-up-rect-parent1 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.navbar-background4 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.frame-child239 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming145 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.frame-parent190 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home556 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-wrapper234,
.home555 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home555 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home558 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper235,
.home557 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home557 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home560 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper236,
.home559 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home559 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home562 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper237,
.home561 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home561 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-parent22 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child57 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-259 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.refund-background5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light69 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.refund-background-group {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar-inner,
.navbar22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.navbar-inner {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar22 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe64 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon128 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond255 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-wrapper55 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon66 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper28 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond254,
.fearrow-down-wrapper28,
.image-3-parent37 {
  display: flex;
  align-items: flex-start;
}
.image-3-parent37 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond254 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk65 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon129 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond257 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.diamond-wrapper56 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.vector-icon140 {
  width: 16px;
  height: 10px;
  position: relative;
}
.image-3-parent38,
.vector-wrapper87 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.image-3-parent38 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-product-container2,
.diamond-type-container1,
.diamond256 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond256 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-product-container2,
.diamond-type-container1 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-type-container1 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.pengiriman-cepat-background {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau64 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.pengiriman-cepat-info {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22064 {
  position: relative;
}
.b78,
.min-beli192,
.rb384,
.rb385,
.stok192,
.terjual192 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b78,
.min-beli192,
.rb384,
.rb385,
.terjual192 {
  min-width: 51px;
}
.b78,
.min-beli192,
.rb384,
.rb385 {
  min-width: 64px;
}
.b78,
.rb384,
.rb385 {
  min-width: 42px;
}
.b78 {
  min-width: 8px;
}
.stok-harga-container {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span64 {
  font-size: var(--font-size-base);
}
.top-up64 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container62 {
  width: 100%;
}
.rp59100-top-up62 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stok-harga-container-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-220-diamonds-parent8 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-460,
.diamond-220-diamonds-parent8,
.pengiriman-cepat60 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat60 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-460 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon64 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.diskon-wrapper7 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.b79,
.min-beli193,
.rb386,
.rb387,
.stok193,
.terjual193 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b79,
.min-beli193,
.rb386,
.rb387,
.terjual193 {
  min-width: 51px;
}
.b79,
.min-beli193,
.rb386,
.rb387 {
  min-width: 64px;
}
.b79,
.rb386,
.rb387 {
  flex: 1;
  min-width: 47px;
}
.stok-parent78 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit131,
.rp4000060 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000060 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent67 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga187 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express66 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper60 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper60:hover {
  background-color: var(--color-gainsboro-100);
}
.b80,
.min-beli194,
.rb388,
.rb389,
.stok194,
.terjual194 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b80,
.min-beli194,
.rb388,
.rb389,
.terjual194 {
  min-width: 51px;
}
.b80,
.min-beli194,
.rb388,
.rb389 {
  min-width: 64px;
}
.b80,
.rb388,
.rb389 {
  flex: 1;
  min-width: 47px;
}
.stok-parent79 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit132,
.rp6400062 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400062 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent68 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga188 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga-parent19,
.pilihan-harga186 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga186 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.product-info-container-child,
.tawaran-lain64 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.product-info-container-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain64 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.product-info-container {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frame-child240 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.frame-child241 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.rectangle-parent97 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.product-info-container-parent {
  align-self: stretch;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.diamond-product-container1,
.diamond-type-container-parent,
.product-info-container-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-type-container-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.diamond-product-container1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child242 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan64,
.user-id64,
.your-id192 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan64 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id64,
.your-id192 {
  font-size: var(--font-size-base);
}
.user-id64 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id192 {
  flex: 1;
}
.user-id-parent7,
.your-id-wrapper88 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper88 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-id-parent7 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id193,
.zona-id64 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id64 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id193 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.informasi-pesanan-parent12,
.your-id-wrapper89,
.zona-id-parent6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper89 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.informasi-pesanan-parent12,
.zona-id-parent6 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.informasi-pesanan-parent12 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual64,
.your-id194 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual64 {
  z-index: 3;
}
.your-id194 {
  flex: 1;
}
.catatan-untuk-penjual-parent30,
.your-id-wrapper90 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper90 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.catatan-untuk-penjual-parent30 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.plus-icon27 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus64 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.minus-background-icon11 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus64,
.minus-button-background11 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus64 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-button-background11 {
  flex: 1;
  position: relative;
}
.icround-minus-parent12,
.minus-subtotal-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icround-minus-parent12 {
  flex: 1;
  gap: var(--gap-9xl);
}
.minus-subtotal-container {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910068,
.subtotal73 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910068 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-label8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.jumlah-input-container,
.minus-subtotal-container-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-subtotal-container-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.jumlah-input-container {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit67 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button34 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button34:hover {
  background-color: var(--color-goldenrod-200);
}
.jumlah-input-container-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.diamond-product-container-group,
.rectangle-parent98 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent98 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.diamond-product-container-group {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-top-border-wrapper3,
.footer-top-border5 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-top-border5 {
  background-color: var(--color-gainsboro-200);
}
.footer-top-border-wrapper3 {
  margin: 0 !important;
}
.footer-left-child8 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming146 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-brand13,
.footer-left10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-brand13 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-left10 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital75 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up75 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-description23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa75 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content40,
.footer-info33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-info33 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content40 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman74 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon74 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.gpay-1-wrapper19 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon74 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.dana-1-wrapper19 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon74 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.spay-1-wrapper19 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon74 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ovo-1-wrapper19 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya74 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-options35 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami74 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-icon-images4 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-icons43 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom74 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-icons-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon141 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper88 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp74 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-links23,
.contact-methods30,
.frame-parent191 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent191 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-links23,
.contact-methods30 {
  flex-direction: column;
}
.contact-methods30 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-links23 {
  gap: var(--gap-3xs);
}
.contact-separator46 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen74 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga74,
.direktorat-jenderal74,
.kementerian74,
.perdagangan-ri74,
.perlindungan-konsumen74 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container74 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-info16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.government-logo-icon2 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.complaint-image2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.complaint-number {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.complaint-logo10,
.contact-details57 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.complaint-logo10 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details57 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller83 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller74,
.login-reseller74 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller74 {
  min-width: 86px;
}
.contact-us4,
.icon-list3,
.reseller-options29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-options29 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-us4,
.icon-list3 {
  max-width: 100%;
}
.contact-us4 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.icon-list3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi74 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate74,
.blog74,
.kebijakan-privasi74,
.syarat-ketentuan74 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate74,
.blog74,
.kebijakan-privasi74 {
  min-width: 99px;
}
.affiliate74,
.blog74 {
  min-width: 26px;
}
.affiliate74 {
  min-width: 44px;
}
.info-links-wrapper5,
.info-links18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-links18 {
  gap: var(--gap-smi-8);
}
.info-links-wrapper5 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami74 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-174,
.icon-instagram-174,
.icon-x-20231018-174 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-174 {
  height: 15.3px;
}
.icon-facebook-1-parent8,
.social-icons51 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-icons51 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-174 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-links36,
.social-media28 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media28 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-icons28 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer-right7,
.footer108,
.payment-icons28,
.payment-info28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-info28 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-right7,
.footer108 {
  box-sizing: border-box;
}
.footer-right7 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer108 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report67 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper27 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer107 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.call-of-dragons-login {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content40,
  .footer-right7 {
    flex: 1;
  }
  .footer108 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer107 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .frame-parent189,
  .pengiriman-cepat-info {
    flex-wrap: wrap;
  }
  .stok-harga-container {
    gap: var(--gap-34xl);
  }
  .component-460 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga186,
  .stok-parent78,
  .stok-parent79 {
    gap: var(--gap-34xl);
  }
  .diamond-type-container-parent {
    gap: var(--gap-22xl);
  }
  .rectangle-parent98 {
    flex: 1;
  }
  .diamond-product-container-group {
    flex-wrap: wrap;
  }
  .footer-right7 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .mlbb-jjk-hd-16-parent {
    flex-wrap: wrap;
  }
  .home-parent22 {
    display: none;
  }
  .navbar-259 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar22 {
    gap: var(--gap-5xl);
  }
  .diamond-type-container1,
  .pilihan-harga187,
  .pilihan-harga188,
  .stok-harga-container-parent {
    flex-wrap: wrap;
  }
  .diamond-product-container1 {
    min-width: 100%;
  }
  .rectangle-parent98 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-icons28 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer108 {
    gap: var(--gap-15xl);
  }
  .call-of-dragons-login {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .call-of-dragons {
    font-size: var(--font-size-lgi);
  }
  .call-of-dragons-login-parent {
    min-width: 100%;
  }
  .produk65,
  .tipe64 {
    font-size: var(--font-size-lgi);
  }
  .stok-harga-container {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat60 {
    gap: var(--gap-mini);
  }
  .component-460 {
    gap: var(--gap-base);
  }
  .stok-parent78 {
    gap: var(--gap-7xl);
  }
  .rp4000060 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent79 {
    gap: var(--gap-7xl);
  }
  .rp6400062 {
    font-size: var(--font-size-lgi);
  }
  .pilihan-harga-parent19 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga186 {
    gap: var(--gap-7xl);
  }
  .diamond-type-container-parent {
    gap: var(--gap-xl);
  }
  .informasi-pesanan64 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent98 {
    gap: var(--gap-9xl);
  }
  .contact-us4,
  .payment-options35 {
    flex-wrap: wrap;
  }
  .contact-us4 {
    gap: var(--gap-2xl);
  }
  .footer108 {
    gap: var(--gap-mid);
  }
  .call-of-dragons-login {
    gap: var(--gap-2xl);
  }
}
