.background-icon {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-6-icon3 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.coin-master- {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup70,
.coin-master- {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a141,
.pilih-nominal-diamonds70,
.selesaikan-pembayaran70 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a140 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container70 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.topup-info7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.login-input,
.zone-i-d-input2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.zone-i-d-input2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.login-input {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift69 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-label3,
.login-form2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-label3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-label3:hover {
  background-color: var(--color-forestgreen);
}
.login-form2 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.background-parent,
.content31 {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.background-parent {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content31 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.brand-item {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming153 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.brand1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home588 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-items1,
.home587 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home587 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home590 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper248,
.home589 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home589 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home592 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper249,
.home591 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home591 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home594 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper250,
.home593 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home593 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-menu {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child61 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-263 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.notification-badge {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light73 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.notification-icon11 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navigation8,
.notification1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.notification1 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navigation8 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe68 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon136 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond271 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-name2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon70 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dropdown4 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond-image4,
.diamond270,
.dropdown4 {
  display: flex;
  align-items: flex-start;
}
.diamond-image4 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond270 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk69 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon137 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond273 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-name14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.vector-icon147 {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-expand3,
.product-image23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-image23 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond272,
.product-item2,
.product-option10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond272 {
  align-self: stretch;
  gap: var(--gap-base);
}
.product-item2,
.product-option10 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.product-item2 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-badge-icon,
.menit-dikirim-atau68 {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.delivery-badge-icon {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau68 {
  height: 73px;
  display: flex;
  align-items: center;
}
.delivery-icon18 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22068,
.stok204 {
  position: relative;
}
.stok204 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.delivery-numbers,
.min-beli204,
.rb408,
.rb409,
.terjual204 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.delivery-numbers,
.min-beli204,
.rb408,
.rb409 {
  min-width: 64px;
}
.delivery-numbers,
.rb408,
.rb409 {
  min-width: 42px;
}
.delivery-numbers {
  min-width: 8px;
}
.delivery-count {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span68 {
  font-size: var(--font-size-base);
}
.top-up68 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container66 {
  width: 100%;
}
.rp59100-top-up66 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.delivery-stats1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.delivery-details8 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-464,
.delivery-details8,
.pengiriman-cepat64 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat64 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-464 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon68 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.option-type1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.min-beli205,
.rb410,
.rb411,
.separator35,
.stok205,
.terjual205 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli205,
.rb410,
.rb411,
.separator35,
.terjual205 {
  min-width: 51px;
}
.min-beli205,
.rb410,
.rb411,
.separator35 {
  min-width: 64px;
}
.rb410,
.rb411,
.separator35 {
  flex: 1;
  min-width: 47px;
}
.option-value {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit139,
.rp4000064 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000064 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.price-info8 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga199 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express70 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper64 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper64:hover {
  background-color: var(--color-gainsboro-100);
}
.b85,
.min-beli206,
.rb412,
.rb413,
.stok206,
.terjual206 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b85,
.min-beli206,
.rb412,
.rb413,
.terjual206 {
  min-width: 51px;
}
.b85,
.min-beli206,
.rb412,
.rb413 {
  min-width: 64px;
}
.b85,
.rb412,
.rb413 {
  flex: 1;
  min-width: 47px;
}
.stok-parent83 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit140,
.rp6400066 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400066 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent72 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga200 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.option-list4,
.pilihan-harga198 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga198 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.price-details-child,
.tawaran-lain68 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.price-details-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain68 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.input-child,
.price-details1 {
  position: relative;
  max-width: 100%;
}
.price-details1 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.input-child {
  height: 170px;
  width: 901px;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.input-divider-icon4 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.input,
.price-option9 {
  align-self: stretch;
  justify-content: flex-start;
}
.input {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.price-option9 {
  font-size: var(--font-size-base);
}
.price-option9,
.product-content1,
.product-type10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.product-type10 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.product-content1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.order-child {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan68,
.user-id68,
.your-id204 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan68 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id68,
.your-id204 {
  font-size: var(--font-size-base);
}
.user-id68 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id204 {
  flex: 1;
}
.i-d-input,
.i-d-labels5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-d-input {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.i-d-labels5 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id205,
.zona-id68 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id68 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id205 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.i-d-labels6,
.user-i-d,
.your-id-wrapper95 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper95 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.i-d-labels6,
.user-i-d {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-i-d {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual68,
.your-id206 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual68 {
  z-index: 3;
}
.your-id206 {
  flex: 1;
}
.note,
.note-input33 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input33 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.note {
  flex-direction: column;
  gap: var(--gap-smi);
}
.plus-icon28 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus68 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.minus-sign-icon3 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus68,
.minus-sign5 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus68 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-sign5 {
  flex: 1;
  position: relative;
}
.minus-button26,
.minus-icon18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-icon18 {
  flex: 1;
  gap: var(--gap-9xl);
}
.minus-button26 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910072,
.subtotal77 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910072 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent36 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrease,
.quantity-control38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrease {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-control38 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit71 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-wrapper10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-wrapper10:hover {
  background-color: var(--color-goldenrod-200);
}
.order,
.product106,
.quantity10 {
  display: flex;
  justify-content: flex-start;
}
.quantity10 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.order,
.product106 {
  box-sizing: border-box;
  max-width: 100%;
}
.order {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.product106 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-background-wrapper23,
.footer-background28 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-background28 {
  background-color: var(--color-gainsboro-200);
}
.footer-background-wrapper23 {
  margin: 0 !important;
}
.frame-child248 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming154 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.frame-parent198,
.lapak-gaming-wrapper18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lapak-gaming-wrapper18 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.frame-parent198 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital79 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up79 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.pt-global-digital-indokreasi-parent14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa79 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.frame-parent197,
.frame-parent199 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent199 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.frame-parent197 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman78 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon78 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-icon-container1 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon78 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-icon-container2 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon78 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-icon-container3 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon78 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-icon-container4 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya78 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-method-icon-container-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami78 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-icons45 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-method-icons17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom78 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-option-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon148 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper92 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp78 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-option-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-option-container-parent,
.hubungi-kami-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-option-container-parent {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.hubungi-kami-parent6 {
  gap: var(--gap-3xs);
}
.contact-separator48 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen78 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga78,
.direktorat-jenderal78,
.kementerian78,
.perdagangan-ri78,
.perlindungan-konsumen78 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container78 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.layanan-pengaduan-konsumen-parent12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.ministry-icon2 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.ministry-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div27 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.frame-parent203,
.frame-parent204 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent204 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.frame-parent203 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller87 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller78,
.login-reseller78 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller78 {
  min-width: 86px;
}
.frame-parent201,
.frame-parent202,
.reseller-parent15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-parent15 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.frame-parent201,
.frame-parent202 {
  max-width: 100%;
}
.frame-parent202 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.frame-parent201 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi78 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate78,
.blog78,
.kebijakan-privasi78,
.syarat-ketentuan78 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate78,
.blog78,
.kebijakan-privasi78 {
  min-width: 99px;
}
.affiliate78,
.blog78 {
  min-width: 26px;
}
.affiliate78 {
  min-width: 44px;
}
.frame-wrapper57,
.informasi-parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.informasi-parent7 {
  gap: var(--gap-smi-8);
}
.frame-wrapper57 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami78 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-178,
.icon-instagram-178,
.icon-x-20231018-178 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-178 {
  height: 15.3px;
}
.icon-facebook-1-parent10,
.ikuti-kami-parent10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.ikuti-kami-parent10 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-178 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-links-container-container,
.social-links-container4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-links-container-container {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.frame-parent200 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer-inner23,
.footer114,
.frame-parent200,
.pembayaran-aman-parent16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.pembayaran-aman-parent16 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-inner23,
.footer114 {
  box-sizing: border-box;
}
.footer-inner23 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer114 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report71 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper30 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--primery-color);
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.report-wrapper30:hover {
  background-color: var(--color-cornflowerblue);
}
.footer-parent10 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.coin-master-login {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-inner23,
  .frame-parent197 {
    flex: 1;
  }
  .footer114 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-parent10 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-icon18,
  .login-form2 {
    flex-wrap: wrap;
  }
  .delivery-count {
    gap: var(--gap-34xl);
  }
  .component-464 {
    gap: var(--gap-12xl);
  }
  .option-value,
  .pilihan-harga198,
  .stok-parent83 {
    gap: var(--gap-34xl);
  }
  .product-type10 {
    gap: var(--gap-22xl);
  }
  .order {
    flex: 1;
  }
  .product106 {
    flex-wrap: wrap;
  }
  .footer-inner23 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .login-input {
    flex-wrap: wrap;
  }
  .home-menu {
    display: none;
  }
  .navbar-263 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navigation8 {
    gap: var(--gap-5xl);
  }
  .delivery-stats1,
  .pilihan-harga199,
  .pilihan-harga200,
  .product-item2 {
    flex-wrap: wrap;
  }
  .product-content1 {
    min-width: 100%;
  }
  .order {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .frame-parent200 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer114 {
    gap: var(--gap-15xl);
  }
  .coin-master-login {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .coin-master- {
    font-size: var(--font-size-lgi);
  }
  .zone-i-d-input2 {
    min-width: 100%;
  }
  .produk69,
  .tipe68 {
    font-size: var(--font-size-lgi);
  }
  .delivery-count {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat64 {
    gap: var(--gap-mini);
  }
  .component-464 {
    gap: var(--gap-base);
  }
  .option-value {
    gap: var(--gap-7xl);
  }
  .rp4000064 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent83 {
    gap: var(--gap-7xl);
  }
  .rp6400066 {
    font-size: var(--font-size-lgi);
  }
  .option-list4 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga198 {
    gap: var(--gap-7xl);
  }
  .product-type10 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan68 {
    font-size: var(--font-size-lgi);
  }
  .order {
    gap: var(--gap-9xl);
  }
  .payment-method-icon-container-parent {
    flex-wrap: wrap;
  }
  .frame-parent202 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer114 {
    gap: var(--gap-mid);
  }
  .coin-master-login {
    gap: var(--gap-2xl);
  }
}
