.container-icon {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.image-2-icon5 {
  height: 107px;
  width: 107px;
  position: relative;
  object-fit: cover;
}
.mobile-laggends5 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup5,
.mobile-laggends5 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a11,
.pilih-nominal-diamonds5,
.selesaikan-pembayaran5 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a10 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.top-up-instructions1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.image-2-parent1,
.mobile-laggends-group {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.mobile-laggends-group {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.image-2-parent1 {
  width: 662px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift3 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.gift-container:hover {
  background-color: var(--color-forestgreen);
}
.frame-parent25,
.game-discount {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent25 {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.game-discount {
  width: 1131px;
  margin: 0 !important;
  position: absolute;
  top: 151px;
  left: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.tag-hd-logo-inner {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming7 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.tag-hd-logo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home10 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tag-hd-link-normal8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home11 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tag-hd-link-normal9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home12 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tag-hd-link-normal10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home13 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tag-hd-link-normal11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.tag-hd-nav-link2 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.tag-header-item {
  height: 30px;
  width: 30px;
  position: relative;
}
.tag-header2 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.search-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light8 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.search-icon {
  height: 28px;
  flex: 1;
  position: relative;
}
.search,
.tag-header-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.search {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.tag-header-parent {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon6 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond11 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon5 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-container {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond-type-image,
.diamond10,
.fearrow-down-container {
  display: flex;
  align-items: flex-start;
}
.diamond-type-image {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond10 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon7 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond13 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.vector-icon18 {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-image1,
.vector-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-image1 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-type-option,
.diamond12,
.product-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond12 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-type-option,
.product-option {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-type-option {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.offer-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  width: 100%;
  height: 100%;
}
.offer-child {
  position: absolute;
  top: 131px;
  left: 506px;
  width: 213px;
  height: 41px;
  z-index: 1;
}
.offer,
.tawaran-lain3 {
  position: absolute;
  margin: 0 !important;
  left: 0;
}
.offer {
  width: 811px;
  height: 209px;
  top: 0;
}
.tawaran-lain3 {
  width: 213px;
  bottom: 221px;
  display: flex;
  align-items: center;
}
.discount-highlight-icon {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau3 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.discount-background {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-2203 {
  position: relative;
}
.min-beli9,
.rb18,
.rb19,
.stock-labels,
.stok9,
.terjual9 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli9,
.rb18,
.rb19,
.stock-labels,
.terjual9 {
  min-width: 51px;
}
.min-beli9,
.rb18,
.rb19,
.stock-labels {
  min-width: 64px;
}
.rb18,
.rb19,
.stock-labels {
  flex: 1;
  min-width: 47px;
}
.stock-details2 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span3 {
  font-size: var(--font-size-base);
}
.top-up3 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp40000-top-up-txt-container {
  width: 100%;
}
.rp40000-top-up {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.diamond-details1,
.stock-info1 {
  align-self: stretch;
  box-sizing: border-box;
}
.stock-info1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-details1 {
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.diamond-details1,
.diskon4,
.pilihan-harga4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.diskon4 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
}
.pilihan-harga4 {
  width: 811px;
}
.pengiriman-instan {
  position: relative;
}
.delivery-info1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) 0;
  white-space: nowrap;
  cursor: pointer;
}
.min-beli10,
.rb20,
.rb21,
.separator1,
.stok10,
.terjual10 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli10,
.rb20,
.rb21,
.separator1,
.terjual10 {
  min-width: 51px;
}
.min-beli10,
.rb20,
.rb21,
.separator1 {
  min-width: 64px;
}
.rb20,
.rb21,
.separator1 {
  flex: 1;
  min-width: 47px;
}
.alt-stock {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit6,
.rp591005 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp591005 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 105px;
  white-space: nowrap;
}
.unit-price1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga5 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express3 {
  position: relative;
  display: inline-block;
  min-width: 60px;
}
.express-frame {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-18xl);
  cursor: pointer;
}
.b4,
.min-beli11,
.rb22,
.rb23,
.stok11,
.terjual11 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b4,
.min-beli11,
.rb22,
.rb23,
.terjual11 {
  min-width: 51px;
}
.b4,
.min-beli11,
.rb22,
.rb23 {
  min-width: 64px;
}
.b4,
.rb22,
.rb23 {
  flex: 1;
  min-width: 47px;
}
.stok-parent3 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit7,
.rp640001 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp640001 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.alternative-price,
.component-6 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.alternative-price {
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xs-5) 0;
  gap: var(--gap-35xl);
}
.offer-list1,
.pilihan-harga3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pilihan-harga3 {
  align-self: stretch;
  gap: var(--gap-87xl);
  max-width: 100%;
  z-index: 2;
}
.offer-list1 {
  width: 882px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.divider-child,
.divider-item,
.offer-list1 {
  position: relative;
  max-width: 100%;
}
.divider-child {
  height: 170px;
  width: 901px;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.divider-item {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 3;
}
.divider,
.offers {
  align-self: stretch;
  justify-content: flex-start;
}
.divider {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -174px;
}
.offers {
  font-size: var(--font-size-base);
}
.diamond-options,
.offers,
.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-options {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-56xl);
}
.options {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 29px;
  box-sizing: border-box;
}
.input-fields-child {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan3,
.user-id3,
.your-id9 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan3 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id3,
.your-id9 {
  font-size: var(--font-size-base);
}
.user-id3 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id9 {
  flex: 1;
}
.i-d-inputs,
.i-d-labels2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-d-inputs {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.i-d-labels2 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id10,
.zona-id3 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id3 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id10 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.i-d-fields,
.i-d-labels3,
.your-id-wrapper3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper3 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.i-d-fields,
.i-d-labels3 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.i-d-fields {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual3,
.your-id11 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual3 {
  z-index: 3;
}
.your-id11 {
  flex: 1;
}
.note-input2,
.notes {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input2 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.notes {
  flex-direction: column;
  gap: var(--gap-smi);
}
.add-icon {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus3 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.minus-icon1 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus3,
.minus-background {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus3 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-background {
  flex: 1;
  position: relative;
}
.remove-button,
.remove-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.remove-icon {
  flex: 1;
  gap: var(--gap-9xl);
}
.remove-button {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp591006,
.subtotal3 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp591006 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-label {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.quantity-controls,
.remove {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.remove {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-controls {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit5 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button-wrapper:hover {
  background-color: var(--color-goldenrod-200);
}
.content2,
.input-fields2,
.quantity {
  display: flex;
  justify-content: flex-start;
}
.quantity {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.content2,
.input-fields2 {
  box-sizing: border-box;
  max-width: 100%;
}
.input-fields2 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.content2 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-background-container,
.footer-background1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-background1 {
  background-color: var(--color-gainsboro-200);
}
.footer-background-container {
  margin: 0 !important;
}
.footer-columns-child {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming8 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-columns,
.lapak-gaming-logo-name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lapak-gaming-logo-name {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-columns {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital6,
.website-top-up6 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up6 {
  font-weight: 300;
  z-index: 2;
}
.company-info3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa6 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.company-info-column,
.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-info-column {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content-wrapper {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman5 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon5 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.primary-payment-icons {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon5 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.primary-payment-icons1 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon5 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.primary-payment-icons2 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon5 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.primary-payment-icons3 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya5 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-icons2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami5 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-platform-icons1 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-icons3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom5 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-options2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon19 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp5 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-methods3,
.contact-options3,
.contact-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-options3 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-methods3,
.contact-title {
  flex-direction: column;
}
.contact-methods3 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-title {
  gap: var(--gap-3xs);
}
.contact-separator2 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen5 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga5,
.direktorat-jenderal5,
.kementerian5,
.perdagangan-ri5,
.perlindungan-konsumen5 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container5 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.report-issue-icon {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.report-issue-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div5 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.contact-info4,
.report-issue {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.report-issue {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-info4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.daftar-reseller5,
.login-reseller5,
.reseller6 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.reseller6 {
  font-size: var(--text-16-size);
  font-weight: 600;
  min-width: 56px;
}
.daftar-reseller5,
.login-reseller5 {
  font-weight: 300;
  min-width: 80px;
}
.daftar-reseller5 {
  min-width: 86px;
}
.reseller-options3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info-column,
.payment-method-icons2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-info-column {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-method-icons2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi5 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate5,
.blog5,
.kebijakan-privasi5,
.syarat-ketentuan5 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate5,
.blog5,
.kebijakan-privasi5 {
  min-width: 99px;
}
.affiliate5,
.blog5 {
  min-width: 26px;
}
.affiliate5 {
  min-width: 44px;
}
.info-column,
.info-links2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-links2 {
  gap: var(--gap-smi-8);
}
.info-column {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami5 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-15,
.icon-instagram-15,
.icon-x-20231018-15 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-15 {
  height: 15.3px;
}
.social-icons4,
.social-platforms {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-icons4 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-15 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-column,
.social-links2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-column {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods3 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer11,
.payment-info-column,
.payment-info3,
.payment-methods3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-info3 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer11,
.payment-info-column {
  box-sizing: border-box;
}
.payment-info-column {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report6 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper3 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-wrapper {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.diskon3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content-wrapper,
  .payment-info-column {
    flex: 1;
  }
  .footer11 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-wrapper {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .frame-parent25 {
    flex-wrap: wrap;
  }
  .stock-details2 {
    gap: var(--gap-34xl);
  }
  .pilihan-harga4 {
    gap: var(--gap-12xl);
  }
  .alt-stock,
  .pilihan-harga3,
  .stok-parent3 {
    gap: var(--gap-34xl);
  }
  .diamond-options {
    gap: var(--gap-18xl);
  }
  .input-fields2 {
    flex: 1;
  }
  .content2 {
    flex-wrap: wrap;
  }
  .payment-info-column {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .image-2-parent1 {
    flex-wrap: wrap;
  }
  .tag-hd-nav-link2 {
    display: none;
  }
  .tag-header2 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .tag-header-parent {
    gap: var(--gap-5xl);
  }
  .component-6,
  .diamond-type-option,
  .discount-background,
  .pilihan-harga5,
  .stock-info1 {
    flex-wrap: wrap;
  }
  .options {
    min-width: 100%;
  }
  .input-fields2 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods3 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer11 {
    gap: var(--gap-15xl);
  }
  .diskon3 {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .mobile-laggends5 {
    font-size: var(--font-size-lgi);
  }
  .mobile-laggends-group {
    min-width: 100%;
  }
  .produk3,
  .tipe3 {
    font-size: var(--font-size-lgi);
  }
  .stock-details2 {
    gap: var(--gap-7xl);
  }
  .diskon4 {
    gap: var(--gap-mini);
  }
  .pilihan-harga4 {
    gap: var(--gap-base);
  }
  .alt-stock {
    gap: var(--gap-7xl);
  }
  .rp591005 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent3 {
    gap: var(--gap-7xl);
  }
  .rp640001 {
    font-size: var(--font-size-lgi);
  }
  .alternative-price {
    gap: var(--gap-8xl);
  }
  .pilihan-harga3 {
    gap: var(--gap-7xl);
  }
  .diamond-options {
    gap: var(--gap-lgi);
  }
  .informasi-pesanan3 {
    font-size: var(--font-size-lgi);
  }
  .input-fields2 {
    gap: var(--gap-9xl);
  }
  .payment-icons2 {
    flex-wrap: wrap;
  }
  .contact-info-column {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer11 {
    gap: var(--gap-mid);
  }
  .diskon3 {
    gap: var(--gap-2xl);
  }
}
