.top-banner-icon1 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-10-icon2 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.dragon-hunter- {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup72,
.dragon-hunter- {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a145,
.pilih-nominal-diamonds72,
.selesaikan-pembayaran72 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a144 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container72 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.topup-info8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.login-details,
.login-label {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.login-label {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.login-details {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift71 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-wrapper43,
.login-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper43 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper43:hover {
  background-color: var(--color-forestgreen);
}
.login-banner {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.content32,
.header1 {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.header1 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content32 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.brand-inner {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming157 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.brand2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home604 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-link-items5,
.home603 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home603 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home606 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper255,
.home605 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home605 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home608 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper256,
.home607 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home607 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home610 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper257,
.home609 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home609 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-parent24 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child63 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-265 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.profile-background2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light75 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.profile-icon6 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar25,
.profile1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.profile1 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar25 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe70 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon140 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond279 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.product-diamond-label1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon72 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.product-dropdown21,
.product-image-container6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.product-image-container6 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond278 {
  width: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk71 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon141 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond281 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-diamond-label2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.dropdown-icon8 {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-dropdown22,
.product-image-container7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-image-container7 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond280,
.product-item3,
.product-item4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond280 {
  align-self: stretch;
  gap: var(--gap-base);
}
.product-item3,
.product-item4 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.product-item3 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-background-icon4 {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau70 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.delivery-icon19 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22070,
.stok210 {
  position: relative;
}
.stok210 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli210,
.product-stat-labels,
.rb420,
.rb421,
.terjual210 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli210,
.product-stat-labels,
.rb420,
.rb421 {
  min-width: 64px;
}
.product-stat-labels,
.rb420,
.rb421 {
  min-width: 42px;
}
.product-stat-labels {
  min-width: 8px;
}
.product-stats {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span70 {
  font-size: var(--font-size-base);
}
.top-up70 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container68 {
  width: 100%;
}
.rp59100-top-up68 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.product-price2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.product-stock3 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-466,
.pengiriman-cepat66,
.product-stock3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat66 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-466 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon70 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.variation-labels {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.stok211 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli211,
.rb422,
.rb423,
.terjual211,
.variation-values1 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli211,
.rb422,
.rb423,
.variation-values1 {
  min-width: 64px;
}
.rb422,
.rb423,
.variation-values1 {
  flex: 1;
  min-width: 47px;
}
.variation-values {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit143,
.rp4000066 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000066 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.variation-values2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga205 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express72 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper66 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper66:hover {
  background-color: var(--color-gainsboro-100);
}
.b87,
.min-beli212,
.rb424,
.rb425,
.stok212,
.terjual212 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b87,
.min-beli212,
.rb424,
.rb425,
.terjual212 {
  min-width: 51px;
}
.b87,
.min-beli212,
.rb424,
.rb425 {
  min-width: 64px;
}
.b87,
.rb424,
.rb425 {
  flex: 1;
  min-width: 47px;
}
.stok-parent86 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit144,
.rp6400068 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400068 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent75 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga206 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga204,
.product-variations3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga204 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.product-info-item,
.tawaran-lain70 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.product-info-item {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain70 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.product-info6 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.offer-separator-child13 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.offer-separator-child14 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.offer-separator8,
.product-details15 {
  align-self: stretch;
  justify-content: flex-start;
}
.offer-separator8 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.product-details15 {
  font-size: var(--font-size-base);
}
.product-details15,
.products-wrapper,
.products1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.products1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.products-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.order-form-child5 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan70,
.user-id70,
.your-id210 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan70 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id70,
.your-id210 {
  font-size: var(--font-size-base);
}
.user-id70 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id210 {
  flex: 1;
}
.input-fields32,
.input-labels46 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-fields32 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.input-labels46 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id211,
.zona-id70 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id70 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id211 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.input-labels47,
.user-id-input8,
.your-id-wrapper98 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper98 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.input-labels47,
.user-id-input8 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-id-input8 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual70,
.your-id212 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual70 {
  z-index: 3;
}
.your-id212 {
  flex: 1;
}
.note-field,
.note-input34 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-field {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.note-input34 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.increment-icon8 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus70 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.decrement-background-icon7 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus70,
.quantity-adjust1 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus70 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.quantity-adjust1 {
  flex: 1;
  position: relative;
}
.decrement-button9,
.decrement-icon1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-icon1 {
  flex: 1;
  gap: var(--gap-9xl);
}
.decrement-button9 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910074,
.subtotal79 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910074 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-display3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrement-container4,
.quantity-buttons19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-container4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-buttons19 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit73 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button37 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button37:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control40 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.main3,
.order-form8 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.order-form8 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.main3 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-top-border-wrapper5,
.footer-top-border7 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-top-border7 {
  background-color: var(--color-gainsboro-200);
}
.footer-top-border-wrapper5 {
  margin: 0 !important;
}
.brand-info-child1 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming158 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.brand-info3,
.brand-name-container2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand-name-container2 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.brand-info3 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital81 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up81 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.company-details13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa81 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.company-info26,
.footer-content42 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-info26 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content42 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman80 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon80 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.gpay-1-wrapper22 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon80 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.dana-1-wrapper22 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon80 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.spay-1-wrapper22 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon80 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ovo-1-wrapper22 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya80 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-icons29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami80 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-channel-icon {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-channel-icons2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom80 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-channel-icons-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon150 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper94 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp80 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-channels2,
.contact-options35,
.frame-parent209 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent209 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-channels2,
.contact-options35 {
  flex-direction: column;
}
.contact-channels2 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-options35 {
  gap: var(--gap-3xs);
}
.contact-info-separator5 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen80 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga80,
.direktorat-jenderal80,
.kementerian80,
.perdagangan-ri80,
.perlindungan-konsumen80 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container80 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-complaint11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.complaint-logo-image1 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.complaint-logo-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.copyright2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.complaint-logo11,
.contact-details61 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.complaint-logo11 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details61 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller89 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller80,
.login-reseller80 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller80 {
  min-width: 86px;
}
.reseller-options31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-details-parent8,
.payment-icon-list15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-details-parent8 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-icon-list15 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi80 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate80,
.blog80,
.kebijakan-privasi80,
.syarat-ketentuan80 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate80,
.blog80,
.kebijakan-privasi80 {
  min-width: 99px;
}
.affiliate80,
.blog80 {
  min-width: 26px;
}
.affiliate80 {
  min-width: 44px;
}
.info-links19,
.information-links12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.information-links12 {
  gap: var(--gap-smi-8);
}
.info-links19 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami80 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-180,
.icon-instagram-180,
.icon-x-20231018-180 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-180 {
  height: 15.3px;
}
.icon-facebook-1-parent11,
.social-icons55 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-icons55 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-180 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-links40,
.social-media29 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media29 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-method-icons37 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer117,
.payment-method-icons37,
.payment-methods49,
.payment-support {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-methods49 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer117,
.payment-support {
  box-sizing: border-box;
}
.payment-support {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer117 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report73 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.report-issue3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--primery-color);
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.report-issue3:hover {
  background-color: var(--color-cornflowerblue);
}
.footer-container16 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.dragon-hunter-login {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content42,
  .payment-support {
    flex: 1;
  }
  .footer117 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-container16 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-icon19,
  .login-banner {
    flex-wrap: wrap;
  }
  .product-stats {
    gap: var(--gap-34xl);
  }
  .component-466 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga204,
  .stok-parent86,
  .variation-values {
    gap: var(--gap-34xl);
  }
  .products1 {
    gap: var(--gap-22xl);
  }
  .order-form8 {
    flex: 1;
  }
  .main3 {
    flex-wrap: wrap;
  }
  .payment-support {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .login-details {
    flex-wrap: wrap;
  }
  .home-parent24 {
    display: none;
  }
  .navbar-265 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar25 {
    gap: var(--gap-5xl);
  }
  .pilihan-harga205,
  .pilihan-harga206,
  .product-item3,
  .product-price2 {
    flex-wrap: wrap;
  }
  .products-wrapper {
    min-width: 100%;
  }
  .order-form8 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-method-icons37 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer117 {
    gap: var(--gap-15xl);
  }
  .dragon-hunter-login {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .dragon-hunter- {
    font-size: var(--font-size-lgi);
  }
  .login-label {
    min-width: 100%;
  }
  .produk71,
  .tipe70 {
    font-size: var(--font-size-lgi);
  }
  .product-stats {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat66 {
    gap: var(--gap-mini);
  }
  .component-466 {
    gap: var(--gap-base);
  }
  .variation-values {
    gap: var(--gap-7xl);
  }
  .rp4000066 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent86 {
    gap: var(--gap-7xl);
  }
  .rp6400068 {
    font-size: var(--font-size-lgi);
  }
  .product-variations3 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga204 {
    gap: var(--gap-7xl);
  }
  .products1 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan70 {
    font-size: var(--font-size-lgi);
  }
  .order-form8 {
    gap: var(--gap-9xl);
  }
  .payment-icons29 {
    flex-wrap: wrap;
  }
  .contact-details-parent8 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer117 {
    gap: var(--gap-mid);
  }
  .dragon-hunter-login {
    gap: var(--gap-2xl);
  }
}
