body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --text-16: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --text-16-size: 14px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --semi-bold-24-size: 24px;
  --font-size-lgi: 19px;
  --font-size-base: 16px;
  --font-size-5xs: 8px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-white: #fff;
  --black-color: #262626;
  --primery-color: #023e8a;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #d9d9d9;
  --color-deepskyblue-100: #269edb;
  --color3: #00b4d8;
  --color-steelblue-100: #009cbf;
  --color2: #0096c7;
  --color1: #0077b6;
  --color-cornflowerblue: #2963b0;
  --color-black: #000;
  --color-goldenrod-100: #ffcc4d;
  --color-goldenrod-200: #e6b333;
  --color-yellowgreen: #cbd83d;
  --color-darkslategray: #475569;
  --color-limegreen-100: #69cf4f;
  --color-limegreen-200: #45d157;
  --color-limegreen-300: #2bb73d;
  --color-forestgreen: #369c1c;
  --color-secondry: #f7f7f7;

  /* Gaps */
  --gap-94xl-5: 113.5px;
  --gap-9xl: 28px;
  --gap-38xl: 57px;
  --gap-116xl: 135px;
  --gap-48xl: 67px;
  --gap-mid: 17px;
  --gap-15xl: 34px;
  --gap-3xs: 10px;
  --gap-20xl-5: 39.5px;
  --gap-xl: 20px;
  --gap-smi: 13px;
  --gap-4xs: 9px;
  --gap-smi-8: 12.8px;
  --gap-11xl: 30px;
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-smi-5: 12.5px;
  --gap-2xl-7: 21.7px;
  --gap-8xs: 5px;
  --gap-6xs: 7px;
  --gap-xl-5: 20.5px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-lgi-9: 19.9px;
  --gap-66xl: 85px;
  --gap-4xs-3: 8.3px;
  --gap-2xs: 11px;
  --gap-6xl: 25px;
  --gap-sm: 14px;
  --gap-63xl: 82px;
  --gap-22xl: 41px;
  --gap-87xl: 106px;
  --gap-7xl: 26px;
  --gap-34xl: 53px;
  --gap-35xl: 54px;
  --gap-8xl: 27px;
  --gap-base: 16px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-29xl: 48px;
  --gap-2xs-1: 10.1px;
  --gap-11xl-1: 30.1px;
  --gap-lg: 18px;
  --gap-13xl: 32px;
  --gap-9xs: 4px;
  --gap-18xl: 37px;
  --gap-4xl: 23px;
  --gap-46xl: 65px;
  --gap-98xl: 117px;
  --gap-10xl: 29px;
  --gap-39xl: 58px;
  --gap-56xl: 75px;
  --gap-lgi: 19px;
  --gap-20xl: 39px;
  --gap-28xl: 47px;
  --gap-3xl: 22px;
  --gap-11xs: 2px;
  --gap-19xl: 38px;

  /* Paddings */
  --padding-22xl: 41px;
  --padding-37xl: 56px;
  --padding-33xl: 52px;
  --padding-9xl: 28px;
  --padding-8xl: 27px;
  --padding-15xl: 34px;
  --padding-10xs: 3px;
  --padding-32xl: 51px;
  --padding-4xs: 9px;
  --padding-10xs-5: 2.5px;
  --padding-12xs: 1px;
  --padding-2xs-3: 10.3px;
  --padding-2xl: 21px;
  --padding-xs-5: 11.5px;
  --padding-xl: 20px;
  --padding-148xl: 167px;
  --padding-90xl: 109px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-11xs: 2px;
  --padding-sm: 14px;
  --padding-8xs: 5px;
  --padding-18xl-7: 37.7px;
  --padding-41xl: 60px;
  --padding-19xl: 38px;
  --padding-smi-5: 12.5px;
  --padding-62xl: 81px;
  --padding-21xl: 40px;
  --padding-4xl: 23px;
  --padding-mini: 15px;
  --padding-58xl: 77px;
  --padding-31xl: 50px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-18xl: 37px;
  --padding-7xs: 6px;
  --padding-14xl: 33px;
  --padding-65xl: 84px;
  --padding-66xl: 85px;
  --padding-base: 16px;
  --padding-23xl: 42px;
  --padding-7xl: 26px;
  --padding-5xs: 8px;
  --padding-6xs-5: 6.5px;
  --padding-13xl: 32px;
  --padding-20xl: 39px;
  --padding-mini-3: 14.3px;
  --padding-mini-2: 14.2px;
  --padding-99xl: 118px;
  --padding-32xl-1: 51.1px;
  --padding-3xl: 22px;
  --padding-251xl: 270px;
  --padding-116xl: 135px;
  --padding-244xl: 263px;
  --padding-112xl: 131px;
  --padding-40xl: 59px;
  --padding-164xl: 183px;
  --padding-24xl: 43px;
  --padding-11xl: 30px;
  --padding-6xl: 25px;
  --padding-lgi: 19px;
  --padding-10xs-6: 2.6px;
  --padding-5xs-5: 7.5px;
  --padding-8xs-5: 4.5px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-31xl: 50px;
  --br-base: 16px;
  --br-5xs: 8px;
  --br-xl: 20px;
}
