.top-bar-icon {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-2-icon6 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.league-of-legends {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup20,
.league-of-legends {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a41,
.pilih-nominal-diamonds20,
.selesaikan-pembayaran20 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a40 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container20 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 15px;
  display: inline-block;
  min-height: 66px;
}
.top-up-instructions4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.game-info,
.game-selection {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.game-info {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.game-selection {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift18 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.game-top-up-container,
.gift-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-card {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-card:hover {
  background-color: var(--color-forestgreen);
}
.game-top-up-container {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.content-divider1,
.wild-rift-logo {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.wild-rift-logo {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content-divider1 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.platform-info-child {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming53 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.platform-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home187 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-icon-container,
.home186 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home186 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home189 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper82,
.home188 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home188 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home191 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper83,
.home190 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home190 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home193 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper84,
.home192 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home192 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-button8 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child11 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-213 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.refund-background2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light23 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.refund-button2 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navigation1,
.user-controls {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.user-controls {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navigation1 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe18 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon36 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond71 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.type-value1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon20 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.type-dropdown3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond70,
.type-dropdown3,
.type-icon5 {
  display: flex;
  align-items: flex-start;
}
.type-icon5 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond70 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk18 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon37 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond73 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-value1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.product-dropdown-icon2 {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-dropdown4,
.product-icon5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-icon5 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond72,
.product-selection2,
.type-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond72 {
  align-self: stretch;
  gap: var(--gap-base);
}
.product-selection2,
.type-selection {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.type-selection {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.fast-delivery-image,
.menit-dikirim-atau18 {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.fast-delivery-image {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau18 {
  height: 73px;
  display: flex;
  align-items: center;
}
.fast-delivery-icon2 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22018 {
  position: relative;
}
.b22,
.min-beli54,
.rb108,
.rb109,
.stok54,
.terjual54 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b22,
.min-beli54,
.rb108,
.rb109,
.terjual54 {
  min-width: 51px;
}
.b22,
.min-beli54,
.rb108,
.rb109 {
  min-width: 64px;
}
.b22,
.rb108,
.rb109 {
  min-width: 42px;
}
.b22 {
  min-width: 8px;
}
.stock-container1 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span18 {
  font-size: var(--font-size-base);
}
.top-up18 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container16 {
  width: 100%;
}
.rp59100-top-up16 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-info11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.price-info2 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-414,
.pengiriman-cepat14,
.price-info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat14 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-414 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon18 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-option4 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.stok55 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli55,
.option-separator,
.rb110,
.rb111,
.terjual55 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli55,
.option-separator,
.rb110,
.rb111 {
  min-width: 64px;
}
.option-separator,
.rb110,
.rb111 {
  flex: 1;
  min-width: 47px;
}
.stock-option4 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit37,
.rp4000014 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000014 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price-option2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga49 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express20 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper14 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper14:hover {
  background-color: var(--color-gainsboro-100);
}
.b23,
.min-beli56,
.rb112,
.rb113,
.stok56,
.terjual56 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b23,
.min-beli56,
.rb112,
.rb113,
.terjual56 {
  min-width: 51px;
}
.b23,
.min-beli56,
.rb112,
.rb113 {
  min-width: 64px;
}
.b23,
.rb112,
.rb113 {
  flex: 1;
  min-width: 47px;
}
.stok-parent20 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit38,
.rp6400016 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400016 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent17 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga50 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.option-list1,
.pilihan-harga48 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga48 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.purchase-options-container-child,
.tawaran-lain18 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.purchase-options-container-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain18 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.purchase-options-container {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.order-information-child {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.order-divider-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.order-information1,
.purchase-options2 {
  align-self: stretch;
  justify-content: flex-start;
}
.order-information1 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.purchase-options2 {
  font-size: var(--font-size-base);
}
.diamond-options4,
.diamond-type-option2,
.purchase-options2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-type-option2 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.diamond-options4 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.user-information-child {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan18,
.user-id18,
.your-id54 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan18 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id18,
.your-id54 {
  font-size: var(--font-size-base);
}
.user-id18 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id54 {
  flex: 1;
}
.input-fields7,
.input-labels12 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-fields7 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.input-labels12 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id55,
.zona-id18 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id18 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id55 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.input-labels13,
.user-i-d-zone-i-d4,
.your-id-wrapper26 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper26 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.input-labels13,
.user-i-d-zone-i-d4 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-i-d-zone-i-d4 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual18,
.your-id56 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual18 {
  z-index: 3;
}
.your-id56 {
  flex: 1;
}
.seller-note-input2,
.seller-note2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seller-note-input2 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.seller-note2 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.increment-icon1 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus18 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.decrement-background-icon {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus18,
.minus-icon-background2 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus18 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-icon-background2 {
  flex: 1;
  position: relative;
}
.decrement-button1,
.decrement-icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-icon-container {
  flex: 1;
  gap: var(--gap-9xl);
}
.decrement-button1 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910022,
.subtotal19 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910022 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrement-container,
.quantity-buttons3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-buttons3 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit20 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button-container3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button-container3:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.topup-options1,
.user-information {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.user-information {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.topup-options1 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-background-wrapper4,
.footer-background8 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-background8 {
  background-color: var(--color-gainsboro-200);
}
.footer-background-wrapper4 {
  margin: 0 !important;
}
.frame-child112 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming54 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.frame-parent67,
.lapak-gaming-wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lapak-gaming-wrapper5 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.frame-parent67 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital29 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up29 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-info-content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa29 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content22,
.footer-info-content-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-info-content-parent {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content22 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman28 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon28 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.gpay-1-wrapper7 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon28 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.dana-1-wrapper7 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon28 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.spay-1-wrapper7 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon28 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ovo-1-wrapper7 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya28 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-method-icon-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami28 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.vector-icon67 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-method-icon-containers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom28 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-method-icons4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon68 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp28 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-info22,
.contact-method-icons5,
.contact-methods17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-method-icons5 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-info22,
.contact-methods17 {
  flex-direction: column;
}
.contact-methods17 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-info22 {
  gap: var(--gap-3xs);
}
.contact-legal-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen28 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga28,
.direktorat-jenderal28,
.kementerian28,
.perdagangan-ri28,
.perlindungan-konsumen28 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container28 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-protection-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.consumer-protection-logo {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.consumer-protection-logo-backg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.phone-number2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.consumer-protection-logo-conta,
.contact-and-legal-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.consumer-protection-logo-conta {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-and-legal-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller32 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller28,
.login-reseller28 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller28 {
  min-width: 86px;
}
.reseller-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-and-legal-content-parent,
.payment-method-icons10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-and-legal-content-parent {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-method-icons10 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi28 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate28,
.blog28,
.kebijakan-privasi28,
.syarat-ketentuan28 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate28,
.blog28,
.kebijakan-privasi28 {
  min-width: 99px;
}
.affiliate28,
.blog28 {
  min-width: 26px;
}
.affiliate28 {
  min-width: 44px;
}
.legal-and-social-content,
.legal-and-social-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-and-social-content {
  gap: var(--gap-smi-8);
}
.legal-and-social-content-wrapper {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami28 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-128,
.icon-instagram-128,
.icon-x-20231018-128 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-128 {
  height: 15.3px;
}
.social-media-icons2,
.social-media-links2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-media-links2 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-128 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-media-content,
.social-media-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media-content-wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods18 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer37,
.payment-and-support-content,
.payment-and-support-content-wrapper,
.payment-methods18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-and-support-content {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer37,
.payment-and-support-content-wrapper {
  box-sizing: border-box;
}
.payment-and-support-content-wrapper {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer37 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report21 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--primery-color);
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.report-wrapper7:hover {
  background-color: var(--color-cornflowerblue);
}
.page-footer {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.league-of-legends-wild-rift {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content22,
  .payment-and-support-content-wrapper {
    flex: 1;
  }
  .footer37 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .page-footer {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .fast-delivery-icon2,
  .game-top-up-container {
    flex-wrap: wrap;
  }
  .stock-container1 {
    gap: var(--gap-34xl);
  }
  .component-414 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga48,
  .stock-option4,
  .stok-parent20 {
    gap: var(--gap-34xl);
  }
  .diamond-type-option2 {
    gap: var(--gap-22xl);
  }
  .user-information {
    flex: 1;
  }
  .topup-options1 {
    flex-wrap: wrap;
  }
  .payment-and-support-content-wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .game-selection {
    flex-wrap: wrap;
  }
  .home-button8 {
    display: none;
  }
  .navbar-213 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navigation1 {
    gap: var(--gap-5xl);
  }
  .pilihan-harga49,
  .pilihan-harga50,
  .stock-info11,
  .type-selection {
    flex-wrap: wrap;
  }
  .diamond-options4 {
    min-width: 100%;
  }
  .user-information {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods18 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer37 {
    gap: var(--gap-15xl);
  }
  .league-of-legends-wild-rift {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .league-of-legends {
    font-size: var(--font-size-lgi);
  }
  .game-info {
    min-width: 100%;
  }
  .produk18,
  .tipe18 {
    font-size: var(--font-size-lgi);
  }
  .stock-container1 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat14 {
    gap: var(--gap-mini);
  }
  .component-414 {
    gap: var(--gap-base);
  }
  .stock-option4 {
    gap: var(--gap-7xl);
  }
  .rp4000014 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent20 {
    gap: var(--gap-7xl);
  }
  .rp6400016 {
    font-size: var(--font-size-lgi);
  }
  .option-list1 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga48 {
    gap: var(--gap-7xl);
  }
  .diamond-type-option2 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan18 {
    font-size: var(--font-size-lgi);
  }
  .user-information {
    gap: var(--gap-9xl);
  }
  .payment-method-icon-container {
    flex-wrap: wrap;
  }
  .contact-and-legal-content-parent {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer37 {
    gap: var(--gap-mid);
  }
  .league-of-legends-wild-rift {
    gap: var(--gap-2xl);
  }
}
