.rect-icon {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-2-icon11 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.nba-infinite1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup32,
.nba-infinite1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a65,
.pilih-nominal-diamonds32,
.selesaikan-pembayaran32 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a64 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container32 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.topup-details1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.input-subcontainer,
.topup-info-container {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.topup-info-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.input-subcontainer {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift30 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-wrapper16,
.mlbb-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper16 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper16:hover {
  background-color: var(--color-forestgreen);
}
.mlbb-input-container {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.background3,
.game-selection1 {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.game-selection1 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.background3 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.logo-container-child1 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming77 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.logo-container11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home283 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-button-container4,
.home282 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home282 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home285 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper123,
.home284 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home284 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home287 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper124,
.home286 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home286 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home289 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper125,
.home288 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home288 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-navigation {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child23 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-225 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.refund-icon-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light35 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.refund-button3 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar-container4,
.user-action {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.user-action {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-container4 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe30 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon60 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond119 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon32 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.diamond-image-container,
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond-image-container {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond118 {
  width: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk30 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon61 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond121 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.bundle-label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.bundle-icon {
  width: 16px;
  height: 10px;
  position: relative;
}
.bundle-icon-container,
.bundle-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.bundle-image-container {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.bundle-product,
.diamond-product1,
.diamond120 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond120 {
  align-self: stretch;
  gap: var(--gap-base);
}
.bundle-product,
.diamond-product1 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-product1 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-icon6,
.menit-dikirim-atau30 {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.delivery-icon6 {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau30 {
  height: 73px;
  display: flex;
  align-items: center;
}
.delivery-icon-container {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22030 {
  position: relative;
}
.min-beli90,
.rb180,
.rb181,
.stock-labels4,
.stok90,
.terjual90 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli90,
.rb180,
.rb181,
.stock-labels4,
.terjual90 {
  min-width: 51px;
}
.min-beli90,
.rb180,
.rb181,
.stock-labels4 {
  min-width: 64px;
}
.rb180,
.rb181,
.stock-labels4 {
  min-width: 42px;
}
.stock-labels4 {
  min-width: 8px;
}
.stock-details15 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span30 {
  font-size: var(--font-size-base);
}
.top-up30 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container28 {
  width: 100%;
}
.rp59100-top-up28 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-info21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.delivery-details4 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-426,
.delivery-details4,
.pengiriman-cepat26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat26 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-426 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon30 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-express4 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.min-beli91,
.placeholder4,
.rb182,
.rb183,
.stok91,
.terjual91 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli91,
.placeholder4,
.rb182,
.rb183,
.terjual91 {
  min-width: 51px;
}
.min-beli91,
.placeholder4,
.rb182,
.rb183 {
  min-width: 64px;
}
.placeholder4,
.rb182,
.rb183 {
  flex: 1;
  min-width: 47px;
}
.stock-quantity1 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit61,
.rp4000026 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000026 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price6 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga85 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express32 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper26 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper26:hover {
  background-color: var(--color-gainsboro-100);
}
.b37,
.min-beli92,
.rb184,
.rb185,
.stok92,
.terjual92 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b37,
.min-beli92,
.rb184,
.rb185,
.terjual92 {
  min-width: 51px;
}
.b37,
.min-beli92,
.rb184,
.rb185 {
  min-width: 64px;
}
.b37,
.rb184,
.rb185 {
  flex: 1;
  min-width: 47px;
}
.stok-parent38 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit62,
.rp6400028 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400028 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent32 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga86 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.option-list2,
.pilihan-harga84 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga84 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.price-options-item,
.tawaran-lain30 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.price-options-item {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain30 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.price-options8 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.divider-icon2,
.frame-child136,
.price-options8 {
  position: relative;
  max-width: 100%;
}
.frame-child136 {
  height: 170px;
  width: 901px;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.divider-icon2 {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.price-options-parent,
.rectangle-parent48 {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangle-parent48 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.price-options-parent {
  font-size: var(--font-size-base);
}
.diamond-product-parent,
.price-options-parent,
.product-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-product-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.product-container2 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child137 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan30,
.user-id30,
.your-id90 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan30 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id30,
.your-id90 {
  font-size: var(--font-size-base);
}
.user-id30 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id90 {
  flex: 1;
}
.input-fields12,
.input-values2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-values2 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.input-fields12 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id91,
.zona-id30 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id30 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id91 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.input-fields13,
.user-id-input3,
.your-id-wrapper40 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper40 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.input-fields13,
.user-id-input3 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-id-input3 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual30,
.your-id92 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual30 {
  z-index: 3;
}
.your-id92 {
  flex: 1;
}
.catatan-untuk-penjual-parent13,
.note-input15 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input15 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.catatan-untuk-penjual-parent13 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.plus-icon15 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus30 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.minus-shape-icon {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus30,
.minus-sign3 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus30 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-sign3 {
  flex: 1;
  position: relative;
}
.minus-icon-background6,
.minus-icon-container3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-icon-background6 {
  flex: 1;
  gap: var(--gap-9xl);
}
.minus-icon-container3 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910034,
.subtotal32 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910034 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.control-buttons1,
.minus-button13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-button13 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.control-buttons1 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit32 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button14 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button14:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control18 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.content15,
.rectangle-parent49 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent49 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.content15 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-rect-container,
.footer-rect1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-rect1 {
  background-color: var(--color-gainsboro-200);
}
.footer-rect-container {
  margin: 0 !important;
}
.frame-child138 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming78 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.frame-parent95,
.lapak-gaming-wrapper9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lapak-gaming-wrapper9 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.frame-parent95 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital41 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up41 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.pt-global-digital-indokreasi-parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa41 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content26,
.frame-parent96 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent96 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content26 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman40 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon40 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-container {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon40 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-container1 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon40 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-container2 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon40 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-container3 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya40 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-icon-container-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami40 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.link-icons8 {
  width: 16px;
  height: 12px;
  position: relative;
}
.link-containers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom40 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.link-containers-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon86 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper49 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp40 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-links10,
.frame-parent97,
.hubungi-kami-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent97 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-links10,
.hubungi-kami-parent1 {
  flex-direction: column;
}
.contact-links10 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.hubungi-kami-parent1 {
  gap: var(--gap-3xs);
}
.contact-separator23 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen40 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga40,
.direktorat-jenderal40,
.kementerian40,
.perdagangan-ri40,
.perlindungan-konsumen40 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container40 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.layanan-pengaduan-konsumen-parent4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.support-logo-icon {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.support-logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div15 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.contact-details31,
.support-logo-container-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.support-logo-container-parent {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details31 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller47 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller40,
.login-reseller40 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller40 {
  min-width: 86px;
}
.contact-info28,
.method-icons10,
.reseller-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-parent5 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info28,
.method-icons10 {
  max-width: 100%;
}
.contact-info28 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.method-icons10 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi40 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate40,
.blog40,
.kebijakan-privasi40,
.syarat-ketentuan40 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate40,
.blog40,
.kebijakan-privasi40 {
  min-width: 99px;
}
.affiliate40,
.blog40 {
  min-width: 26px;
}
.affiliate40 {
  min-width: 44px;
}
.info-links-container-wrapper,
.info-links-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-links-container1 {
  gap: var(--gap-smi-8);
}
.info-links-container-wrapper {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami40 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-140,
.icon-instagram-140,
.icon-x-20231018-140 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-140 {
  height: 15.3px;
}
.ikuti-kami-parent2,
.social-icons-container3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.ikuti-kami-parent2 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-140 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-links-container-wrapper,
.social-links-container3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-links-container-wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods24 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer-inner6,
.footer55,
.payment-methods24,
.pembayaran-aman-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.pembayaran-aman-parent5 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-inner6,
.footer55 {
  box-sizing: border-box;
}
.footer-inner6 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer55 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report33 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-button5 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer54 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.nba-infinite {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content26,
  .footer-inner6 {
    flex: 1;
  }
  .footer55 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer54 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-icon-container,
  .mlbb-input-container {
    flex-wrap: wrap;
  }
  .stock-details15 {
    gap: var(--gap-34xl);
  }
  .component-426 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga84,
  .stock-quantity1,
  .stok-parent38 {
    gap: var(--gap-34xl);
  }
  .diamond-product-parent {
    gap: var(--gap-22xl);
  }
  .rectangle-parent49 {
    flex: 1;
  }
  .content15 {
    flex-wrap: wrap;
  }
  .footer-inner6 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .input-subcontainer {
    flex-wrap: wrap;
  }
  .home-navigation {
    display: none;
  }
  .navbar-225 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-container4 {
    gap: var(--gap-5xl);
  }
  .diamond-product1,
  .pilihan-harga85,
  .pilihan-harga86,
  .stock-info21 {
    flex-wrap: wrap;
  }
  .product-container2 {
    min-width: 100%;
  }
  .rectangle-parent49 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods24 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer55 {
    gap: var(--gap-15xl);
  }
  .nba-infinite {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .nba-infinite1 {
    font-size: var(--font-size-lgi);
  }
  .topup-info-container {
    min-width: 100%;
  }
  .produk30,
  .tipe30 {
    font-size: var(--font-size-lgi);
  }
  .stock-details15 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat26 {
    gap: var(--gap-mini);
  }
  .component-426 {
    gap: var(--gap-base);
  }
  .stock-quantity1 {
    gap: var(--gap-7xl);
  }
  .rp4000026 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent38 {
    gap: var(--gap-7xl);
  }
  .rp6400028 {
    font-size: var(--font-size-lgi);
  }
  .option-list2 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga84 {
    gap: var(--gap-7xl);
  }
  .diamond-product-parent {
    gap: var(--gap-xl);
  }
  .informasi-pesanan30 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent49 {
    gap: var(--gap-9xl);
  }
  .payment-icon-container-parent {
    flex-wrap: wrap;
  }
  .contact-info28 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer55 {
    gap: var(--gap-mid);
  }
  .nba-infinite {
    gap: var(--gap-2xl);
  }
}
