.top-up-rect3 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-10-icon1 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.netease-pay1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup55,
.netease-pay1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a111,
.pilih-nominal-diamonds55,
.selesaikan-pembayaran55 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a110 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container55 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.cara-topup-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.mlbb-jjk-hd-10-parent,
.netease-pay-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.netease-pay-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.mlbb-jjk-hd-10-parent {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift54 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.frame-parent154,
.gift-wrapper32 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper32 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper32:hover {
  background-color: var(--color-forestgreen);
}
.frame-parent154 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.right-rect1,
.top-up-rect-container {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.top-up-rect-container {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.right-rect1 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.frame-child208 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming123 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.frame-parent155 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home468 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-link-items2,
.home467 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home467 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home470 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper198,
.home469 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home469 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home472 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper199,
.home471 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home471 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home474 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper200,
.home473 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home473 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-parent18 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child46 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-248 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.refund-icon-b-g {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light58 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.refund-icon-b-g-parent {
  height: 28px;
  flex: 1;
  position: relative;
}
.frame-wrapper46,
.navbar-2-parent15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-wrapper46 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-2-parent15 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe53 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon106 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond211 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-wrapper41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon55 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper23 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond210,
.fearrow-down-wrapper23,
.image-3-parent29 {
  display: flex;
  align-items: flex-start;
}
.image-3-parent29 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond210 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk54 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon107 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond213 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.diamond-wrapper43 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.product-dropdown-icon11 {
  width: 16px;
  height: 10px;
  position: relative;
}
.image-3-parent30,
.product-dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.image-3-parent30 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-parent9,
.diamond-wrapper42,
.diamond212 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond212 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-parent9,
.diamond-wrapper42 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-parent9 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-b-g,
.menit-dikirim-atau53 {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.delivery-b-g {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau53 {
  height: 73px;
  display: flex;
  align-items: center;
}
.delivery-info7 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22053,
.stok159 {
  position: relative;
}
.stok159 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli159,
.rb318,
.rb319,
.stock-values8,
.terjual159 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli159,
.rb318,
.rb319,
.stock-values8 {
  min-width: 64px;
}
.rb318,
.rb319,
.stock-values8 {
  min-width: 42px;
}
.stock-values8 {
  min-width: 8px;
}
.stock-info35 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span53 {
  font-size: var(--font-size-base);
}
.top-up53 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container51 {
  width: 100%;
}
.rp59100-top-up51 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-info-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.price-info6 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-449,
.pengiriman-cepat49,
.price-info6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat49 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-449 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon53 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-express6 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.min-beli160,
.rb320,
.rb321,
.separator23,
.stok160,
.terjual160 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli160,
.rb320,
.rb321,
.separator23,
.terjual160 {
  min-width: 51px;
}
.min-beli160,
.rb320,
.rb321,
.separator23 {
  min-width: 64px;
}
.rb320,
.rb321,
.separator23 {
  flex: 1;
  min-width: 47px;
}
.stock-details28 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit109,
.rp4000049 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000049 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price10 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga154 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express55 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper49 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper49:hover {
  background-color: var(--color-gainsboro-100);
}
.b65,
.min-beli161,
.rb322,
.rb323,
.stok161,
.terjual161 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b65,
.min-beli161,
.rb322,
.rb323,
.terjual161 {
  min-width: 51px;
}
.b65,
.min-beli161,
.rb322,
.rb323 {
  min-width: 64px;
}
.b65,
.rb322,
.rb323 {
  flex: 1;
  min-width: 47px;
}
.stok-parent66 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit110,
.rp6400051 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400051 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent55 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga155 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga-parent16,
.pilihan-harga153 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga153 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.price-options-content-child,
.tawaran-lain53 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.price-options-content-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain53 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.price-options-content {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frame-child209 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.content-separator-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.rectangle-parent83 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.price-options-content-parent {
  align-self: stretch;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.diamond-type-content1,
.frame-parent156,
.price-options-content-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent156 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.diamond-type-content1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child210 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan53,
.user-id53,
.your-id159 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan53 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id53,
.your-id159 {
  font-size: var(--font-size-base);
}
.user-id53 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id159 {
  flex: 1;
}
.input-fields26,
.input-labels36 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-fields26 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.input-labels36 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id160,
.zona-id53 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id53 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id160 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.informasi-pesanan-parent10,
.input-labels37,
.your-id-wrapper73 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper73 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.informasi-pesanan-parent10,
.input-labels37 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.informasi-pesanan-parent10 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual53,
.your-id161 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual53 {
  z-index: 3;
}
.your-id161 {
  flex: 1;
}
.catatan-untuk-penjual-parent25,
.note-input26 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input26 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.catatan-untuk-penjual-parent25 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.vector-icon126 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus53 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.vector-icon127 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus53,
.minus-button-background8 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus53 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-button-background8 {
  flex: 1;
  position: relative;
}
.frame-wrapper47,
.icround-minus-parent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icround-minus-parent9 {
  flex: 1;
  gap: var(--gap-9xl);
}
.frame-wrapper47 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910057,
.subtotal60 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910057 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent27 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent157,
.quantity-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent157 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-content {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit56 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button-wrapper10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button-wrapper10:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-content-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.diamond-type-content-parent,
.rectangle-parent84 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent84 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.diamond-type-content-parent {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-background-wrapper18,
.footer-background23 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-background23 {
  background-color: var(--color-gainsboro-200);
}
.footer-background-wrapper18 {
  margin: 0 !important;
}
.footer-content-left-item {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming124 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-content-left1,
.lapak-gaming-name-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lapak-gaming-name-wrapper {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-content-left1 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital64 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up64 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.company-info20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa64 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content-right,
.footer-content-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-content-right {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content-wrapper7 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman63 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon63 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-methods-part {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon63 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-methods-part1 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon63 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-methods-part2 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon63 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-methods-part3 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya63 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-method-icons-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami63 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-method-icons13 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-icon-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom63 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-icon-pairs2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon128 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper75 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp63 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-icon-pairs3,
.contact-icons35,
.contact-options28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-icon-pairs3 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-icons35,
.contact-options28 {
  flex-direction: column;
}
.contact-icons35 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-options28 {
  gap: var(--gap-3xs);
}
.contact-separator40 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen63 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga63,
.direktorat-jenderal63,
.kementerian63,
.perdagangan-ri63,
.perlindungan-konsumen63 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container63 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.support-logo-icon1 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.support-logo-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.support-placeholder {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.contact-details50,
.support-logo-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.support-logo-wrapper {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details50 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller71 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller63,
.login-reseller63 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller63 {
  min-width: 86px;
}
.contact-info47,
.payment-methods-icons,
.reseller-options24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-options24 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info47,
.payment-methods-icons {
  max-width: 100%;
}
.contact-info47 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-methods-icons {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi63 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate63,
.blog63,
.kebijakan-privasi63,
.syarat-ketentuan63 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate63,
.blog63,
.kebijakan-privasi63 {
  min-width: 99px;
}
.affiliate63,
.blog63 {
  min-width: 26px;
}
.affiliate63 {
  min-width: 44px;
}
.info-links-list1,
.info-links14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-links-list1 {
  gap: var(--gap-smi-8);
}
.info-links14 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami63 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-163,
.icon-instagram-163,
.icon-x-20231018-163 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-163 {
  height: 15.3px;
}
.social-icons-list,
.social-media-icons4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-media-icons4 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-163 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-media-links5,
.social-media24 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media24 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods39 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer92,
.payment-and-support1,
.payment-info24,
.payment-methods39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-info24 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer92,
.payment-and-support1 {
  box-sizing: border-box;
}
.payment-and-support1 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer92 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report56 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper23 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-wrapper10 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.netease-pay {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content-wrapper7,
  .payment-and-support1 {
    flex: 1;
  }
  .footer92 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-wrapper10 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-info7,
  .frame-parent154 {
    flex-wrap: wrap;
  }
  .stock-info35 {
    gap: var(--gap-34xl);
  }
  .component-449 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga153,
  .stock-details28,
  .stok-parent66 {
    gap: var(--gap-34xl);
  }
  .frame-parent156 {
    gap: var(--gap-22xl);
  }
  .rectangle-parent84 {
    flex: 1;
  }
  .diamond-type-content-parent {
    flex-wrap: wrap;
  }
  .payment-and-support1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .mlbb-jjk-hd-10-parent {
    flex-wrap: wrap;
  }
  .home-parent18 {
    display: none;
  }
  .navbar-248 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-2-parent15 {
    gap: var(--gap-5xl);
  }
  .diamond-parent9,
  .pilihan-harga154,
  .pilihan-harga155,
  .stock-info-group {
    flex-wrap: wrap;
  }
  .diamond-type-content1 {
    min-width: 100%;
  }
  .rectangle-parent84 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods39 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer92 {
    gap: var(--gap-15xl);
  }
  .netease-pay {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .netease-pay1 {
    font-size: var(--font-size-lgi);
  }
  .netease-pay-parent {
    min-width: 100%;
  }
  .produk54,
  .tipe53 {
    font-size: var(--font-size-lgi);
  }
  .stock-info35 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat49 {
    gap: var(--gap-mini);
  }
  .component-449 {
    gap: var(--gap-base);
  }
  .stock-details28 {
    gap: var(--gap-7xl);
  }
  .rp4000049 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent66 {
    gap: var(--gap-7xl);
  }
  .rp6400051 {
    font-size: var(--font-size-lgi);
  }
  .pilihan-harga-parent16 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga153 {
    gap: var(--gap-7xl);
  }
  .frame-parent156 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan53 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent84 {
    gap: var(--gap-9xl);
  }
  .payment-method-icons-list {
    flex-wrap: wrap;
  }
  .contact-info47 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer92 {
    gap: var(--gap-mid);
  }
  .netease-pay {
    gap: var(--gap-2xl);
  }
}
