.frame-child88 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-2-icon {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.pubg-mobile1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup12,
.pubg-mobile1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a25,
.pilih-nominal-diamonds12,
.selesaikan-pembayaran12 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a24 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container12 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.cara-topup-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.mlbb-jjk-hd-2-parent,
.pubg-mobile-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.pubg-mobile-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.mlbb-jjk-hd-2-parent {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift10 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.frame-parent50,
.gift-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper5:hover {
  background-color: var(--color-forestgreen);
}
.frame-parent50 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.content-separator,
.rectangle-parent22 {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.rectangle-parent22 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content-separator {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.frame-child89 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming37 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.frame-parent51 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home123 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-button2,
.home122 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home122 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home125 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper56,
.home124 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home124 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home127 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper57,
.home126 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home126 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home129 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper58,
.home128 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home128 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-parent4 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child3 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-25 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light15 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.profile-picture-parent {
  height: 28px;
  flex: 1;
  position: relative;
}
.frame-wrapper22,
.navbar-2-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-wrapper22 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-2-group {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe10 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon20 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond39 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon12 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond38,
.fearrow-down-wrapper3,
.image-3-parent2 {
  display: flex;
  align-items: flex-start;
}
.image-3-parent2 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond38 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk10 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon21 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond41 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.diamond-wrapper10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.product-dropdown-icon1 {
  width: 16px;
  height: 10px;
  position: relative;
}
.image-3-parent3,
.product-dropdown-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.image-3-parent3 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-group,
.diamond-wrapper9,
.diamond40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond40 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-group,
.diamond-wrapper9 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-group {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.fast-delivery-icon1,
.menit-dikirim-atau10 {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.fast-delivery-icon1 {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau10 {
  height: 73px;
  display: flex;
  align-items: center;
}
.fast-delivery-icon-group {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22010 {
  position: relative;
}
.min-beli30,
.rb60,
.rb61,
.stock-details6,
.stok30,
.terjual30 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli30,
.rb60,
.rb61,
.stock-details6,
.terjual30 {
  min-width: 51px;
}
.min-beli30,
.rb60,
.rb61,
.stock-details6 {
  min-width: 64px;
}
.rb60,
.rb61,
.stock-details6 {
  min-width: 42px;
}
.stock-details6 {
  min-width: 8px;
}
.stock-info7 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span10 {
  font-size: var(--font-size-base);
}
.top-up10 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container8 {
  width: 100%;
}
.rp59100-top-up8 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-info-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-220-diamonds-container {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-46,
.diamond-220-diamonds-container,
.pengiriman-cepat6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat6 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-46 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon10 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-option2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.min-beli31,
.rb62,
.rb63,
.separator7,
.stok31,
.terjual31 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli31,
.rb62,
.rb63,
.separator7,
.terjual31 {
  min-width: 51px;
}
.min-beli31,
.rb62,
.rb63,
.separator7 {
  min-width: 64px;
}
.rb62,
.rb63,
.separator7 {
  flex: 1;
  min-width: 47px;
}
.stock-option2 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit21,
.rp400006 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp400006 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price-option1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga25 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express12 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper6:hover {
  background-color: var(--color-gainsboro-100);
}
.b12,
.min-beli32,
.rb64,
.rb65,
.stok32,
.terjual32 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b12,
.min-beli32,
.rb64,
.rb65,
.terjual32 {
  min-width: 51px;
}
.b12,
.min-beli32,
.rb64,
.rb65 {
  min-width: 64px;
}
.b12,
.rb64,
.rb65 {
  flex: 1;
  min-width: 47px;
}
.stok-parent10 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit22,
.rp640008 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp640008 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga26 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga-parent1,
.pilihan-harga24 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga24 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.frame-child90,
.tawaran-lain10 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.frame-child90 {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain10 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.pilihan-harga-container {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.frame-child91,
.frame-child92,
.pilihan-harga-container {
  position: relative;
  max-width: 100%;
}
.frame-child91 {
  height: 170px;
  width: 901px;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.frame-child92 {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.frame-parent54,
.rectangle-parent23 {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangle-parent23 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.frame-parent54 {
  font-size: var(--font-size-base);
}
.frame-parent53,
.frame-parent54,
.frame-wrapper23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent53 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.frame-wrapper23 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child93 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan10,
.user-id10,
.your-id30 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan10 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id10,
.your-id30 {
  font-size: var(--font-size-base);
}
.user-id10 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id30 {
  flex: 1;
}
.input-labels6,
.user-inputs {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-inputs {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.input-labels6 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id31,
.zona-id10 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id10 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id31 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.informasi-pesanan-container,
.input-labels7,
.your-id-wrapper12 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper12 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.informasi-pesanan-container,
.input-labels7 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.informasi-pesanan-container {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual10,
.your-id32 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual10 {
  z-index: 3;
}
.your-id32 {
  flex: 1;
}
.catatan-untuk-penjual-parent3,
.your-id-wrapper13 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper13 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.catatan-untuk-penjual-parent3 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.increment-icon {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus10 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.decrement-separator-icon {
  width: 14px;
  height: 2px;
  position: relative;
}
.decrement1,
.icround-minus10 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus10 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.decrement1 {
  flex: 1;
  position: relative;
}
.decrement-button,
.decrement-control {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-button {
  flex: 1;
  gap: var(--gap-9xl);
}
.decrement-control {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910014,
.subtotal10 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910014 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-display {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrement-control-parent,
.quantity-control6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-control-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-control6 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit12 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button4:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.frame-parent52,
.rectangle-parent24 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent24 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.frame-parent52 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.background-container,
.background1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background1 {
  background-color: var(--color-gainsboro-200);
}
.background-container {
  margin: 0 !important;
}
.footer-info-item {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming38 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.company-logo,
.footer-info10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-logo {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-info10 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital21 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up21 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-description6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa21 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content15,
.footer-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-details {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content15 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman20 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon20 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.methods2 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon20 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.methods3 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon20 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.methods4 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon20 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.methods5 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya20 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.method-icons6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami20 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-links-icon {
  width: 16px;
  height: 12px;
  position: relative;
}
.links2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom20 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.icons2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon50 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp20 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-icons10,
.contact-options6,
.icons3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icons3 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-icons10,
.contact-options6 {
  flex-direction: column;
}
.contact-icons10 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-options6 {
  gap: var(--gap-3xs);
}
.separator8 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen20 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga20,
.direktorat-jenderal20,
.kementerian20,
.perdagangan-ri20,
.perlindungan-konsumen20 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container20 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-info3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.ministry-icon {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.logo-container4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.empty1 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.contact-details15,
.ministry-logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ministry-logo {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details15 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller24 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller20,
.login-reseller20 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller20 {
  min-width: 86px;
}
.contact-info13,
.payment-methods12,
.reseller-options5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-options5 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info13,
.payment-methods12 {
  max-width: 100%;
}
.contact-info13 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-methods12 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi20 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate20,
.blog20,
.kebijakan-privasi20,
.syarat-ketentuan20 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate20,
.blog20,
.kebijakan-privasi20 {
  min-width: 99px;
}
.affiliate20,
.blog20 {
  min-width: 26px;
}
.affiliate20 {
  min-width: 44px;
}
.info-links6,
.links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.links-container {
  gap: var(--gap-smi-8);
}
.info-links6 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami20 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-120,
.icon-instagram-120,
.icon-x-20231018-120 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-120 {
  height: 15.3px;
}
.icons-container1,
.social-icons14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-icons14 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-120 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-container2,
.social4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social4 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-options7 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer27,
.payment-contact,
.payment-info8,
.payment-options7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-info8 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer27,
.payment-contact {
  box-sizing: border-box;
}
.payment-contact {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report13 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-issue1 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-wrapper1 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.pubg-mobile {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content15,
  .payment-contact {
    flex: 1;
  }
  .footer27 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-wrapper1 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .fast-delivery-icon-group,
  .frame-parent50 {
    flex-wrap: wrap;
  }
  .stock-info7 {
    gap: var(--gap-34xl);
  }
  .component-46 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga24,
  .stock-option2,
  .stok-parent10 {
    gap: var(--gap-34xl);
  }
  .frame-parent53 {
    gap: var(--gap-22xl);
  }
  .rectangle-parent24 {
    flex: 1;
  }
  .frame-parent52 {
    flex-wrap: wrap;
  }
  .payment-contact {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .mlbb-jjk-hd-2-parent {
    flex-wrap: wrap;
  }
  .home-parent4 {
    display: none;
  }
  .navbar-25 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-2-group {
    gap: var(--gap-5xl);
  }
  .diamond-group,
  .pilihan-harga25,
  .pilihan-harga26,
  .stock-info-parent {
    flex-wrap: wrap;
  }
  .frame-wrapper23 {
    min-width: 100%;
  }
  .rectangle-parent24 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-options7 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer27 {
    gap: var(--gap-15xl);
  }
  .pubg-mobile {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .pubg-mobile1 {
    font-size: var(--font-size-lgi);
  }
  .pubg-mobile-parent {
    min-width: 100%;
  }
  .produk10,
  .tipe10 {
    font-size: var(--font-size-lgi);
  }
  .stock-info7 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat6 {
    gap: var(--gap-mini);
  }
  .component-46 {
    gap: var(--gap-base);
  }
  .stock-option2 {
    gap: var(--gap-7xl);
  }
  .rp400006 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent10 {
    gap: var(--gap-7xl);
  }
  .rp640008 {
    font-size: var(--font-size-lgi);
  }
  .pilihan-harga-parent1 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga24 {
    gap: var(--gap-7xl);
  }
  .frame-parent53 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan10 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent24 {
    gap: var(--gap-9xl);
  }
  .method-icons6 {
    flex-wrap: wrap;
  }
  .contact-info13 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer27 {
    gap: var(--gap-mid);
  }
  .pubg-mobile {
    gap: var(--gap-2xl);
  }
}
