.separator-icon3 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-12-icon {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.ragnarok-origin- {
  margin: 0;
}
.ragnarok-origin-container {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup64,
.ragnarok-origin-container {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a129,
.pilih-nominal-diamonds64,
.selesaikan-pembayaran64 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a128 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container64 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.top-up-info10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.login-button-container,
.login-inputs {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.login-button-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.login-inputs {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift63 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-balance,
.login-form1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-balance {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-balance:hover {
  background-color: var(--color-forestgreen);
}
.login-form1 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.content-separator2,
.separator-parent {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.separator-parent {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content-separator2 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.logo-container-child5 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming141 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.logo-container22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home540 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-tab-container,
.home539 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home539 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home542 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper228,
.home541 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home541 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home544 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper229,
.home543 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home543 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home546 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper230,
.home545 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home545 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-navigation5 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child55 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-257 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.search-input3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light67 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.search-bar4 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navigation7,
.search2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.search2 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navigation7 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe62 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon124 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond247 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.type-value3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon64 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dropdown-icon7 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond-type-image6,
.diamond246,
.dropdown-icon7 {
  display: flex;
  align-items: flex-start;
}
.diamond-type-image6 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond246 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk63 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon125 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond249 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-value3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.details-dropdown-icon {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-dropdown17,
.product-image22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-image22 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond248,
.product-details11,
.product-items2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond248 {
  align-self: stretch;
  gap: var(--gap-base);
}
.product-details11,
.product-items2 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.product-items2 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-icon14,
.menit-dikirim-atau62 {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.delivery-icon14 {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau62 {
  height: 73px;
  display: flex;
  align-items: center;
}
.delivery-info10 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22062,
.stok186 {
  position: relative;
}
.stok186 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli186,
.purchase-info-labels,
.rb372,
.rb373,
.terjual186 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli186,
.purchase-info-labels,
.rb372,
.rb373 {
  min-width: 64px;
}
.purchase-info-labels,
.rb372,
.rb373 {
  min-width: 42px;
}
.purchase-info-labels {
  min-width: 8px;
}
.purchase-info3 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span62 {
  font-size: var(--font-size-base);
}
.top-up62 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container60 {
  width: 100%;
}
.rp59100-top-up60 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.purchase-details7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.product-quantity2 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-458,
.pengiriman-cepat58,
.product-quantity2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat58 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-458 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon62 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-options3 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.empty-cell6,
.min-beli187,
.rb374,
.rb375,
.stok187,
.terjual187 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.empty-cell6,
.min-beli187,
.rb374,
.rb375,
.terjual187 {
  min-width: 51px;
}
.empty-cell6,
.min-beli187,
.rb374,
.rb375 {
  min-width: 64px;
}
.empty-cell6,
.rb374,
.rb375 {
  flex: 1;
  min-width: 47px;
}
.stock-info43 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit127,
.rp4000058 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000058 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.price-info7 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga181 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express64 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper58 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper58:hover {
  background-color: var(--color-gainsboro-100);
}
.b76,
.min-beli188,
.rb376,
.rb377,
.stok188,
.terjual188 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b76,
.min-beli188,
.rb376,
.rb377,
.terjual188 {
  min-width: 51px;
}
.b76,
.min-beli188,
.rb376,
.rb377 {
  min-width: 64px;
}
.b76,
.rb376,
.rb377 {
  flex: 1;
  min-width: 47px;
}
.stok-parent76 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit128,
.rp6400060 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400060 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent65 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga182 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.option-list3,
.pilihan-harga180 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga180 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.options-container-item,
.tawaran-lain62 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.options-container-item {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain62 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.options-container1 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.offer-separator-child9 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.offer-separator-child10 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.offer-separator6,
.purchase-options10 {
  align-self: stretch;
  justify-content: flex-start;
}
.offer-separator6 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.purchase-options10 {
  font-size: var(--font-size-base);
}
.product-container-frame,
.product-container9,
.purchase-options10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.product-container9 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.product-container-frame {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child235 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan62,
.user-id62,
.your-id186 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan62 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id62,
.your-id186 {
  font-size: var(--font-size-base);
}
.user-id62 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id186 {
  flex: 1;
}
.user-i-d-fields4,
.user-i-d-labels3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-i-d-fields4 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-i-d-labels3 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id187,
.zona-id62 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id62 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id187 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.user-i-d-input-container1,
.user-i-d-labels4,
.your-id-wrapper86 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper86 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.user-i-d-input-container1,
.user-i-d-labels4 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-i-d-input-container1 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual62,
.your-id188 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual62 {
  z-index: 3;
}
.your-id188 {
  flex: 1;
}
.note-input29,
.seller-note13 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input29 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.seller-note13 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.plus-icon26 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus62 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.minus-separator-icon {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus62,
.quantity-subtract2 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus62 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.quantity-subtract2 {
  flex: 1;
  position: relative;
}
.decrease-button7,
.minus-button24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-button24 {
  flex: 1;
  gap: var(--gap-9xl);
}
.decrease-button7 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910066,
.subtotal71 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910066 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal70 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrease-button-container1,
.quantity-buttons17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrease-button-container1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-buttons17 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit65 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button33 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button33:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-controls8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.content29,
.rectangle-parent95 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent95 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.content29 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-background-shape-wrapper1,
.footer-background-shape3 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-background-shape3 {
  background-color: var(--color-gainsboro-200);
}
.footer-background-shape-wrapper1 {
  margin: 0 !important;
}
.footer-left-child7 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming142 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-left9,
.logo-container23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-container23 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-left9 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital73 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up73 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.pt-global-digital-indokreasi-parent12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa73 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-description22,
.footer-info32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-description22 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-info32 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman72 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon72 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icons9 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon72 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icons10 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon72 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icons11 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon72 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icons12 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya72 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-icons27 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami72 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.link-icons10 {
  width: 16px;
  height: 12px;
  position: relative;
}
.links3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom72 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.link-containers1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon138 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper85 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp72 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-details56,
.contact-links22,
.link-containers2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-containers2 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details56,
.contact-links22 {
  flex-direction: column;
}
.contact-links22 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-details56 {
  gap: var(--gap-3xs);
}
.contact-separator45 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen72 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga72,
.direktorat-jenderal72,
.kementerian72,
.perdagangan-ri72,
.perlindungan-konsumen72 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container72 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.d-j-p-k-t {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.icon-container7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.phone-number3 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.contact-info53,
.d-j-p-k-t-icon2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.d-j-p-k-t-icon2 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-info53 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller81 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller72,
.login-reseller72 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller72 {
  min-width: 86px;
}
.contact10,
.methods-container3,
.reseller80 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller80 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact10,
.methods-container3 {
  max-width: 100%;
}
.contact10 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.methods-container3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi72 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate72,
.blog72,
.kebijakan-privasi72,
.syarat-ketentuan72 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate72,
.blog72,
.kebijakan-privasi72 {
  min-width: 99px;
}
.affiliate72,
.blog72 {
  min-width: 26px;
}
.affiliate72 {
  min-width: 44px;
}
.info-links17,
.info1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-links17 {
  gap: var(--gap-smi-8);
}
.info1 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami72 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-172,
.icon-instagram-172,
.icon-x-20231018-172 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-172 {
  height: 15.3px;
}
.social-icons50,
.social-links35 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-links35 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-172 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-container18,
.social12 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social12 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods45 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer-payment8,
.footer105,
.payment-info27,
.payment-methods45 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-info27 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-payment8,
.footer105 {
  box-sizing: border-box;
}
.footer-payment8 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer105 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report65 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-button13 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer104 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.ragnarok-origin-login {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-info32,
  .footer-payment8 {
    flex: 1;
  }
  .footer105 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer104 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-info10,
  .login-form1 {
    flex-wrap: wrap;
  }
  .purchase-info3 {
    gap: var(--gap-34xl);
  }
  .component-458 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga180,
  .stock-info43,
  .stok-parent76 {
    gap: var(--gap-34xl);
  }
  .product-container9 {
    gap: var(--gap-22xl);
  }
  .rectangle-parent95 {
    flex: 1;
  }
  .content29 {
    flex-wrap: wrap;
  }
  .footer-payment8 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .login-inputs {
    flex-wrap: wrap;
  }
  .home-navigation5 {
    display: none;
  }
  .navbar-257 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navigation7 {
    gap: var(--gap-5xl);
  }
  .pilihan-harga181,
  .pilihan-harga182,
  .product-items2,
  .purchase-details7 {
    flex-wrap: wrap;
  }
  .product-container-frame {
    min-width: 100%;
  }
  .rectangle-parent95 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods45 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer105 {
    gap: var(--gap-15xl);
  }
  .ragnarok-origin-login {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .ragnarok-origin-container {
    font-size: var(--font-size-lgi);
  }
  .login-button-container {
    min-width: 100%;
  }
  .produk63,
  .tipe62 {
    font-size: var(--font-size-lgi);
  }
  .purchase-info3 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat58 {
    gap: var(--gap-mini);
  }
  .component-458 {
    gap: var(--gap-base);
  }
  .stock-info43 {
    gap: var(--gap-7xl);
  }
  .rp4000058 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent76 {
    gap: var(--gap-7xl);
  }
  .rp6400060 {
    font-size: var(--font-size-lgi);
  }
  .option-list3 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga180 {
    gap: var(--gap-7xl);
  }
  .product-container9 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan62 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent95 {
    gap: var(--gap-9xl);
  }
  .contact10,
  .payment-icons27 {
    flex-wrap: wrap;
  }
  .contact10 {
    gap: var(--gap-2xl);
  }
  .footer105 {
    gap: var(--gap-mid);
  }
  .ragnarok-origin-login {
    gap: var(--gap-2xl);
  }
}
