.app-info-background {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-2-icon7 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.ragnarok-origin-global1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup26,
.ragnarok-origin-global1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a53,
.pilih-nominal-diamonds26,
.selesaikan-pembayaran26 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a52 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container26 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 15px;
  display: inline-block;
  min-height: 66px;
}
.top-up-instruction1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.app-title-and-category,
.app-title-container {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.app-title-and-category {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.app-title-container {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift24 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.app-info-container,
.gift-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-tag {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-tag:hover {
  background-color: var(--color-forestgreen);
}
.app-info-container {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.app-info,
.page-background {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.app-info {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.page-background {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.platform-name-item {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming65 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.platform-name1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home235 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-wrapper102,
.home234 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home234 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home237 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper103,
.home236 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home236 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home239 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper104,
.home238 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home238 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home241 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper105,
.home240 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home240 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-button11 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child17 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-219 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.back-icon-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light29 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.back-icon {
  height: 28px;
  flex: 1;
  position: relative;
}
.back-button,
.navbar-and-content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.back-button {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-and-content1 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe24 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon48 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond95 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-type-icon-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon26 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.diamond-type-dropdown1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond-type-dropdown1,
.diamond-type-icon,
.diamond94 {
  display: flex;
  align-items: flex-start;
}
.diamond-type-icon {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond94 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk24 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon49 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond97 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-icon-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.product-dropdown-icon3 {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-dropdown7,
.product-icon7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-icon7 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-type-selection,
.diamond96,
.product-type2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond96 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-type-selection,
.product-type2 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-type-selection {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.fast-delivery-icon-background {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau24 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.fast-delivery-icon4 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22024,
.stok72 {
  position: relative;
}
.stok72 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli72,
.rb144,
.rb145,
.stock-info-labels1,
.terjual72 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli72,
.rb144,
.rb145,
.stock-info-labels1 {
  min-width: 64px;
}
.rb144,
.rb145,
.stock-info-labels1 {
  min-width: 42px;
}
.stock-info-labels1 {
  min-width: 8px;
}
.stock-info15 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span24 {
  font-size: var(--font-size-base);
}
.top-up24 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container22 {
  width: 100%;
}
.rp59100-top-up22 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-and-price {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-quantity1 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-420,
.diamond-quantity1,
.pengiriman-cepat20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat20 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-420 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon24 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-info1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.stok73 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.empty-grid-cell,
.min-beli73,
.rb146,
.rb147,
.terjual73 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.empty-grid-cell,
.min-beli73,
.rb146,
.rb147 {
  min-width: 64px;
}
.empty-grid-cell,
.rb146,
.rb147 {
  flex: 1;
  min-width: 47px;
}
.stock-info-grid {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit49,
.rp4000020 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000020 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga67 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express26 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper20 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper20:hover {
  background-color: var(--color-gainsboro-100);
}
.b30,
.min-beli74,
.rb148,
.rb149,
.stok74,
.terjual74 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b30,
.min-beli74,
.rb148,
.rb149,
.terjual74 {
  min-width: 51px;
}
.b30,
.min-beli74,
.rb148,
.rb149 {
  min-width: 64px;
}
.b30,
.rb148,
.rb149 {
  flex: 1;
  min-width: 47px;
}
.stok-parent31 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit50,
.rp6400022 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400022 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent25 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga68 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga66,
.price-options-grid {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga66 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.price-options-child,
.tawaran-lain24 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.price-options-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain24 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.price-options5 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.offer-separator-inner {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.offer-separator-child1 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.offer-separator1,
.purchase-details3 {
  align-self: stretch;
  justify-content: flex-start;
}
.offer-separator1 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.purchase-details3 {
  font-size: var(--font-size-base);
}
.diamond-type6,
.purchase-details3,
.purchase-options3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-type6 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.purchase-options3 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.account-and-order-child {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan24,
.user-id24,
.your-id72 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan24 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id24,
.your-id72 {
  font-size: var(--font-size-base);
}
.user-id24 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id72 {
  flex: 1;
}
.user-id-inputs1,
.user-id-labels6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-id-inputs1 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-id-labels6 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id73,
.zona-id24 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id24 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id73 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.user-id-input1,
.user-id-labels7,
.your-id-wrapper33 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper33 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.user-id-input1,
.user-id-labels7 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-id-input1 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual24,
.your-id74 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual24 {
  z-index: 3;
}
.your-id74 {
  flex: 1;
}
.note-input-field,
.note-input11 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input-field {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.note-input11 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.increment-icon2 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus24 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.decrement-icon-background1 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus24,
.quantity-adjuster1 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus24 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.quantity-adjuster1 {
  flex: 1;
  position: relative;
}
.decrement-button3,
.decrement-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-icon {
  flex: 1;
  gap: var(--gap-9xl);
}
.decrement-button3 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910028,
.subtotal25 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910028 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrement-container1,
.quantity-buttons5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-container1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-buttons5 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit26 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button-wrapper4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button-wrapper4:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.account-and-order,
.content12 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.account-and-order {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.content12 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-background-wrapper8,
.footer-background12 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-background12 {
  background-color: var(--color-gainsboro-200);
}
.footer-background-wrapper8 {
  margin: 0 !important;
}
.footer-top-child5 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming66 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.brand-name-container,
.footer-top8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand-name-container {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-top8 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital35 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up35 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-description11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa35 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content24,
.footer-info14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-info14 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content24 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman34 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon34 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-list1 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon34 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-list2 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon34 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-list3 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon34 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-list4 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya34 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-method-icons24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami34 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-icon4 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-method4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom34 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon77 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper42 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp34 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-details27,
.contact-list1,
.contact-options12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-list1 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details27,
.contact-options12 {
  flex-direction: column;
}
.contact-options12 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-details27 {
  gap: var(--gap-3xs);
}
.contact-info-item {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen34 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga34,
.direktorat-jenderal34,
.kementerian34,
.perdagangan-ri34,
.perlindungan-konsumen34 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container34 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-info6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.authority-icon {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.logo-container9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.authority-label {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.authority-logo,
.contact-info25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.authority-logo {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-info25 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller39 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller34,
.login-reseller34 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller34 {
  min-width: 86px;
}
.contact-info-parent1,
.payment-options18,
.reseller-options13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-options13 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info-parent1,
.payment-options18 {
  max-width: 100%;
}
.contact-info-parent1 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-options18 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi34 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate34,
.blog34,
.kebijakan-privasi34,
.syarat-ketentuan34 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate34,
.blog34,
.kebijakan-privasi34 {
  min-width: 99px;
}
.affiliate34,
.blog34 {
  min-width: 26px;
}
.affiliate34 {
  min-width: 44px;
}
.legal-container1,
.legal-links6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-links6 {
  gap: var(--gap-smi-8);
}
.legal-container1 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami34 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-134,
.icon-instagram-134,
.icon-x-20231018-134 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-134 {
  height: 15.3px;
}
.social-icon-list2,
.social-icons24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-icons24 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-134 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-container10,
.social-links13 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-container10 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods-container5 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer-bottom8,
.footer45,
.payment-methods-container5,
.pembayaran-aman-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.pembayaran-aman-parent3 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-bottom8,
.footer45 {
  box-sizing: border-box;
}
.footer-bottom8 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer45 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report27 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-button-wrapper3 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.page-footer1 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.ragnarok-origin-global-in-ap {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-bottom8,
  .footer-content24 {
    flex: 1;
  }
  .footer45 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .page-footer1 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .app-info-container,
  .fast-delivery-icon4 {
    flex-wrap: wrap;
  }
  .stock-info15 {
    gap: var(--gap-34xl);
  }
  .component-420 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga66,
  .stock-info-grid,
  .stok-parent31 {
    gap: var(--gap-34xl);
  }
  .diamond-type6 {
    gap: var(--gap-22xl);
  }
  .account-and-order {
    flex: 1;
  }
  .content12 {
    flex-wrap: wrap;
  }
  .footer-bottom8 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .app-title-container {
    flex-wrap: wrap;
  }
  .home-button11 {
    display: none;
  }
  .navbar-219 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-and-content1 {
    gap: var(--gap-5xl);
  }
  .diamond-type-selection,
  .pilihan-harga67,
  .pilihan-harga68,
  .stock-and-price {
    flex-wrap: wrap;
  }
  .purchase-options3 {
    min-width: 100%;
  }
  .account-and-order {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods-container5 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer45 {
    gap: var(--gap-15xl);
  }
  .ragnarok-origin-global-in-ap {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .ragnarok-origin-global1 {
    font-size: var(--font-size-lgi);
  }
  .app-title-and-category {
    min-width: 100%;
  }
  .produk24,
  .tipe24 {
    font-size: var(--font-size-lgi);
  }
  .stock-info15 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat20 {
    gap: var(--gap-mini);
  }
  .component-420 {
    gap: var(--gap-base);
  }
  .stock-info-grid {
    gap: var(--gap-7xl);
  }
  .rp4000020 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent31 {
    gap: var(--gap-7xl);
  }
  .rp6400022 {
    font-size: var(--font-size-lgi);
  }
  .price-options-grid {
    gap: var(--gap-8xl);
  }
  .pilihan-harga66 {
    gap: var(--gap-7xl);
  }
  .diamond-type6 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan24 {
    font-size: var(--font-size-lgi);
  }
  .account-and-order {
    gap: var(--gap-9xl);
  }
  .payment-method-icons24 {
    flex-wrap: wrap;
  }
  .contact-info-parent1 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer45 {
    gap: var(--gap-mid);
  }
  .ragnarok-origin-global-in-ap {
    gap: var(--gap-2xl);
  }
}
