.separator-icon1 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-1-icon112 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.ragnarok-x1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup23,
.ragnarok-x1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a47,
.pilih-nominal-diamonds23,
.selesaikan-pembayaran23 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a46 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container23 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.top-up-instructions5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.mlbb-jjk-hd-1-parent1,
.top-up-info3 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.top-up-info3 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.mlbb-jjk-hd-1-parent1 {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift21 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.game-info-container,
.gift-wrapper11 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper11:hover {
  background-color: var(--color-forestgreen);
}
.game-info-container {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.content-separator1,
.game-logo3 {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.game-logo3 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content-separator1 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.platform-name-container-child {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming59 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.platform-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home211 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-button-content,
.home210 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home210 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home213 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper92,
.home212 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home212 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home215 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper93,
.home214 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home214 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home217 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper94,
.home216 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home216 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-button-container2 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child14 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-216 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.refund-button-background2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light26 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.refund-button-container {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar-container3,
.user-action-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.user-action-container {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-container3 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe21 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon42 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond83 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-type-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon23 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.diamond-type-dropdown-containe,
.diamond-type-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond-type-image-container {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond82 {
  width: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk21 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon43 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond85 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.diamond-product-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.diamond-product-dropdown-icon {
  width: 16px;
  height: 10px;
  position: relative;
}
.diamond-product-dropdown-conta,
.diamond-product-image-containe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.diamond-product-image-containe {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-option-product-contain,
.diamond-option-type,
.diamond84 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond84 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-option-product-contain,
.diamond-option-type {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-option-type {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-guarantee-background {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau21 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.delivery-guarantee-container {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22021 {
  position: relative;
}
.min-beli63,
.rb126,
.rb127,
.stats,
.stok63,
.terjual63 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli63,
.rb126,
.rb127,
.stats,
.terjual63 {
  min-width: 51px;
}
.min-beli63,
.rb126,
.rb127,
.stats {
  min-width: 64px;
}
.rb126,
.rb127,
.stats {
  min-width: 42px;
}
.stats {
  min-width: 8px;
}
.delivery-stats {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span21 {
  font-size: var(--font-size-base);
}
.top-up21 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container19 {
  width: 100%;
}
.rp59100-top-up19 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.delivery-details-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.delivery-info-container {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-417,
.delivery-info-container,
.pengiriman-cepat17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat17 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-417 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon21 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-option-container {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.min-beli64,
.rb128,
.rb129,
.separator11,
.stok64,
.terjual64 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli64,
.rb128,
.rb129,
.separator11,
.terjual64 {
  min-width: 51px;
}
.min-beli64,
.rb128,
.rb129,
.separator11 {
  min-width: 64px;
}
.rb128,
.rb129,
.separator11 {
  flex: 1;
  min-width: 47px;
}
.stock-info-container1 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit43,
.rp4000017 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000017 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga58 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express23 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper17 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper17:hover {
  background-color: var(--color-gainsboro-100);
}
.b26,
.min-beli65,
.rb130,
.rb131,
.stok65,
.terjual65 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b26,
.min-beli65,
.rb130,
.rb131,
.terjual65 {
  min-width: 51px;
}
.b26,
.min-beli65,
.rb130,
.rb131 {
  min-width: 64px;
}
.b26,
.rb130,
.rb131 {
  flex: 1;
  min-width: 47px;
}
.stok-parent26 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit44,
.rp6400019 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400019 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent22 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga59 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.options-grid-container,
.pilihan-harga57 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga57 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.delivery-option-container-child,
.tawaran-lain21 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.delivery-option-container-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain21 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.delivery-option-container {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.offer-separator-container-child {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.offer-separator-icon1 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.offer-separator-container {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.purchase-options-container1 {
  align-self: stretch;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.diamond-option-container,
.purchase-options-container1,
.top-up-options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-option-container {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.top-up-options-container {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.user-inputs-container-child {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan21,
.user-id21,
.your-id63 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan21 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id21,
.your-id63 {
  font-size: var(--font-size-base);
}
.user-id21 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id63 {
  flex: 1;
}
.user-i-d-fields-container,
.user-i-d-labels-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-i-d-fields-container {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-i-d-labels-container {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id64,
.zona-id21 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id21 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id64 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.user-i-d-input-container,
.user-i-d-labels-container1,
.your-id-wrapper30 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper30 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.user-i-d-input-container,
.user-i-d-labels-container1 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-i-d-input-container {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual21,
.your-id65 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual21 {
  z-index: 3;
}
.your-id65 {
  flex: 1;
}
.note-input-container,
.seller-note-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input-container {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.seller-note-container {
  flex-direction: column;
  gap: var(--gap-smi);
}
.increase-quantity-icon2 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus21 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.decrease-quantity-background1 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus21,
.minus-sign1 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus21 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-sign1 {
  flex: 1;
  position: relative;
}
.decrease-quantity-container,
.quantity-value-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrease-quantity-container {
  flex: 1;
  gap: var(--gap-9xl);
}
.quantity-value-container {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910025,
.subtotal22 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910025 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.quantity-control13,
.quantity-display-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.quantity-display-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-control13 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit23 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button10 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button10:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.content-container2,
.user-inputs-container {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.user-inputs-container {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.content-container2 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-top-background-container,
.footer-top-background1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-top-background1 {
  background-color: var(--color-gainsboro-200);
}
.footer-top-background-container {
  margin: 0 !important;
}
.footer-left-child1 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming60 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-brand6,
.footer-left3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-brand6 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-left3 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital32 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up32 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-description10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa32 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content23,
.footer-right3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-right3 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content23 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman31 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon31 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-set4 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon31 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-set5 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon31 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-set6 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon31 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-set7 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya31 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-method-icons15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami31 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-method-icon-set {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-method-icons7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom31 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-method-set {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon71 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp31 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-info24,
.contact-method-set1,
.contact-methods18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-method-set1 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-info24,
.contact-methods18 {
  flex-direction: column;
}
.contact-methods18 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-info24 {
  gap: var(--gap-3xs);
}
.contact-separator16 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen31 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga31,
.direktorat-jenderal31,
.kementerian31,
.perdagangan-ri31,
.perlindungan-konsumen31 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container31 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.complaint-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.authority-logo-icon1 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.authority-logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.footer-placeholder {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.complaint-logo4,
.contact-details-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.complaint-logo4 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details-container1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller36 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller31,
.login-reseller31 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller31 {
  min-width: 86px;
}
.reseller-options12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-details-container-parent,
.payment-options17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-details-container-parent {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-options17 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi31 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate31,
.blog31,
.kebijakan-privasi31,
.syarat-ketentuan31 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate31,
.blog31,
.kebijakan-privasi31 {
  min-width: 99px;
}
.affiliate31,
.blog31 {
  min-width: 26px;
}
.affiliate31 {
  min-width: 44px;
}
.information-links5,
.information-list2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.information-list2 {
  gap: var(--gap-smi-8);
}
.information-links5 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami31 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-131,
.icon-instagram-131,
.icon-x-20231018-131 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-131 {
  height: 15.3px;
}
.social-icons23,
.social-links12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-links12 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-131 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-container7,
.social-media12 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media12 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods20 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.contact-details24,
.footer-contact7,
.footer42,
.payment-methods20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-details24 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-contact7,
.footer42 {
  box-sizing: border-box;
}
.footer-contact7 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer42 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report24 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--primery-color);
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.report-wrapper8:hover {
  background-color: var(--color-cornflowerblue);
}
.footer41 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.ragnarok-x {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-contact7,
  .footer-content23 {
    flex: 1;
  }
  .footer42 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer41 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-guarantee-container,
  .game-info-container {
    flex-wrap: wrap;
  }
  .delivery-stats {
    gap: var(--gap-34xl);
  }
  .component-417 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga57,
  .stock-info-container1,
  .stok-parent26 {
    gap: var(--gap-34xl);
  }
  .diamond-option-container {
    gap: var(--gap-22xl);
  }
  .user-inputs-container {
    flex: 1;
  }
  .content-container2 {
    flex-wrap: wrap;
  }
  .footer-contact7 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .mlbb-jjk-hd-1-parent1 {
    flex-wrap: wrap;
  }
  .home-button-container2 {
    display: none;
  }
  .navbar-216 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-container3 {
    gap: var(--gap-5xl);
  }
  .delivery-details-container,
  .diamond-option-type,
  .pilihan-harga58,
  .pilihan-harga59 {
    flex-wrap: wrap;
  }
  .top-up-options-container {
    min-width: 100%;
  }
  .user-inputs-container {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods20 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer42 {
    gap: var(--gap-15xl);
  }
  .ragnarok-x {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .ragnarok-x1 {
    font-size: var(--font-size-lgi);
  }
  .top-up-info3 {
    min-width: 100%;
  }
  .produk21,
  .tipe21 {
    font-size: var(--font-size-lgi);
  }
  .delivery-stats {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat17 {
    gap: var(--gap-mini);
  }
  .component-417 {
    gap: var(--gap-base);
  }
  .stock-info-container1 {
    gap: var(--gap-7xl);
  }
  .rp4000017 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent26 {
    gap: var(--gap-7xl);
  }
  .rp6400019 {
    font-size: var(--font-size-lgi);
  }
  .options-grid-container {
    gap: var(--gap-8xl);
  }
  .pilihan-harga57 {
    gap: var(--gap-7xl);
  }
  .diamond-option-container {
    gap: var(--gap-xl);
  }
  .informasi-pesanan21 {
    font-size: var(--font-size-lgi);
  }
  .user-inputs-container {
    gap: var(--gap-9xl);
  }
  .payment-method-icons15 {
    flex-wrap: wrap;
  }
  .contact-details-container-parent {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer42 {
    gap: var(--gap-mid);
  }
  .ragnarok-x {
    gap: var(--gap-2xl);
  }
}
