.frame-child249 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-8-icon4 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.ragnarok-x- {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup71,
.ragnarok-x- {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a143,
.pilih-nominal-diamonds71,
.selesaikan-pembayaran71 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a142 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container71 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.cara-topup-parent17 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.mlbb-jjk-hd-8-parent,
.ragnarok-x-login-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.ragnarok-x-login-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.mlbb-jjk-hd-8-parent {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift70 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.frame-parent205,
.gift-wrapper42 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper42 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper42:hover {
  background-color: var(--color-forestgreen);
}
.frame-parent205 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.content-divider5,
.rectangle-parent100 {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.rectangle-parent100 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content-divider5 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.frame-child250 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming155 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.frame-parent206 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home596 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-wrapper251,
.home595 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home595 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home598 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper252,
.home597 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home597 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home600 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper253,
.home599 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home599 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home602 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper254,
.home601 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home601 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-parent23 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child62 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-264 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.refund-background6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light74 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.refund-button6 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar-2-parent19,
.refund-button-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.refund-button-frame {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-2-parent19 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe69 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon138 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond275 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-wrapper59 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon71 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper29 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond274,
.fearrow-down-wrapper29,
.image-3-parent39 {
  display: flex;
  align-items: flex-start;
}
.image-3-parent39 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond274 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk70 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon139 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond277 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.diamond-wrapper61 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.diamond-product-dropdown-icon1 {
  width: 16px;
  height: 10px;
  position: relative;
}
.diamond-product-dropdown-icon-wrapper,
.image-3-parent40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.image-3-parent40 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-type-card,
.diamond-wrapper60,
.diamond276 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond276 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-type-card,
.diamond-wrapper60 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-type-card {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-guarantee-background1 {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau69 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.delivery-guarantee10 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22069,
.stok207 {
  position: relative;
}
.stok207 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli207,
.rb414,
.rb415,
.stock-values10,
.terjual207 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli207,
.rb414,
.rb415,
.stock-values10 {
  min-width: 64px;
}
.rb414,
.rb415,
.stock-values10 {
  min-width: 42px;
}
.stock-values10 {
  min-width: 8px;
}
.stock-labels15 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span69 {
  font-size: var(--font-size-base);
}
.top-up69 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container67 {
  width: 100%;
}
.rp59100-top-up67 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-details38 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.stock-info47 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-465,
.pengiriman-cepat65,
.stock-info47 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat65 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-465 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon69 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.diskon-wrapper8 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.empty-row,
.min-beli208,
.rb416,
.rb417,
.stok208,
.terjual208 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.empty-row,
.min-beli208,
.rb416,
.rb417,
.terjual208 {
  min-width: 51px;
}
.empty-row,
.min-beli208,
.rb416,
.rb417 {
  min-width: 64px;
}
.empty-row,
.rb416,
.rb417 {
  flex: 1;
  min-width: 47px;
}
.stok-parent84 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit141,
.rp4000065 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000065 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent73 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga202 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express71 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper65 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper65:hover {
  background-color: var(--color-gainsboro-100);
}
.b86,
.min-beli209,
.rb418,
.rb419,
.stok209,
.terjual209 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b86,
.min-beli209,
.rb418,
.rb419,
.terjual209 {
  min-width: 51px;
}
.b86,
.min-beli209,
.rb418,
.rb419 {
  min-width: 64px;
}
.b86,
.rb418,
.rb419 {
  flex: 1;
  min-width: 47px;
}
.stok-parent85 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit142,
.rp6400067 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400067 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent74 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga203 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga201,
.price-options20 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga201 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.frame-child251,
.tawaran-lain69 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.frame-child251 {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain69 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.pilihan-harga-parent20 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frame-child252 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.input-divider-icon5 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.frame-parent208,
.rectangle-parent101 {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangle-parent101 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.frame-parent208 {
  font-size: var(--font-size-base);
}
.diamond-type-card-parent,
.frame-parent208,
.frame-wrapper58 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-type-card-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.frame-wrapper58 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child253 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan69,
.user-id69,
.your-id207 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan69 {
  text-decoration: none;
  font-size: var(--semi-bold-24-size);
  z-index: 3;
}
.user-id69,
.your-id207 {
  font-size: var(--font-size-base);
}
.user-id69 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id207 {
  flex: 1;
}
.user-i-d-input-boxes,
.user-i-d-zone-i-d-labels1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-i-d-input-boxes {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-i-d-zone-i-d-labels1 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id208,
.zona-id69 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id69 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id208 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.user-i-d-input-labels,
.user-i-d-zone-i-d-labels2,
.your-id-wrapper96 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper96 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.user-i-d-input-labels,
.user-i-d-zone-i-d-labels2 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-i-d-input-labels {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual69,
.your-id209 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual69 {
  z-index: 3;
}
.your-id209 {
  flex: 1;
}
.catatan-untuk-penjual-parent32,
.your-id-wrapper97 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper97 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.catatan-untuk-penjual-parent32 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.plus-icon29 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus69 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.minus-background-icon12 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus69,
.minus-button-background12 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus69 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-button-background12 {
  flex: 1;
  position: relative;
}
.icround-minus-parent13,
.minus-button27 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icround-minus-parent13 {
  flex: 1;
  gap: var(--gap-9xl);
}
.minus-button27 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910073,
.subtotal78 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910073 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-label9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrease-quantity6,
.quantity-control39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrease-quantity6 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-control39 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit72 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button36 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button36:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.frame-parent207,
.rectangle-parent102 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent102 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.frame-parent207 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-top-border-wrapper4,
.footer-top-border6 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-top-border6 {
  background-color: var(--color-gainsboro-200);
}
.footer-top-border-wrapper4 {
  margin: 0 !important;
}
.brand-info-inner {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming156 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.brand-info2,
.brand-name-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand-name-container1 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.brand-info2 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital80 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up80 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.company-description8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa80 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.company-info25,
.footer-info34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-info25 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-info34 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman79 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon79 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-containers12 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon79 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-containers13 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon79 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-containers14 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon79 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-containers15 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya79 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-method-list6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami79 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-icons46 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-link-icons3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom79 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-link-containers2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon149 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper93 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp79 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-link-containers3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details60,
.contact-links24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-links24 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-details60 {
  gap: var(--gap-3xs);
}
.contact-separator49 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen79 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga79,
.direktorat-jenderal79,
.kementerian79,
.perdagangan-ri79,
.perlindungan-konsumen79 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container79 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-info17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.consumer-logo-image1 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.consumer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div28 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.consumer-logo8,
.contact-info55 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.consumer-logo8 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-info55 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller88 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller79,
.login-reseller79 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller79 {
  min-width: 86px;
}
.payment-method-icons36,
.reseller-parent16,
.support-info2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-parent16 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.payment-method-icons36,
.support-info2 {
  max-width: 100%;
}
.support-info2 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-method-icons36 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi79 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate79,
.blog79,
.kebijakan-privasi79,
.syarat-ketentuan79 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate79,
.blog79,
.kebijakan-privasi79 {
  min-width: 99px;
}
.affiliate79,
.blog79 {
  min-width: 26px;
}
.affiliate79 {
  min-width: 44px;
}
.information-links-wrapper1,
.information-links11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.information-links11 {
  gap: var(--gap-smi-8);
}
.information-links-wrapper1 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami79 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-179,
.icon-instagram-179,
.icon-x-20231018-179 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-179 {
  height: 15.3px;
}
.social-icons54,
.social-links39 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-links39 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-179 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-container-container,
.social-container21 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-container-container {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods48 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer116,
.payment-and-support4,
.payment-info29,
.payment-methods48 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-info29 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer116,
.payment-and-support4 {
  box-sizing: border-box;
}
.payment-and-support4 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer116 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report72 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper31 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--primery-color);
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.report-wrapper31:hover {
  background-color: var(--color-cornflowerblue);
}
.footer115 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.ragnarok-x-login {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-info34,
  .payment-and-support4 {
    flex: 1;
  }
  .footer116 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer115 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-guarantee10,
  .frame-parent205 {
    flex-wrap: wrap;
  }
  .stock-labels15 {
    gap: var(--gap-34xl);
  }
  .component-465 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga201,
  .stok-parent84,
  .stok-parent85 {
    gap: var(--gap-34xl);
  }
  .diamond-type-card-parent {
    gap: var(--gap-22xl);
  }
  .rectangle-parent102 {
    flex: 1;
  }
  .frame-parent207 {
    flex-wrap: wrap;
  }
  .payment-and-support4 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .mlbb-jjk-hd-8-parent {
    flex-wrap: wrap;
  }
  .home-parent23 {
    display: none;
  }
  .navbar-264 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-2-parent19 {
    gap: var(--gap-5xl);
  }
  .diamond-type-card,
  .pilihan-harga202,
  .pilihan-harga203,
  .stock-details38 {
    flex-wrap: wrap;
  }
  .frame-wrapper58 {
    min-width: 100%;
  }
  .rectangle-parent102 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods48 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer116 {
    gap: var(--gap-15xl);
  }
  .ragnarok-x-login {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .ragnarok-x- {
    font-size: var(--font-size-lgi);
  }
  .ragnarok-x-login-parent {
    min-width: 100%;
  }
  .produk70,
  .tipe69 {
    font-size: var(--font-size-lgi);
  }
  .stock-labels15 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat65 {
    gap: var(--gap-mini);
  }
  .component-465 {
    gap: var(--gap-base);
  }
  .stok-parent84 {
    gap: var(--gap-7xl);
  }
  .rp4000065 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent85 {
    gap: var(--gap-7xl);
  }
  .rp6400067 {
    font-size: var(--font-size-lgi);
  }
  .price-options20 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga201 {
    gap: var(--gap-7xl);
  }
  .diamond-type-card-parent {
    gap: var(--gap-xl);
  }
  .informasi-pesanan69 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent102 {
    gap: var(--gap-9xl);
  }
  .payment-method-list6 {
    flex-wrap: wrap;
  }
  .support-info2 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer116 {
    gap: var(--gap-mid);
  }
  .ragnarok-x-login {
    gap: var(--gap-2xl);
  }
}
