.game-background-icon {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-11-icon2 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.roblox1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup56,
.roblox1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a113,
.pilih-nominal-diamonds56,
.selesaikan-pembayaran56 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a112 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container56 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.game-content,
.game-info5,
.game-topup {
  display: flex;
  justify-content: flex-start;
}
.game-topup {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.game-content,
.game-info5 {
  max-width: 100%;
}
.game-info5 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.game-content {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift55 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.game-content-parent,
.gift-label1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-label1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-label1:hover {
  background-color: var(--color-forestgreen);
}
.game-content-parent {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.game-container,
.navigation5 {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.game-container {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.navigation5 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.brand-container-child {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming125 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.brand-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home476 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-link-items3,
.home475 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home475 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home478 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper201,
.home477 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home477 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home480 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper202,
.home479 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home479 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home482 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper203,
.home481 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home481 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-link-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child47 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-249 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.search-background2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light59 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.search-input1 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar-container10,
.search-bar1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.search-bar1 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-container10 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe54 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon108 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond215 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.type-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon56 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.dropdown-icon5 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond-type-image4,
.diamond214,
.dropdown-icon5 {
  display: flex;
  align-items: flex-start;
}
.diamond-type-image4 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond214 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk55 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon109 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond217 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.expand-icon4 {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-expand1,
.product-image20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-image20 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-product5,
.diamond216,
.product-type7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond216 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-product5,
.product-type7 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.product-type7 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-icon11,
.menit-dikirim-atau54 {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.delivery-icon11 {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau54 {
  height: 73px;
  display: flex;
  align-items: center;
}
.delivery-info8 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22054,
.stok162 {
  position: relative;
}
.stok162 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli162,
.rb324,
.rb325,
.stock-labels10,
.terjual162 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli162,
.rb324,
.rb325,
.stock-labels10 {
  min-width: 64px;
}
.rb324,
.rb325,
.stock-labels10 {
  min-width: 42px;
}
.stock-labels10 {
  min-width: 8px;
}
.stock-info36 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span54 {
  font-size: var(--font-size-base);
}
.top-up54 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container52 {
  width: 100%;
}
.rp59100-top-up52 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-details29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.delivery-details6 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-450,
.delivery-details6,
.pengiriman-cepat50 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat50 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-450 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon54 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-comparison {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.stok163 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli163,
.placeholder6,
.rb326,
.rb327,
.terjual163 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli163,
.placeholder6,
.rb326,
.rb327 {
  min-width: 64px;
}
.placeholder6,
.rb326,
.rb327 {
  flex: 1;
  min-width: 47px;
}
.stock-comparison1 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit111,
.rp4000050 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000050 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price-comparison1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga157 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express56 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper50 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper50:hover {
  background-color: var(--color-gainsboro-100);
}
.b66,
.min-beli164,
.rb328,
.rb329,
.stok164,
.terjual164 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b66,
.min-beli164,
.rb328,
.rb329,
.terjual164 {
  min-width: 51px;
}
.b66,
.min-beli164,
.rb328,
.rb329 {
  min-width: 64px;
}
.b66,
.rb328,
.rb329 {
  flex: 1;
  min-width: 47px;
}
.stok-parent67 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit112,
.rp6400052 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400052 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent56 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga158 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga156,
.price-comparison1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga156 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.price-options-child1,
.tawaran-lain54 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.price-options-child1 {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain54 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.price-options15 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.order-info-item {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.order-separator-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.order-info1,
.price-details {
  align-self: stretch;
  justify-content: flex-start;
}
.order-info1 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.price-details {
  font-size: var(--font-size-base);
}
.price-details,
.product-container5,
.product-options11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.product-options11 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.product-container5 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.order-input-item {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan54,
.user-id54,
.your-id162 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan54 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id54,
.your-id162 {
  font-size: var(--font-size-base);
}
.user-id54 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id162 {
  flex: 1;
}
.user-input-labels4,
.user-inputs4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-inputs4 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-input-labels4 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id163,
.zona-id54 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id54 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id163 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.user-id-input5,
.user-input-labels5,
.your-id-wrapper74 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper74 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.user-id-input5,
.user-input-labels5 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-id-input5 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual54,
.your-id164 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual54 {
  z-index: 3;
}
.your-id164 {
  flex: 1;
}
.note-input27,
.seller-note10 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input27 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.seller-note10 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.increment-icon5 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus54 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.decrement-background-icon4 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus54,
.minus-button-background9 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus54 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-button-background9 {
  flex: 1;
  position: relative;
}
.decrement-button6,
.decrement-container2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-button6 {
  flex: 1;
  gap: var(--gap-9xl);
}
.decrement-container2 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910058,
.subtotal61 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910058 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.quantity-control29,
.quantity-display3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.quantity-display3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-control29 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit57 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.quantity7,
.submit-button28 {
  display: flex;
  align-items: flex-start;
}
.submit-button28 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button28:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity7 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.order-input1,
.product-container-group {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.order-input1 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.product-container-group {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-inner15,
.frame-child211 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child211 {
  background-color: var(--color-gainsboro-200);
}
.footer-inner15 {
  margin: 0 !important;
}
.brand-info-item {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming126 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.brand-info1,
.brand-name8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand-name8 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.brand-info1 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital65 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up65 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.company-info21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa65 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.company-details10,
.footer-content37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-details10 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content37 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman64 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon64 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.available-methods {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon64 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.available-methods1 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon64 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.available-methods2 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon64 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.available-methods3 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya64 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-options31 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami64 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.platform-icons6 {
  width: 16px;
  height: 12px;
  position: relative;
}
.channel-icons3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom64 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-links20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon129 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper76 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp64 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-channels1,
.contact-details51,
.contact-links21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-links21 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-channels1,
.contact-details51 {
  flex-direction: column;
}
.contact-channels1 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-details51 {
  gap: var(--gap-3xs);
}
.contact-separator41 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen64 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga64,
.direktorat-jenderal64,
.kementerian64,
.perdagangan-ri64,
.perlindungan-konsumen64 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container64 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-complaint10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.authority-image-icon {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.authority-icon5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.empty-placeholder2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.authority-logo5,
.support-details1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.authority-logo5 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.support-details1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller72 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller64,
.login-reseller64 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller64 {
  min-width: 86px;
}
.contact-info48,
.method-icons23,
.reseller-options25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-options25 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info48,
.method-icons23 {
  max-width: 100%;
}
.contact-info48 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.method-icons23 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi64 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate64,
.blog64,
.kebijakan-privasi64,
.syarat-ketentuan64 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate64,
.blog64,
.kebijakan-privasi64 {
  min-width: 99px;
}
.affiliate64,
.blog64 {
  min-width: 26px;
}
.affiliate64 {
  min-width: 44px;
}
.informasi-parent4,
.information-links10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.informasi-parent4 {
  gap: var(--gap-smi-8);
}
.information-links10 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami64 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-164,
.icon-instagram-164,
.icon-x-20231018-164 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-164 {
  height: 15.3px;
}
.ikuti-kami-parent6,
.social-icons-container5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.ikuti-kami-parent6 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-164 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-links29,
.social-media25 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media25 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods40 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer93,
.payment-and-support2,
.payment-methods40,
.pembayaran-aman-parent11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.pembayaran-aman-parent11 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer93,
.payment-and-support2 {
  box-sizing: border-box;
}
.payment-and-support2 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer93 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report57 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-issue2 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-container13 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.roblox {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content37,
  .payment-and-support2 {
    flex: 1;
  }
  .footer93 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-container13 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-info8,
  .game-content-parent {
    flex-wrap: wrap;
  }
  .stock-info36 {
    gap: var(--gap-34xl);
  }
  .component-450 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga156,
  .stock-comparison1,
  .stok-parent67 {
    gap: var(--gap-34xl);
  }
  .product-options11 {
    gap: var(--gap-22xl);
  }
  .order-input1 {
    flex: 1;
  }
  .product-container-group {
    flex-wrap: wrap;
  }
  .payment-and-support2 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .game-content {
    flex-wrap: wrap;
  }
  .home-link-container {
    display: none;
  }
  .navbar-249 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-container10 {
    gap: var(--gap-5xl);
  }
  .pilihan-harga157,
  .pilihan-harga158,
  .product-type7,
  .stock-details29 {
    flex-wrap: wrap;
  }
  .product-container5 {
    min-width: 100%;
  }
  .order-input1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods40 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer93 {
    gap: var(--gap-15xl);
  }
  .roblox {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .roblox1 {
    font-size: var(--font-size-lgi);
  }
  .game-info5 {
    min-width: 100%;
  }
  .produk55,
  .tipe54 {
    font-size: var(--font-size-lgi);
  }
  .stock-info36 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat50 {
    gap: var(--gap-mini);
  }
  .component-450 {
    gap: var(--gap-base);
  }
  .stock-comparison1 {
    gap: var(--gap-7xl);
  }
  .rp4000050 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent67 {
    gap: var(--gap-7xl);
  }
  .rp6400052 {
    font-size: var(--font-size-lgi);
  }
  .price-comparison1 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga156 {
    gap: var(--gap-7xl);
  }
  .product-options11 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan54 {
    font-size: var(--font-size-lgi);
  }
  .order-input1 {
    gap: var(--gap-9xl);
  }
  .payment-options31 {
    flex-wrap: wrap;
  }
  .contact-info48 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer93 {
    gap: var(--gap-mid);
  }
  .roblox {
    gap: var(--gap-2xl);
  }
}
