.banner-background-icon1 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-2-icon8 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.street-fighter-duel1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup27,
.street-fighter-duel1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a55,
.pilih-nominal-diamonds27,
.selesaikan-pembayaran27 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a54 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container27 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.game-info2,
.game-title,
.topup-info3 {
  display: flex;
  justify-content: flex-start;
}
.topup-info3 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.game-info2,
.game-title {
  max-width: 100%;
}
.game-title {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.game-info2 {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift25 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.banner-content1,
.gift-icon2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-icon2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-icon2:hover {
  background-color: var(--color-forestgreen);
}
.banner-content1 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.game-banner2,
.street-fighter-duel-child {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.game-banner2 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.street-fighter-duel-child {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.navbar-left-child2 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming67 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.navbar-left5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home243 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-button-labels1,
.home242 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home242 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home245 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper106,
.home244 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home244 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home247 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper107,
.home246 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home246 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home249 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper108,
.home248 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home248 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-links {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child18 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-220 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.notification-background3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light30 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.notification-icon4 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar10,
.user-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.user-icons {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar10 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe25 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon50 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond99 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.type-name2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon27 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper8 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond98,
.fearrow-down-wrapper8,
.type-image1 {
  display: flex;
  align-items: flex-start;
}
.type-image1 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond98 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk25 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon51 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond101 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-name6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.vector-icon78 {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-dropdown8,
.product-image12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-image12 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond100,
.product-option3,
.type-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond100 {
  align-self: stretch;
  gap: var(--gap-base);
}
.product-option3,
.type-option {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.type-option {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.guarantee-background-icon2 {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau25 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.delivery-icon3 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22025 {
  position: relative;
}
.min-beli75,
.rb150,
.rb151,
.stock-labels2,
.stok75,
.terjual75 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli75,
.rb150,
.rb151,
.stock-labels2,
.terjual75 {
  min-width: 51px;
}
.min-beli75,
.rb150,
.rb151,
.stock-labels2 {
  min-width: 64px;
}
.rb150,
.rb151,
.stock-labels2 {
  min-width: 42px;
}
.stock-labels2 {
  min-width: 8px;
}
.stock-details12 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span25 {
  font-size: var(--font-size-base);
}
.top-up25 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container23 {
  width: 100%;
}
.rp59100-top-up23 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-info16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.delivery-details2 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-421,
.delivery-details2,
.pengiriman-cepat21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat21 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-421 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon25 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-option5 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.empty-label1,
.min-beli76,
.rb152,
.rb153,
.stok76,
.terjual76 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.empty-label1,
.min-beli76,
.rb152,
.rb153,
.terjual76 {
  min-width: 51px;
}
.empty-label1,
.min-beli76,
.rb152,
.rb153 {
  min-width: 64px;
}
.empty-label1,
.rb152,
.rb153 {
  flex: 1;
  min-width: 47px;
}
.stock-option5 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit51,
.rp4000021 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000021 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price-option3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga70 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express27 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper21:hover {
  background-color: var(--color-gainsboro-100);
}
.b31,
.min-beli77,
.rb154,
.rb155,
.stok77,
.terjual77 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b31,
.min-beli77,
.rb154,
.rb155,
.terjual77 {
  min-width: 51px;
}
.b31,
.min-beli77,
.rb154,
.rb155 {
  min-width: 64px;
}
.b31,
.rb154,
.rb155 {
  flex: 1;
  min-width: 47px;
}
.stok-parent32 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit52,
.rp6400023 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400023 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent26 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga71 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga69,
.pricing-options1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga69 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.delivery-info-inner,
.tawaran-lain25 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.delivery-info-inner {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain25 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.delivery-info4 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.delivery-info4,
.divider-icon1,
.frame-child126 {
  position: relative;
  max-width: 100%;
}
.frame-child126 {
  height: 170px;
  width: 901px;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.divider-icon1 {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.purchase-details4,
.rectangle-parent42 {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangle-parent42 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.purchase-details4 {
  font-size: var(--font-size-base);
}
.diamond-options5,
.purchase-details4,
.topup-options2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-options5 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.topup-options2 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.user-input-child {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan25,
.user-id25,
.your-id75 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan25 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id25,
.your-id75 {
  font-size: var(--font-size-base);
}
.user-id25 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id75 {
  flex: 1;
}
.id-fields,
.input-boxes {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-boxes {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.id-fields {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id76,
.zona-id25 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id25 {
  text-decoration: none;
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id76 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.id-fields1,
.input-fields9,
.your-id-wrapper34 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper34 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.id-fields1,
.input-fields9 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.input-fields9 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual25,
.your-id77 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual25 {
  z-index: 3;
}
.your-id77 {
  flex: 1;
}
.note-input12,
.seller-note3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input12 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.seller-note3 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.plus-icon10 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus25 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.minus-background-icon2 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus25,
.minus-sign2 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus25 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-sign2 {
  flex: 1;
  position: relative;
}
.minus-button9,
.minus-icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-icon-container {
  flex: 1;
  gap: var(--gap-9xl);
}
.minus-button9 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910029,
.subtotal26 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910029 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrease-button2,
.quantity-buttons6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrease-button2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-buttons6 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit27 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button11:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.page-content,
.user-input1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.user-input1 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.page-content {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-decoration-container,
.footer-decoration1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-decoration1 {
  background-color: var(--color-gainsboro-200);
}
.footer-decoration-container {
  margin: 0 !important;
}
.footer-left-child2 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming68 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.brand-name3,
.footer-left4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand-name3 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-left4 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital36 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up36 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.company-description4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa36 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.company-info10,
.footer-info15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-info10 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-info15 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman35 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon35 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.gpay-1-wrapper8 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon35 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.dana-1-wrapper8 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon35 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.spay-1-wrapper8 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon35 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ovo-1-wrapper8 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya35 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-method-list5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami35 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-icons16 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-method-icons9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom35 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-method-icons-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon79 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper43 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp35 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-details28,
.contact-methods19,
.frame-parent82 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent82 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details28,
.contact-methods19 {
  flex-direction: column;
}
.contact-methods19 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-details28 {
  gap: var(--gap-3xs);
}
.contact-separator19 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen35 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga35,
.direktorat-jenderal35,
.kementerian35,
.perdagangan-ri35,
.perlindungan-konsumen35 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container35 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-info7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.consumer-link-icon {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.icon-container3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.placeholder3 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.consumer-icon3,
.contact-details-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.consumer-icon3 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details-parent4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller40 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller35,
.login-reseller35 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller35 {
  min-width: 86px;
}
.contact-info26,
.payment-methods21,
.reseller-info3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-info3 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info26,
.payment-methods21 {
  max-width: 100%;
}
.contact-info26 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-methods21 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi35 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate35,
.blog35,
.kebijakan-privasi35,
.syarat-ketentuan35 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate35,
.blog35,
.kebijakan-privasi35 {
  min-width: 99px;
}
.affiliate35,
.blog35 {
  min-width: 26px;
}
.affiliate35 {
  min-width: 44px;
}
.info-links9,
.information-links6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.information-links6 {
  gap: var(--gap-smi-8);
}
.info-links9 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami35 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-135,
.icon-instagram-135,
.icon-x-20231018-135 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-135 {
  height: 15.3px;
}
.social-icons25,
.social-platform-icons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-icons25 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-135 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-container11,
.social-links14 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-links14 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-options19 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer-right4,
.footer47,
.payment-info11,
.payment-options19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-info11 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-right4,
.footer47 {
  box-sizing: border-box;
}
.footer-right4 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer47 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report28 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper9 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer46 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.street-fighter-duel {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-info15,
  .footer-right4 {
    flex: 1;
  }
  .footer47 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer46 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .banner-content1,
  .delivery-icon3 {
    flex-wrap: wrap;
  }
  .stock-details12 {
    gap: var(--gap-34xl);
  }
  .component-421 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga69,
  .stock-option5,
  .stok-parent32 {
    gap: var(--gap-34xl);
  }
  .diamond-options5 {
    gap: var(--gap-22xl);
  }
  .user-input1 {
    flex: 1;
  }
  .page-content {
    flex-wrap: wrap;
  }
  .footer-right4 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .game-info2 {
    flex-wrap: wrap;
  }
  .home-links {
    display: none;
  }
  .navbar-220 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar10 {
    gap: var(--gap-5xl);
  }
  .pilihan-harga70,
  .pilihan-harga71,
  .stock-info16,
  .type-option {
    flex-wrap: wrap;
  }
  .topup-options2 {
    min-width: 100%;
  }
  .user-input1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-options19 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer47 {
    gap: var(--gap-15xl);
  }
  .street-fighter-duel {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .street-fighter-duel1 {
    font-size: var(--font-size-lgi);
  }
  .game-title {
    min-width: 100%;
  }
  .produk25,
  .tipe25 {
    font-size: var(--font-size-lgi);
  }
  .stock-details12 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat21 {
    gap: var(--gap-mini);
  }
  .component-421 {
    gap: var(--gap-base);
  }
  .stock-option5 {
    gap: var(--gap-7xl);
  }
  .rp4000021 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent32 {
    gap: var(--gap-7xl);
  }
  .rp6400023 {
    font-size: var(--font-size-lgi);
  }
  .pricing-options1 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga69 {
    gap: var(--gap-7xl);
  }
  .diamond-options5 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan25 {
    font-size: var(--font-size-lgi);
  }
  .user-input1 {
    gap: var(--gap-9xl);
  }
  .payment-method-list5 {
    flex-wrap: wrap;
  }
  .contact-info26 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer47 {
    gap: var(--gap-mid);
  }
  .street-fighter-duel {
    gap: var(--gap-2xl);
  }
}
