.empty-list-icon {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-7-icon {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.sushiroll1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup37,
.sushiroll1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a75,
.pilih-nominal-diamonds37,
.selesaikan-pembayaran37 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a74 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container37 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.cara-topup-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.mlbb-jjk-hd-7-parent,
.sushiroll-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.sushiroll-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.mlbb-jjk-hd-7-parent {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift35 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.frame-parent109,
.gift-wrapper19 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper19 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper19:hover {
  background-color: var(--color-forestgreen);
}
.frame-parent109 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.sushiroll-child,
.sushiroll-one {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.sushiroll-one {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.sushiroll-child {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.frame-child145 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming87 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.frame-parent110 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home323 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-wrapper138,
.home322 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home322 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home325 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper139,
.home324 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home324 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home327 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper140,
.home326 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home326 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home329 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper141,
.home328 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home328 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-parent13 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child28 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-230 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.frame-child146 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light40 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.rectangle-parent53 {
  height: 28px;
  flex: 1;
  position: relative;
}
.frame-wrapper34,
.navbar-2-parent7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-wrapper34 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-2-parent7 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe35 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon70 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond139 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-title-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon37 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper14 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond138,
.fearrow-down-wrapper14,
.image-3-parent13 {
  display: flex;
  align-items: flex-start;
}
.image-3-parent13 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond138 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk35 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon71 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond141 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.diamond-title-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.vector-icon93 {
  width: 16px;
  height: 10px;
  position: relative;
}
.image-3-parent14,
.vector-wrapper54 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.image-3-parent14 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-parent6,
.diamond-wrapper24,
.diamond140 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond140 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-parent6,
.diamond-wrapper24 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-parent6 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-child147,
.menit-dikirim-atau35 {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.frame-child147 {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau35 {
  height: 73px;
  display: flex;
  align-items: center;
}
.rectangle-parent54 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22035,
.stok105 {
  position: relative;
}
.stok105 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli105,
.pilihan-harga-items,
.rb210,
.rb211,
.terjual105 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli105,
.pilihan-harga-items,
.rb210,
.rb211 {
  min-width: 64px;
}
.pilihan-harga-items,
.rb210,
.rb211 {
  min-width: 42px;
}
.pilihan-harga-items {
  min-width: 8px;
}
.top-up-price {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span35 {
  font-size: var(--font-size-base);
}
.top-up35 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container33 {
  width: 100%;
}
.rp59100-top-up33 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stok-values {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-220-diamonds-parent3 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-431,
.diamond-220-diamonds-parent3,
.pengiriman-cepat31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat31 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-431 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon35 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.stok-values-two {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.b43,
.min-beli106,
.rb212,
.rb213,
.stok106,
.terjual106 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b43,
.min-beli106,
.rb212,
.rb213,
.terjual106 {
  min-width: 51px;
}
.b43,
.min-beli106,
.rb212,
.rb213 {
  min-width: 64px;
}
.b43,
.rb212,
.rb213 {
  flex: 1;
  min-width: 47px;
}
.harga-per-unit71 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit72,
.rp4000031 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000031 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.user-i-d-zona-i-d {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga100 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express37 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper31 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper31:hover {
  background-color: var(--color-gainsboro-100);
}
.b44,
.min-beli107,
.rb214,
.rb215,
.stok107,
.terjual107 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b44,
.min-beli107,
.rb214,
.rb215,
.terjual107 {
  min-width: 51px;
}
.b44,
.min-beli107,
.rb214,
.rb215 {
  min-width: 64px;
}
.b44,
.rb214,
.rb215 {
  flex: 1;
  min-width: 47px;
}
.stok-parent43 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit73,
.rp6400033 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400033 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent37 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga101 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga99,
.separator15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga99 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.frame-child148,
.tawaran-lain35 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.frame-child148 {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain35 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.pilihan-harga-parent9 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.your-i-d-one-child {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.your-i-d-one-item {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.frame-parent113,
.your-i-d-one {
  align-self: stretch;
  justify-content: flex-start;
}
.your-i-d-one {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.frame-parent113 {
  font-size: var(--font-size-base);
}
.frame-parent112,
.frame-parent113,
.frame-wrapper35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent112 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.frame-wrapper35 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child149 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan35,
.user-id35,
.your-id105 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan35 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id35,
.your-id105 {
  font-size: var(--font-size-base);
}
.user-id35 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id105 {
  flex: 1;
}
.user-id-parent3,
.your-id-wrapper45 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper45 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-id-parent3 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id106,
.zona-id35 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id35 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id106 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.informasi-pesanan-parent7,
.your-id-wrapper46,
.zona-id-parent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper46 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.informasi-pesanan-parent7,
.zona-id-parent2 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.informasi-pesanan-parent7 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual35,
.your-id107 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual35 {
  z-index: 3;
}
.your-id107 {
  flex: 1;
}
.submit37,
.subtotal-values {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit37 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.subtotal-values {
  flex-direction: column;
  gap: var(--gap-smi);
}
.lapak-gaming-info1 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus35 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.wilayah-bahasa-icon {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus35,
.minus-counter {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus35 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-counter {
  flex: 1;
  position: relative;
}
.lapak-gaming-name-two,
.p-t-global-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.p-t-global-info {
  flex: 1;
  gap: var(--gap-9xl);
}
.lapak-gaming-name-two {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910039,
.subtotal38 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910039 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent19 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.icoutline-plus-parent4,
.lapak-gaming-info-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lapak-gaming-info-details {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.icoutline-plus-parent4 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit38 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.footer-instance,
.submit-button18 {
  display: flex;
  align-items: flex-start;
}
.submit-button18 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button18:hover {
  background-color: var(--color-goldenrod-200);
}
.footer-instance {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.frame-parent111,
.rectangle-parent55 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent55 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.frame-parent111 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-fill,
.footer-fill-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-fill {
  background-color: var(--color-gainsboro-200);
}
.footer-fill-wrapper {
  margin: 0 !important;
}
.footer-branding-child {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming88 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-branding,
.site-name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.site-name {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-branding {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital46 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up46 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.copyright1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa46 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content29,
.footer-info19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-info19 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content29 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman45 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon45 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.logo-set-one {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon45 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.logo-set-one1 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon45 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.logo-set-one2 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon45 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.logo-set-one3 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya45 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-options21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami45 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.icon-set4 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-icons20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom45 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.communication {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon94 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper55 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp45 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.communication1,
.contact-options17,
.support-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.communication1 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-options17,
.support-info {
  flex-direction: column;
}
.contact-options17 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.support-info {
  gap: var(--gap-3xs);
}
.info-divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen45 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga45,
.direktorat-jenderal45,
.kementerian45,
.perdagangan-ri45,
.perlindungan-konsumen45 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container45 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-protection3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.authority-icon3 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.logo-container14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div18 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.authority-logo3,
.contact-info32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.authority-logo3 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-info32 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller52 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller45,
.login-reseller45 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller45 {
  min-width: 86px;
}
.reseller-options18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-details35,
.payment-options-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-details35 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-options-group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi45 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate45,
.blog45,
.kebijakan-privasi45,
.syarat-ketentuan45 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate45,
.blog45,
.kebijakan-privasi45 {
  min-width: 99px;
}
.affiliate45,
.blog45 {
  min-width: 26px;
}
.affiliate45 {
  min-width: 44px;
}
.legal-information1,
.legal-links10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-information1 {
  gap: var(--gap-smi-8);
}
.legal-links10 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami45 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-145,
.icon-instagram-145,
.icon-x-20231018-145 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-145 {
  height: 15.3px;
}
.social-icons31,
.social-platform {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-icons31 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-145 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-media15,
.social-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media15 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-logos {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer63,
.payment-logos,
.payment-security3,
.secure-payments {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.secure-payments {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer63,
.payment-security3 {
  box-sizing: border-box;
}
.payment-security3 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer63 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report38 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper13 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-wrapper7 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.sushiroll {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content29,
  .payment-security3 {
    flex: 1;
  }
  .footer63 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-wrapper7 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .frame-parent109,
  .rectangle-parent54 {
    flex-wrap: wrap;
  }
  .top-up-price {
    gap: var(--gap-34xl);
  }
  .component-431 {
    gap: var(--gap-12xl);
  }
  .harga-per-unit71,
  .pilihan-harga99,
  .stok-parent43 {
    gap: var(--gap-34xl);
  }
  .frame-parent112 {
    gap: var(--gap-22xl);
  }
  .rectangle-parent55 {
    flex: 1;
  }
  .frame-parent111 {
    flex-wrap: wrap;
  }
  .payment-security3 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .mlbb-jjk-hd-7-parent {
    flex-wrap: wrap;
  }
  .home-parent13 {
    display: none;
  }
  .navbar-230 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-2-parent7 {
    gap: var(--gap-5xl);
  }
  .diamond-parent6,
  .pilihan-harga100,
  .pilihan-harga101,
  .stok-values {
    flex-wrap: wrap;
  }
  .frame-wrapper35 {
    min-width: 100%;
  }
  .rectangle-parent55 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-logos {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer63 {
    gap: var(--gap-15xl);
  }
  .sushiroll {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .sushiroll1 {
    font-size: var(--font-size-lgi);
  }
  .sushiroll-parent {
    min-width: 100%;
  }
  .produk35,
  .tipe35 {
    font-size: var(--font-size-lgi);
  }
  .top-up-price {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat31 {
    gap: var(--gap-mini);
  }
  .component-431 {
    gap: var(--gap-base);
  }
  .harga-per-unit71 {
    gap: var(--gap-7xl);
  }
  .rp4000031 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent43 {
    gap: var(--gap-7xl);
  }
  .rp6400033 {
    font-size: var(--font-size-lgi);
  }
  .separator15 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga99 {
    gap: var(--gap-7xl);
  }
  .frame-parent112 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan35 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent55 {
    gap: var(--gap-9xl);
  }
  .payment-options21 {
    flex-wrap: wrap;
  }
  .contact-details35 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer63 {
    gap: var(--gap-mid);
  }
  .sushiroll {
    gap: var(--gap-2xl);
  }
}
