.brand-logo {
  width: 811px;
  height: 209px;
  position: absolute;
  margin: 0 !important;
  top: 474px;
  left: 40px;
  background-color: var(--color-gainsboro-200);
}
.mlbb-jjk-hd-8-icon5 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.telkomsel1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup75,
.telkomsel1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a151,
.pilih-nominal-diamonds75,
.selesaikan-pembayaran75 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a150 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container75 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.instructions {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.telkomsel-parent,
.top-content6 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.telkomsel-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.top-content6 {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift74 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-tag7,
.top-content-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-tag7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-tag7:hover {
  background-color: var(--color-forestgreen);
}
.top-content-group {
  width: 1124px;
  margin: 0 !important;
  position: absolute;
  bottom: -100px;
  left: 40px;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child264 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming163 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.frame-parent227 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home628 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-icon2,
.home627 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home627 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home630 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper266,
.home629 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home629 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home632 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper267,
.home631 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home631 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home634 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper268,
.home633 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home633 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.navigation10 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child66 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-268 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.notification-background9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light78 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.notification-icon12 {
  height: 28px;
  flex: 1;
  position: relative;
}
.content34,
.navbar26,
.notification2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.notification2 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
}
.content34,
.navbar26 {
  max-width: 100%;
}
.navbar26 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-29xl);
}
.content34 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.tipe73 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon146 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond291 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.type-name4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon75 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.type-dropdown10 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond290,
.type-dropdown10,
.type-icon9 {
  display: flex;
  align-items: flex-start;
}
.type-icon9 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond290 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk74 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon147 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond293 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-title2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.expand-icon5 {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-details16,
.product-expand4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-details16 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond292,
.product-types2,
.product107 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond292 {
  align-self: stretch;
  gap: var(--gap-base);
}
.product-types2,
.product107 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.product-types2 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.guarantee-background-icon7 {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau73 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.delivery-guarantee11 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22073,
.stok219 {
  position: relative;
}
.stok219 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli219,
.rb438,
.rb439,
.stock-breakdown,
.terjual219 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli219,
.rb438,
.rb439,
.stock-breakdown {
  min-width: 64px;
}
.rb438,
.rb439,
.stock-breakdown {
  min-width: 42px;
}
.stock-breakdown {
  min-width: 8px;
}
.stock-details40 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span73 {
  font-size: var(--font-size-base);
}
.top-up73 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container71 {
  width: 100%;
}
.rp59100-top-up71 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-info49 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.product-details-diamond {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-469,
.pengiriman-cepat69,
.product-details-diamond {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat69 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-469 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon73 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.option-labels2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.min-beli220,
.rb440,
.rb441,
.separator37,
.stok220,
.terjual220 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli220,
.rb440,
.rb441,
.separator37,
.terjual220 {
  min-width: 51px;
}
.min-beli220,
.rb440,
.rb441,
.separator37 {
  min-width: 64px;
}
.rb440,
.rb441,
.separator37 {
  flex: 1;
  min-width: 47px;
}
.option-values2 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit149,
.rp4000069 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000069 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.price-details2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga214 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express75 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper69 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper69:hover {
  background-color: var(--color-gainsboro-100);
}
.b92,
.min-beli221,
.rb442,
.rb443,
.stok221,
.terjual221 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b92,
.min-beli221,
.rb442,
.rb443,
.terjual221 {
  min-width: 51px;
}
.b92,
.min-beli221,
.rb442,
.rb443 {
  min-width: 64px;
}
.b92,
.rb442,
.rb443 {
  flex: 1;
  min-width: 47px;
}
.stok-parent91 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit150,
.rp6400071 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400071 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent79 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga215 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.options-grid2,
.pilihan-harga213 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga213 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.options-child,
.tawaran-lain73 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.options-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain73 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.frame-child265,
.options11 {
  position: relative;
  max-width: 100%;
}
.options11 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.frame-child265 {
  height: 170px;
  width: 901px;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.frame-child266 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.purchase-options12,
.rectangle-parent107 {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangle-parent107 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.purchase-options12 {
  font-size: var(--font-size-base);
}
.product-options17,
.product-selection8,
.purchase-options12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.product-options17 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.product-selection8 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child267 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan73,
.user-id73,
.your-id219 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan73 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 2;
}
.user-id73,
.your-id219 {
  font-size: var(--font-size-base);
}
.user-id73 {
  display: inline-block;
  min-width: 56px;
  z-index: 2;
}
.your-id219 {
  flex: 1;
}
.input-fields34,
.input-values3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-values3 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 2;
}
.input-fields34 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id220,
.zona-id73 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id73 {
  display: inline-block;
  min-width: 59px;
  z-index: 2;
}
.your-id220 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.input-fields35,
.user-id-input9,
.your-id-wrapper104 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper104 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 2;
}
.input-fields35,
.user-id-input9 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-id-input9 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual73,
.your-id221 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual73 {
  z-index: 2;
}
.your-id221 {
  flex: 1;
}
.note-input36,
.seller-note16 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input36 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 2;
}
.seller-note16 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.plus-icon31 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus73 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 2;
}
.minus-background-icon14 {
  width: 14px;
  height: 2px;
  position: relative;
}
.button-background,
.icround-minus73 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 2;
}
.icround-minus73 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.button-background {
  flex: 1;
  position: relative;
}
.minus-button29,
.minus-icon19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-button29 {
  flex: 1;
  gap: var(--gap-9xl);
}
.minus-icon19 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910077,
.subtotal82 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 2;
}
.rp5910077 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.price {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrease-button9,
.quantity-buttons20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrease-button9 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-buttons20 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit76 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button38 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 2;
}
.submit-button38:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control41 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.product-selection-parent,
.rectangle-parent108 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent108 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 1;
}
.product-selection-parent {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.background-wrapper4,
.background9 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background9 {
  background-color: var(--color-gainsboro-200);
}
.background-wrapper4 {
  margin: 0 !important;
}
.brand-info-child3 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming164 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.brand-info5,
.brand-name10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand-name10 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.brand-info5 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital84 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up84 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.description4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa84 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.company-info28,
.footer-details6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-info28 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-details6 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman83 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon83 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.gpay-1-wrapper23 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon83 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.dana-1-wrapper23 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon83 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.spay-1-wrapper23 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon83 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ovo-1-wrapper23 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya83 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-icon-list17 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami83 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.platform-icons7 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-platform2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom83 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-icons47 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon157 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper98 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp83 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-icons48,
.contact-methods32,
.contact-options37 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-icons48 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-methods32,
.contact-options37 {
  flex-direction: column;
}
.contact-methods32 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-options37 {
  gap: var(--gap-3xs);
}
.contact-separator50 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen83 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga83,
.direktorat-jenderal83,
.kementerian83,
.perdagangan-ri83,
.perlindungan-konsumen83 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container83 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.complaint-info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.logo-icon2 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.authority-icon6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.empty10 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.authority-logo7,
.contact-details62 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.authority-logo7 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details62 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller93 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller83,
.login-reseller83 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller83 {
  min-width: 86px;
}
.contact-info57,
.payment-icons34,
.reseller-options32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-options32 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info57,
.payment-icons34 {
  max-width: 100%;
}
.contact-info57 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-icons34 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi83 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate83,
.blog83,
.kebijakan-privasi83,
.syarat-ketentuan83 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate83,
.blog83,
.kebijakan-privasi83 {
  min-width: 99px;
}
.affiliate83,
.blog83 {
  min-width: 26px;
}
.affiliate83 {
  min-width: 44px;
}
.legal-info12,
.legal-links24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-links24 {
  gap: var(--gap-smi-8);
}
.legal-info12 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami83 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-183,
.icon-instagram-183,
.icon-x-20231018-183 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-183 {
  height: 15.3px;
}
.social-icon-list6,
.social-platform1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-platform1 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-183 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-icons58,
.social-media30 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media30 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods51 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer121,
.payment-info31,
.payment-methods51,
.payment-options37 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-options37 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer121,
.payment-info31 {
  box-sizing: border-box;
}
.payment-info31 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer121 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report76 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper34 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--primery-color);
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.report-wrapper34:hover {
  background-color: var(--color-cornflowerblue);
}
.footer120 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.telkomsel {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-details6,
  .payment-info31 {
    flex: 1;
  }
  .footer121 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer120 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-guarantee11,
  .top-content-group {
    flex-wrap: wrap;
  }
  .stock-details40 {
    gap: var(--gap-34xl);
  }
  .component-469 {
    gap: var(--gap-12xl);
  }
  .option-values2,
  .pilihan-harga213,
  .stok-parent91 {
    gap: var(--gap-34xl);
  }
  .product-options17 {
    gap: var(--gap-22xl);
  }
  .rectangle-parent108 {
    flex: 1;
  }
  .product-selection-parent {
    flex-wrap: wrap;
  }
  .payment-info31 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .top-content6 {
    flex-wrap: wrap;
  }
  .navigation10 {
    display: none;
  }
  .navbar-268 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar26 {
    gap: var(--gap-5xl);
  }
  .pilihan-harga214,
  .pilihan-harga215,
  .product-types2,
  .stock-info49 {
    flex-wrap: wrap;
  }
  .product-selection8 {
    min-width: 100%;
  }
  .rectangle-parent108 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods51 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer121 {
    gap: var(--gap-15xl);
  }
  .telkomsel {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .telkomsel1 {
    font-size: var(--font-size-lgi);
  }
  .telkomsel-parent {
    min-width: 100%;
  }
  .produk74,
  .tipe73 {
    font-size: var(--font-size-lgi);
  }
  .stock-details40 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat69 {
    gap: var(--gap-mini);
  }
  .component-469 {
    gap: var(--gap-base);
  }
  .option-values2 {
    gap: var(--gap-7xl);
  }
  .rp4000069 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent91 {
    gap: var(--gap-7xl);
  }
  .rp6400071 {
    font-size: var(--font-size-lgi);
  }
  .options-grid2 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga213 {
    gap: var(--gap-7xl);
  }
  .product-options17 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan73 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent108 {
    gap: var(--gap-9xl);
  }
  .payment-icon-list17 {
    flex-wrap: wrap;
  }
  .contact-info57 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer121 {
    gap: var(--gap-mid);
  }
  .telkomsel {
    gap: var(--gap-2xl);
  }
}
