.game-banner-child {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-1-icon107 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.honkai-star {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup11,
.honkai-star {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a23,
.pilih-nominal-diamonds11,
.selesaikan-pembayaran11 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a22 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container11 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.top-up-instructions2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.honkai-top-up,
.top-up-option {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.honkai-top-up {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.top-up-option {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift9 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.game-options,
.gift-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper4:hover {
  background-color: var(--color-forestgreen);
}
.game-options {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.content-background1,
.game-banner {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.game-banner {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content-background1 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.navbar-left-child {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming35 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home115 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-wrapper52,
.home114 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home114 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home117 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper53,
.home116 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home116 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home119 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper54,
.home118 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home118 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home121 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper55,
.home120 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home120 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-button1 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child2 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-24 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.bell-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light14 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.bell-icon {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar-and-content,
.notification-bell {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.notification-bell {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-and-content {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe9 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon18 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond35 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.type-label1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon11 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper2 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond34,
.fearrow-down-wrapper2,
.type-icon4 {
  display: flex;
  align-items: flex-start;
}
.type-icon4 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond34 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk9 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon19 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond37 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-diamond-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.vector-icon46 {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-dropdown2,
.product-icon4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-icon4 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-type3,
.diamond36,
.product-option2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond36 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-type3,
.product-option2 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-type3 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.guarantee-background-icon1 {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau9 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.guarantee-info {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-2209 {
  position: relative;
}
.b10,
.min-beli27,
.rb54,
.rb55,
.stok27,
.terjual27 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b10,
.min-beli27,
.rb54,
.rb55,
.terjual27 {
  min-width: 51px;
}
.b10,
.min-beli27,
.rb54,
.rb55 {
  min-width: 64px;
}
.b10,
.rb54,
.rb55 {
  min-width: 42px;
}
.b10 {
  min-width: 8px;
}
.stock-info6 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span9 {
  font-size: var(--font-size-base);
}
.top-up9 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container7 {
  width: 100%;
}
.rp59100-top-up7 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-details5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-stock-info1 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-45,
.diamond-stock-info1,
.pengiriman-cepat5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat5 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-45 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon9 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-option1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.min-beli28,
.rb56,
.rb57,
.separator6,
.stok28,
.terjual28 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli28,
.rb56,
.rb57,
.separator6,
.terjual28 {
  min-width: 51px;
}
.min-beli28,
.rb56,
.rb57,
.separator6 {
  min-width: 64px;
}
.rb56,
.rb57,
.separator6 {
  flex: 1;
  min-width: 47px;
}
.stock-option1 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit19,
.rp400005 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp400005 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price-option {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga22 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express11 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper5:hover {
  background-color: var(--color-gainsboro-100);
}
.b11,
.min-beli29,
.rb58,
.rb59,
.stok29,
.terjual29 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b11,
.min-beli29,
.rb58,
.rb59,
.terjual29 {
  min-width: 51px;
}
.b11,
.min-beli29,
.rb58,
.rb59 {
  min-width: 64px;
}
.b11,
.rb58,
.rb59 {
  flex: 1;
  min-width: 47px;
}
.stok-parent9 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit20,
.rp640007 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp640007 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga23 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga21,
.price-options1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga21 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.delivery-option-child1,
.tawaran-lain9 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.delivery-option-child1 {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain9 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.delivery-option3 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.delivery-option3,
.frame-child86,
.frame-child87 {
  position: relative;
  max-width: 100%;
}
.frame-child86 {
  height: 170px;
  width: 901px;
  background-color: var(--color-gainsboro-200);
  display: none;
}
.frame-child87 {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.purchase-details1,
.rectangle-parent21 {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangle-parent21 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.purchase-details1 {
  font-size: var(--font-size-base);
}
.diamond-options1,
.purchase-details1,
.purchase-options1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-options1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.purchase-options1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.user-form-child {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan9,
.user-id9,
.your-id27 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan9 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id9,
.your-id27 {
  font-size: var(--font-size-base);
}
.user-id9 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id27 {
  flex: 1;
}
.user-and-zone-input,
.user-i-d-input1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-and-zone-input {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-i-d-input1 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id28,
.zona-id9 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id9 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id28 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.user-i-d-input2,
.user-i-d-zone-i-d2,
.your-id-wrapper11 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper11 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.user-i-d-input2,
.user-i-d-zone-i-d2 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-i-d-zone-i-d2 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual9,
.your-id29 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual9 {
  z-index: 3;
}
.your-id29 {
  flex: 1;
}
.note-input5,
.seller-note {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input5 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.seller-note {
  flex-direction: column;
  gap: var(--gap-smi);
}
.plus-icon3 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus9 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.minus-icon5 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus9,
.minus-button5 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus9 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-button5 {
  flex: 1;
  position: relative;
}
.minus-button4,
.minus-icon4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-icon4 {
  flex: 1;
  gap: var(--gap-9xl);
}
.minus-button4 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910013,
.subtotal9 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910013 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrease-quantity,
.quantity-control5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrease-quantity {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-control5 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit11 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-wrapper1:hover {
  background-color: var(--color-goldenrod-200);
}
.content9,
.quantity1,
.user-form {
  display: flex;
  justify-content: flex-start;
}
.quantity1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.content9,
.user-form {
  box-sizing: border-box;
  max-width: 100%;
}
.user-form {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.content9 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-background-rect,
.footer-background-rect-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-background-rect {
  background-color: var(--color-gainsboro-200);
}
.footer-background-rect-wrapper {
  margin: 0 !important;
}
.footer-left-item {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming36 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-brand3,
.footer-left1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-brand3 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-left1 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital20 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up20 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.pt-global-digital-indokreasi-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa20 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content14,
.footer-description5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-description5 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content14 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman19 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon19 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.gpay-1-wrapper4 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon19 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.dana-1-wrapper4 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon19 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.spay-1-wrapper4 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon19 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ovo-1-wrapper4 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya19 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-icon-list1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami19 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.vector-icon47 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-icons9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom19 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-methods5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon48 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp19 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-details14,
.contact-info12,
.contact-methods6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-methods6 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details14,
.contact-info12 {
  flex-direction: column;
}
.contact-details14 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-info12 {
  gap: var(--gap-3xs);
}
.contact-separator9 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen19 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga19,
.direktorat-jenderal19,
.kementerian19,
.perdagangan-ri19,
.perlindungan-konsumen19 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container19 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-complaint2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.vector-icon49 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.complaint-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div8 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.complaint-logo1,
.contact-info-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.complaint-logo1 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-info-group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller23 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller19,
.login-reseller19 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller19 {
  min-width: 86px;
}
.footer-contact4,
.payment-methods11,
.reseller-links1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-links1 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.footer-contact4,
.payment-methods11 {
  max-width: 100%;
}
.footer-contact4 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-methods11 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi19 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate19,
.blog19,
.kebijakan-privasi19,
.syarat-ketentuan19 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate19,
.blog19,
.kebijakan-privasi19 {
  min-width: 99px;
}
.affiliate19,
.blog19 {
  min-width: 26px;
}
.affiliate19 {
  min-width: 44px;
}
.information-links-wrapper,
.information-links2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.information-links2 {
  gap: var(--gap-smi-8);
}
.information-links-wrapper {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami19 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-119,
.icon-instagram-119,
.icon-x-20231018-119 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-119 {
  height: 15.3px;
}
.icon-facebook-1-parent1,
.social-icons13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-icons13 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-119 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-links-wrapper,
.social-links8 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-links-wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-icons6 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer-payment3,
.footer-right1,
.footer26,
.payment-icons6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-payment3 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-right1,
.footer26 {
  box-sizing: border-box;
}
.footer-right1 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report12 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--primery-color);
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.report-wrapper4:hover {
  background-color: var(--color-cornflowerblue);
}
.footer-parent2 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.transhonkai-star-railaksi {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content14,
  .footer-right1 {
    flex: 1;
  }
  .footer26 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-parent2 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .game-options,
  .guarantee-info {
    flex-wrap: wrap;
  }
  .stock-info6 {
    gap: var(--gap-34xl);
  }
  .component-45 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga21,
  .stock-option1,
  .stok-parent9 {
    gap: var(--gap-34xl);
  }
  .diamond-options1 {
    gap: var(--gap-22xl);
  }
  .user-form {
    flex: 1;
  }
  .content9 {
    flex-wrap: wrap;
  }
  .footer-right1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .top-up-option {
    flex-wrap: wrap;
  }
  .home-button1 {
    display: none;
  }
  .navbar-24 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-and-content {
    gap: var(--gap-5xl);
  }
  .diamond-type3,
  .pilihan-harga22,
  .pilihan-harga23,
  .stock-details5 {
    flex-wrap: wrap;
  }
  .purchase-options1 {
    min-width: 100%;
  }
  .user-form {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-icons6 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer26 {
    gap: var(--gap-15xl);
  }
  .transhonkai-star-railaksi {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .honkai-star {
    font-size: var(--font-size-lgi);
  }
  .honkai-top-up {
    min-width: 100%;
  }
  .produk9,
  .tipe9 {
    font-size: var(--font-size-lgi);
  }
  .stock-info6 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat5 {
    gap: var(--gap-mini);
  }
  .component-45 {
    gap: var(--gap-base);
  }
  .stock-option1 {
    gap: var(--gap-7xl);
  }
  .rp400005 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent9 {
    gap: var(--gap-7xl);
  }
  .rp640007 {
    font-size: var(--font-size-lgi);
  }
  .price-options1 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga21 {
    gap: var(--gap-7xl);
  }
  .diamond-options1 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan9 {
    font-size: var(--font-size-lgi);
  }
  .user-form {
    gap: var(--gap-9xl);
  }
  .payment-icon-list1 {
    flex-wrap: wrap;
  }
  .footer-contact4 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer26 {
    gap: var(--gap-mid);
  }
  .transhonkai-star-railaksi {
    gap: var(--gap-2xl);
  }
}
