.game-logo-child {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-2-icon3 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.valorant1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup17,
.valorant1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a35,
.pilih-nominal-diamonds17,
.selesaikan-pembayaran17 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a34 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container17 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.topup-label {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.user-i-d-zone-i-d3,
.zone-i-d-field {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.zone-i-d-field {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.user-i-d-zone-i-d3 {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift15 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-wrapper7,
.user-i-d-zone-i-d-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper7:hover {
  background-color: var(--color-forestgreen);
}
.user-i-d-zone-i-d-parent {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.game-logo1,
.valorant-child {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.game-logo1 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.valorant-child {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.home-button-item {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming47 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.home-button7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home163 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home162,
.product-image9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home162 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home165 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper73,
.home164 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home164 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home167 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper74,
.home166 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home166 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home169 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper75,
.home168 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home168 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-parent6 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child8 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-210 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.product-description1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light20 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.product-variant-name {
  height: 28px;
  flex: 1;
  position: relative;
}
.product-variant,
.website-name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.product-variant {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.website-name {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe15 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon30 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond59 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.minus-icon6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon17 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper4 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond58,
.fearrow-down-wrapper4,
.image-3-parent6 {
  display: flex;
  align-items: flex-start;
}
.image-3-parent6 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond58 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk15 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon31 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond61 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.company-description3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.secure-payment-label {
  width: 16px;
  height: 10px;
  position: relative;
}
.company-information,
.payment-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.company-information {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-parent3,
.diamond60,
.footer32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond60 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-parent3,
.footer32 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-parent3 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.customer-service-email {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau15 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.contact-methods13 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22015,
.stok45 {
  position: relative;
}
.stok45 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.government-website,
.min-beli45,
.rb90,
.rb91,
.terjual45 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.government-website,
.min-beli45,
.rb90,
.rb91 {
  min-width: 64px;
}
.government-website,
.rb90,
.rb91 {
  min-width: 42px;
}
.government-website {
  min-width: 8px;
}
.government-logo1 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span15 {
  font-size: var(--font-size-base);
}
.top-up15 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container13 {
  width: 100%;
}
.rp59100-top-up13 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.government-institution {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-220-diamonds-parent1 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-411,
.diamond-220-diamonds-parent1,
.pengiriman-cepat11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat11 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-411 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon15 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.diskon-wrapper1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.min-beli46,
.rb92,
.rb93,
.refund-icon1,
.stok46,
.terjual46 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli46,
.rb92,
.rb93,
.refund-icon1,
.terjual46 {
  min-width: 51px;
}
.min-beli46,
.rb92,
.rb93,
.refund-icon1 {
  min-width: 64px;
}
.rb92,
.rb93,
.refund-icon1 {
  flex: 1;
  min-width: 47px;
}
.information-label {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit31,
.rp4000011 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000011 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.price-options3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga40 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express17 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper11:hover {
  background-color: var(--color-gainsboro-100);
}
.b19,
.min-beli47,
.rb94,
.rb95,
.stok47,
.terjual47 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b19,
.min-beli47,
.rb94,
.rb95,
.terjual47 {
  min-width: 51px;
}
.b19,
.min-beli47,
.rb94,
.rb95 {
  min-width: 64px;
}
.b19,
.rb94,
.rb95 {
  flex: 1;
  min-width: 47px;
}
.stok-parent16 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit32,
.rp6400013 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400013 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent13 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga41 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga39,
.reseller-options10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga39 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.payment-method-options-child,
.tawaran-lain15 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.payment-method-options-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain15 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.payment-method-options {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.subtotal-label-child {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.plus-icon-background {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.payment-methods16,
.subtotal-label3 {
  align-self: stretch;
  justify-content: flex-start;
}
.subtotal-label3 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.payment-methods16 {
  font-size: var(--font-size-base);
}
.frame-parent63,
.other-offers-inner,
.payment-methods16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent63 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.other-offers-inner {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.minus-icon-background-child {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan15,
.user-id15,
.your-id45 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan15 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id15,
.your-id45 {
  font-size: var(--font-size-base);
}
.user-id15 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id45 {
  flex: 1;
}
.i-d-fields1,
.your-id-wrapper21 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper21 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.i-d-fields1 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id46,
.zona-id15 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id15 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id46 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.i-d-fields2,
.i-d-labels4,
.your-id-wrapper22 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper22 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.i-d-fields2,
.i-d-labels4 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.i-d-labels4 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual15,
.your-id47 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual15 {
  z-index: 3;
}
.your-id47 {
  flex: 1;
}
.government-address,
.term-privacy-policy {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.term-privacy-policy {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.government-address {
  flex-direction: column;
  gap: var(--gap-smi);
}
.vector-icon62 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus15 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.plus-button-icon {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus15,
.minus-button-background1 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus15 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-button-background1 {
  flex: 1;
  position: relative;
}
.contact-us-details,
.social-platform-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-us-details {
  flex: 1;
  gap: var(--gap-9xl);
}
.social-platform-icons {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910019,
.subtotal16 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910019 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.icoutline-plus-parent1,
.information-links4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.information-links4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.icoutline-plus-parent1 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit17 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.frame-parent64,
.submit-button8 {
  display: flex;
  align-items: flex-start;
}
.submit-button8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button8:hover {
  background-color: var(--color-goldenrod-200);
}
.frame-parent64 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.minus-icon-background1,
.other-offers2 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.minus-icon-background1 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.other-offers2 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-top-border-container,
.footer-top-border1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-top-border1 {
  background-color: var(--color-gainsboro-200);
}
.footer-top-border-container {
  margin: 0 !important;
}
.footer-left-inner {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming48 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-left2,
.site-name-footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.site-name-footer {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-left2 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital26 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up26 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-description8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa26 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content20,
.footer-right2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-right2 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content20 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman25 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon25 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.common-payments {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon25 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.common-payments1 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon25 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.common-payments2 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon25 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.common-payments3 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya25 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.main-payment-methods {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami25 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-icons14 {
  width: 16px;
  height: 12px;
  position: relative;
}
.link-icons5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom25 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-methods14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon63 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp25 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-info19,
.contact-links7,
.contact-methods15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-methods15 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-info19,
.contact-links7 {
  flex-direction: column;
}
.contact-links7 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-info19 {
  gap: var(--gap-3xs);
}
.contact-separator13 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen25 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga25,
.direktorat-jenderal25,
.kementerian25,
.perdagangan-ri25,
.perlindungan-konsumen25 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container25 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-complaint4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.complaint-icon6 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.logo-container6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.empty2 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.complaint-logo2,
.contact-details20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.complaint-logo2 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details20 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller29 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller25,
.login-reseller25 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller25 {
  min-width: 86px;
}
.contact-details-parent3,
.icon-list2,
.reseller-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-parent2 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-details-parent3,
.icon-list2 {
  max-width: 100%;
}
.contact-details-parent3 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.icon-list2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi25 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate25,
.blog25,
.kebijakan-privasi25,
.syarat-ketentuan25 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate25,
.blog25,
.kebijakan-privasi25 {
  min-width: 99px;
}
.affiliate25,
.blog25 {
  min-width: 26px;
}
.affiliate25 {
  min-width: 44px;
}
.info-links8,
.legal-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-links8 {
  gap: var(--gap-smi-8);
}
.legal-information {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami25 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-125,
.icon-instagram-125,
.icon-x-20231018-125 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-125 {
  height: 15.3px;
}
.follow-us1,
.social-icons19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.follow-us1 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-125 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-links10,
.social-media11 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-media11 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-icons9 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer-bottom7,
.footer34,
.payment-icons9,
.payment-security1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-security1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-bottom7,
.footer34 {
  box-sizing: border-box;
}
.footer-bottom7 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer34 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report18 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--primery-color);
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.report-wrapper6:hover {
  background-color: var(--color-cornflowerblue);
}
.footer33 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.valorant {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-bottom7,
  .footer-content20 {
    flex: 1;
  }
  .footer34 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer33 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .contact-methods13,
  .user-i-d-zone-i-d-parent {
    flex-wrap: wrap;
  }
  .government-logo1 {
    gap: var(--gap-34xl);
  }
  .component-411 {
    gap: var(--gap-12xl);
  }
  .information-label,
  .pilihan-harga39,
  .stok-parent16 {
    gap: var(--gap-34xl);
  }
  .frame-parent63 {
    gap: var(--gap-22xl);
  }
  .minus-icon-background1 {
    flex: 1;
  }
  .other-offers2 {
    flex-wrap: wrap;
  }
  .footer-bottom7 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .user-i-d-zone-i-d3 {
    flex-wrap: wrap;
  }
  .home-parent6 {
    display: none;
  }
  .navbar-210 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .website-name {
    gap: var(--gap-5xl);
  }
  .diamond-parent3,
  .government-institution,
  .pilihan-harga40,
  .pilihan-harga41 {
    flex-wrap: wrap;
  }
  .other-offers-inner {
    min-width: 100%;
  }
  .minus-icon-background1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-icons9 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer34 {
    gap: var(--gap-15xl);
  }
  .valorant {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .valorant1 {
    font-size: var(--font-size-lgi);
  }
  .zone-i-d-field {
    min-width: 100%;
  }
  .produk15,
  .tipe15 {
    font-size: var(--font-size-lgi);
  }
  .government-logo1 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat11 {
    gap: var(--gap-mini);
  }
  .component-411 {
    gap: var(--gap-base);
  }
  .information-label {
    gap: var(--gap-7xl);
  }
  .rp4000011 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent16 {
    gap: var(--gap-7xl);
  }
  .rp6400013 {
    font-size: var(--font-size-lgi);
  }
  .reseller-options10 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga39 {
    gap: var(--gap-7xl);
  }
  .frame-parent63 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan15 {
    font-size: var(--font-size-lgi);
  }
  .minus-icon-background1 {
    gap: var(--gap-9xl);
  }
  .main-payment-methods {
    flex-wrap: wrap;
  }
  .contact-details-parent3 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer34 {
    gap: var(--gap-mid);
  }
  .valorant {
    gap: var(--gap-2xl);
  }
}
