.product-display-child {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-7-icon1 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.voucher-bigo1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup38,
.voucher-bigo1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a77,
.pilih-nominal-diamonds38,
.selesaikan-pembayaran38 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a76 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container38 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 15px;
  display: inline-block;
  min-height: 66px;
}
.top-up-instructions7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.user-input2,
.zone-i-d-field1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.zone-i-d-field1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.user-input2 {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift36 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-wrapper20,
.top-up-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper20 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper20:hover {
  background-color: var(--color-forestgreen);
}
.top-up-details {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.background-shape1,
.product-display {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.product-display {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.background-shape1 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.brand-name-child {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming89 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.brand-name6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home331 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-button-container7,
.home330 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home330 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home333 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper142,
.home332 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home332 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home335 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper143,
.home334 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home334 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home337 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper144,
.home336 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home336 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-navigation2 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child29 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-231 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.refund-background4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light41 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.refund-icon-container {
  height: 28px;
  flex: 1;
  position: relative;
}
.navigation-bar,
.refund-button5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.refund-button5 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navigation-bar {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe36 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon72 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond143 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-category-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon38 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper15 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond-icon,
.diamond142,
.fearrow-down-wrapper15 {
  display: flex;
  align-items: flex-start;
}
.diamond-icon {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond142 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk36 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon73 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond145 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-name-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.dropdown-icon2 {
  width: 16px;
  height: 10px;
  position: relative;
}
.dropdown2,
.product-icon8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-icon8 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond144,
.product-category,
.product-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond144 {
  align-self: stretch;
  gap: var(--gap-base);
}
.product-category,
.product-items {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.product-items {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-background-icon2 {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau36 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.delivery-container1 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22036,
.stok108 {
  position: relative;
}
.stok108 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli108,
.rb216,
.rb217,
.stock-labels6,
.terjual108 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli108,
.rb216,
.rb217,
.stock-labels6 {
  min-width: 64px;
}
.rb216,
.rb217,
.stock-labels6 {
  min-width: 42px;
}
.stock-labels6 {
  min-width: 8px;
}
.stock-details18 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span36 {
  font-size: var(--font-size-base);
}
.top-up36 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container34 {
  width: 100%;
}
.rp59100-top-up34 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-info24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.product-description2 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-432,
.pengiriman-cepat32,
.product-description2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat32 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-432 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon36 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-column {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.min-beli109,
.rb218,
.rb219,
.separator16,
.stok109,
.terjual109 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli109,
.rb218,
.rb219,
.separator16,
.terjual109 {
  min-width: 51px;
}
.min-beli109,
.rb218,
.rb219,
.separator16 {
  min-width: 64px;
}
.rb218,
.rb219,
.separator16 {
  flex: 1;
  min-width: 47px;
}
.stock-column {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit74,
.rp4000032 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000032 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.price-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga103 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express38 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper32 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper32:hover {
  background-color: var(--color-gainsboro-100);
}
.b45,
.min-beli110,
.rb220,
.rb221,
.stok110,
.terjual110 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b45,
.min-beli110,
.rb220,
.rb221,
.terjual110 {
  min-width: 51px;
}
.b45,
.min-beli110,
.rb220,
.rb221 {
  min-width: 64px;
}
.b45,
.rb220,
.rb221 {
  flex: 1;
  min-width: 47px;
}
.stok-parent44 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit75,
.rp6400034 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400034 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent38 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga104 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.option-grid1,
.pilihan-harga102 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga102 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.product-option-list-child,
.tawaran-lain36 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.product-option-list-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain36 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.product-option-list {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.horizontal-rule-child {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.horizontal-rule-item {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.horizontal-rule,
.product-options5 {
  align-self: stretch;
  justify-content: flex-start;
}
.horizontal-rule {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.product-options5 {
  font-size: var(--font-size-base);
}
.product-category-list,
.product-container3,
.product-options5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.product-category-list {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.product-container3 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.order-form-child1 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan36,
.user-id36,
.your-id108 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan36 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id36,
.your-id108 {
  font-size: var(--font-size-base);
}
.user-id36 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id108 {
  flex: 1;
}
.input-field-containers,
.input-labels24 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field-containers {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.input-labels24 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id109,
.zona-id36 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id36 {
  text-decoration: none;
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id109 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.input-fields16,
.input-labels25,
.your-id-wrapper47 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper47 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.input-fields16,
.input-labels25 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.input-fields16 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual36,
.your-id110 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual36 {
  z-index: 3;
}
.your-id110 {
  flex: 1;
}
.notes-input,
.seller-notes {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.notes-input {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.seller-notes {
  flex-direction: column;
  gap: var(--gap-smi);
}
.plus-icon18 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus36 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.minus-background-icon4 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus36,
.minus-icon-b-g {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus36 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-icon-b-g {
  flex: 1;
  position: relative;
}
.minus-button15,
.minus-icon-container5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-icon-container5 {
  flex: 1;
  gap: var(--gap-9xl);
}
.minus-button15 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910040,
.subtotal39 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910040 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent20 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.minus-container2,
.quantity-buttons9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.minus-container2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-buttons9 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit39 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-wrapper5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-wrapper5:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control20 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.order-form4,
.product-categories {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.order-form4 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.product-categories {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-inner9,
.frame-child150 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child150 {
  background-color: var(--color-gainsboro-200);
}
.footer-inner9 {
  margin: 0 !important;
}
.frame-child151 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming90 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.frame-parent114,
.lapak-gaming-wrapper11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lapak-gaming-wrapper11 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.frame-parent114 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital47 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up47 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.company-info14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa47 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.company-info-group,
.footer-content30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-info-group {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content30 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman46 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon46 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.method-icons11 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon46 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.method-icons12 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon46 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.method-icons13 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon46 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.method-icons14 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya46 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.methods-list1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami46 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-icon-image {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-icon-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom46 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-icons21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon95 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper56 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp46 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-details36,
.contact-icons22,
.contact-methods21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-icons22 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details36,
.contact-methods21 {
  flex-direction: column;
}
.contact-methods21 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-details36 {
  gap: var(--gap-3xs);
}
.customer-service-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen46 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga46,
.direktorat-jenderal46,
.kementerian46,
.perdagangan-ri46,
.perlindungan-konsumen46 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container46 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-service2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.govt-logo-img {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.logo-image2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.div19 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.customer-service,
.govt-logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.govt-logo {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.customer-service {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller53 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller46,
.login-reseller46 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller46 {
  min-width: 86px;
}
.contact-info33,
.methods10,
.reseller-info5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-info5 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info33,
.methods10 {
  max-width: 100%;
}
.contact-info33 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.methods10 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi46 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate46,
.blog46,
.kebijakan-privasi46,
.syarat-ketentuan46 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate46,
.blog46,
.kebijakan-privasi46 {
  min-width: 99px;
}
.affiliate46,
.blog46 {
  min-width: 26px;
}
.affiliate46 {
  min-width: 44px;
}
.info-links10,
.info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-list {
  gap: var(--gap-smi-8);
}
.info-links10 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami46 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-146,
.icon-instagram-146,
.icon-x-20231018-146 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-146 {
  height: 15.3px;
}
.platform-icons3,
.social-icons32 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-icons32 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-146 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-links17,
.social9 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social9 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods28 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.contacts,
.contacts-wrapper,
.footer64,
.payment-methods28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contacts {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.contacts-wrapper,
.footer64 {
  box-sizing: border-box;
}
.contacts-wrapper {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer64 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report39 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-wrapper14 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-parent5 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.voucher-bigo {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .contacts-wrapper,
  .footer-content30 {
    flex: 1;
  }
  .footer64 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-parent5 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-container1,
  .top-up-details {
    flex-wrap: wrap;
  }
  .stock-details18 {
    gap: var(--gap-34xl);
  }
  .component-432 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga102,
  .stock-column,
  .stok-parent44 {
    gap: var(--gap-34xl);
  }
  .product-category-list {
    gap: var(--gap-22xl);
  }
  .order-form4 {
    flex: 1;
  }
  .product-categories {
    flex-wrap: wrap;
  }
  .contacts-wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .user-input2 {
    flex-wrap: wrap;
  }
  .home-navigation2 {
    display: none;
  }
  .navbar-231 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navigation-bar {
    gap: var(--gap-5xl);
  }
  .pilihan-harga103,
  .pilihan-harga104,
  .product-items,
  .stock-info24 {
    flex-wrap: wrap;
  }
  .product-container3 {
    min-width: 100%;
  }
  .order-form4 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods28 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer64 {
    gap: var(--gap-15xl);
  }
  .voucher-bigo {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .voucher-bigo1 {
    font-size: var(--font-size-lgi);
  }
  .zone-i-d-field1 {
    min-width: 100%;
  }
  .produk36,
  .tipe36 {
    font-size: var(--font-size-lgi);
  }
  .stock-details18 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat32 {
    gap: var(--gap-mini);
  }
  .component-432 {
    gap: var(--gap-base);
  }
  .stock-column {
    gap: var(--gap-7xl);
  }
  .rp4000032 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent44 {
    gap: var(--gap-7xl);
  }
  .rp6400034 {
    font-size: var(--font-size-lgi);
  }
  .option-grid1 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga102 {
    gap: var(--gap-7xl);
  }
  .product-category-list {
    gap: var(--gap-xl);
  }
  .informasi-pesanan36 {
    font-size: var(--font-size-lgi);
  }
  .order-form4 {
    gap: var(--gap-9xl);
  }
  .methods-list1 {
    flex-wrap: wrap;
  }
  .contact-info33 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer64 {
    gap: var(--gap-mid);
  }
  .voucher-bigo {
    gap: var(--gap-2xl);
  }
}
