.valorant-voucher-child {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-6-icon2 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.voucher-valorant1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup57,
.voucher-valorant1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a115,
.pilih-nominal-diamonds57,
.selesaikan-pembayaran57 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a114 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container57 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.topup-instructions1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.voucher-details2,
.voucher-info1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.voucher-info1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.voucher-details2 {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift56 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-wrapper33,
.voucher-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper33 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper33:hover {
  background-color: var(--color-forestgreen);
}
.voucher-container {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.page-background3,
.valorant-voucher {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.valorant-voucher {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.page-background3 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.navbar-left-child8 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming127 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.navbar-left11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home484 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-button-label-container,
.home483 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home483 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home486 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper204,
.home485 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home485 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home488 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper205,
.home487 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home487 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home490 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper206,
.home489 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home489 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-button-container9 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child48 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-250 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.notification-icon-background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light60 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.notification-icon-container2 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar-container11,
.notification-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.notification-container1 {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-container11 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe55 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon110 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond219 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.type-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon57 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.type-dropdown6,
.type-image-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.type-image-container1 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond218 {
  width: 192px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk56 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon111 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond221 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.product-dropdown-icon12 {
  width: 16px;
  height: 10px;
  position: relative;
}
.product-dropdown15,
.product-image-container5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-image-container5 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-type15,
.diamond220,
.product-selection6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond220 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-type15,
.product-selection6 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-type15 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-icon-background5 {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau55 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.delivery-icon-container2 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22055,
.stok165 {
  position: relative;
}
.stok165 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli165,
.rb330,
.rb331,
.stock-labels11,
.terjual165 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli165,
.rb330,
.rb331,
.stock-labels11 {
  min-width: 64px;
}
.rb330,
.rb331,
.stock-labels11 {
  min-width: 42px;
}
.stock-labels11 {
  min-width: 8px;
}
.stock-container3 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span55 {
  font-size: var(--font-size-base);
}
.top-up55 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container53 {
  width: 100%;
}
.rp59100-top-up53 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-details30 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.stock-info37 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-451,
.pengiriman-cepat51,
.stock-info37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat51 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-451 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon55 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-options1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.min-beli166,
.rb332,
.rb333,
.separator24,
.stok166,
.terjual166 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli166,
.rb332,
.rb333,
.separator24,
.terjual166 {
  min-width: 51px;
}
.min-beli166,
.rb332,
.rb333,
.separator24 {
  min-width: 64px;
}
.rb332,
.rb333,
.separator24 {
  flex: 1;
  min-width: 47px;
}
.stock-options3 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit113,
.rp4000051 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000051 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.unit-price-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga160 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express57 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper51 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper51:hover {
  background-color: var(--color-gainsboro-100);
}
.b67,
.min-beli167,
.rb334,
.rb335,
.stok167,
.terjual167 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b67,
.min-beli167,
.rb334,
.rb335,
.terjual167 {
  min-width: 51px;
}
.b67,
.min-beli167,
.rb334,
.rb335 {
  min-width: 64px;
}
.b67,
.rb334,
.rb335 {
  flex: 1;
  min-width: 47px;
}
.stok-parent68 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit114,
.rp6400053 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400053 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent57 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga161 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga159,
.pricing-options3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga159 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.delivery-info-child2,
.tawaran-lain55 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.delivery-info-child2 {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain55 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.delivery-info9 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.separator-container-child {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.separator-icon2 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.purchase-details6,
.separator-container {
  align-self: stretch;
  justify-content: flex-start;
}
.separator-container {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.purchase-details6 {
  font-size: var(--font-size-base);
}
.diamond-type-parent2,
.product-container6,
.purchase-details6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-type-parent2 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.product-container6 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.user-information-item {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan55,
.user-id55,
.your-id165 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan55 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id55,
.your-id165 {
  font-size: var(--font-size-base);
}
.user-id55 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id165 {
  flex: 1;
}
.input-containers2,
.user-i-d-fields2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-containers2 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-i-d-fields2 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id166,
.zona-id55 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id55 {
  text-decoration: none;
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id166 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.user-i-d-container1,
.user-i-d-fields3,
.your-id-wrapper75 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper75 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.user-i-d-container1,
.user-i-d-fields3 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-i-d-container1 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual55,
.your-id167 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual55 {
  z-index: 3;
}
.your-id167 {
  flex: 1;
}
.notes-container,
.notes-input-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.notes-input-container {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.notes-container {
  flex-direction: column;
  gap: var(--gap-smi);
}
.add-icon7 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus55 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.subtract-icon-background1 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus55,
.minus-button21 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus55 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-button21 {
  flex: 1;
  position: relative;
}
.subtract-button2,
.subtract-icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.subtract-icon-container {
  flex: 1;
  gap: var(--gap-9xl);
}
.subtract-button2 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910059,
.subtotal62 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910059 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.control-buttons3,
.subtract-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.subtract-button-container {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.control-buttons3 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit58 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-wrapper8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-wrapper8:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-control30 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.content25,
.user-information1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.user-information1 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.content25 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-top-border-wrapper2,
.footer-top-border4 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-top-border4 {
  background-color: var(--color-gainsboro-200);
}
.footer-top-border-wrapper2 {
  margin: 0 !important;
}
.footer-left-child5 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming128 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-left7,
.site-name2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.site-name2 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-left7 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital66 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up66 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-info29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa66 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content38,
.footer-right6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-right6 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content38 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman65 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon65 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.gpay-1-wrapper16 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon65 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.dana-1-wrapper16 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon65 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.spay-1-wrapper16 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon65 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.ovo-1-wrapper16 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya65 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-methods41 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami65 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-icon-images2 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-icon-images-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom65 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-icons36 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon130 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper77 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp65 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-details52,
.contact-icons37,
.contact-methods27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-icons37 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details52,
.contact-methods27 {
  flex-direction: column;
}
.contact-methods27 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-details52 {
  gap: var(--gap-3xs);
}
.contact-divider1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen65 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga65,
.direktorat-jenderal65,
.kementerian65,
.perdagangan-ri65,
.perlindungan-konsumen65 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container65 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-info14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.government-icon1 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.government-logo5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.consumer-separator {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.consumer-logo7,
.contact-container5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.consumer-logo7 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-container5 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller73 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller65,
.login-reseller65 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller65 {
  min-width: 86px;
}
.contact-info49,
.payment-icons24,
.reseller-links4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-links4 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info49,
.payment-icons24 {
  max-width: 100%;
}
.contact-info49 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-icons24 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi65 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate65,
.blog65,
.kebijakan-privasi65,
.syarat-ketentuan65 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate65,
.blog65,
.kebijakan-privasi65 {
  min-width: 99px;
}
.affiliate65,
.blog65 {
  min-width: 26px;
}
.affiliate65 {
  min-width: 44px;
}
.footer-policies,
.policy-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.policy-links {
  gap: var(--gap-smi-8);
}
.footer-policies {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami65 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-165,
.icon-instagram-165,
.icon-x-20231018-165 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-165 {
  height: 15.3px;
}
.social-icons45,
.social-links30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-links30 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-165 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.footer-social2,
.social-container17 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.footer-social2 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-options32 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer-payment6,
.footer94,
.payment-options32,
.payment-title1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-title1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-payment6,
.footer94 {
  box-sizing: border-box;
}
.footer-payment6 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer94 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report58 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.report-container10 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-container14 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.voucher-valorant {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content38,
  .footer-payment6 {
    flex: 1;
  }
  .footer94 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-container14 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-icon-container2,
  .voucher-container {
    flex-wrap: wrap;
  }
  .stock-container3 {
    gap: var(--gap-34xl);
  }
  .component-451 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga159,
  .stock-options3,
  .stok-parent68 {
    gap: var(--gap-34xl);
  }
  .diamond-type-parent2 {
    gap: var(--gap-22xl);
  }
  .user-information1 {
    flex: 1;
  }
  .content25 {
    flex-wrap: wrap;
  }
  .footer-payment6 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .voucher-details2 {
    flex-wrap: wrap;
  }
  .home-button-container9 {
    display: none;
  }
  .navbar-250 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-container11 {
    gap: var(--gap-5xl);
  }
  .diamond-type15,
  .pilihan-harga160,
  .pilihan-harga161,
  .stock-details30 {
    flex-wrap: wrap;
  }
  .product-container6 {
    min-width: 100%;
  }
  .user-information1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-options32 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer94 {
    gap: var(--gap-15xl);
  }
  .voucher-valorant {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .voucher-valorant1 {
    font-size: var(--font-size-lgi);
  }
  .voucher-info1 {
    min-width: 100%;
  }
  .produk56,
  .tipe55 {
    font-size: var(--font-size-lgi);
  }
  .stock-container3 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat51 {
    gap: var(--gap-mini);
  }
  .component-451 {
    gap: var(--gap-base);
  }
  .stock-options3 {
    gap: var(--gap-7xl);
  }
  .rp4000051 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent68 {
    gap: var(--gap-7xl);
  }
  .rp6400053 {
    font-size: var(--font-size-lgi);
  }
  .pricing-options3 {
    gap: var(--gap-8xl);
  }
  .pilihan-harga159 {
    gap: var(--gap-7xl);
  }
  .diamond-type-parent2 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan55 {
    font-size: var(--font-size-lgi);
  }
  .user-information1 {
    gap: var(--gap-9xl);
  }
  .payment-methods41 {
    flex-wrap: wrap;
  }
  .contact-info49 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer94 {
    gap: var(--gap-mid);
  }
  .voucher-valorant {
    gap: var(--gap-2xl);
  }
}
