.frame-child68 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming23 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.frame-parent42 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home66 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-wrapper31,
.home65 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home65 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home68 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper32,
.home67 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home67 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home70 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper33,
.home69 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home69 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home72 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper34,
.home71 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home71 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home-content4,
.masuk7 {
  font-size: var(--text-16-size);
  font-family: var(--text-16);
  text-align: left;
}
.home-content4 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  color: var(--black-color);
}
.masuk7 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: var(--primery-color);
  display: inline-block;
  min-width: 48px;
}
.login6,
.navbar4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.login6 {
  cursor: pointer;
  border: 1px solid var(--primery-color);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color3);
  width: 96px;
  border-radius: var(--br-31xl);
  justify-content: center;
}
.login6:hover {
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-cornflowerblue);
  box-sizing: border-box;
}
.navbar4 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  justify-content: space-between;
  padding: var(--padding-smi-5) var(--padding-62xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.dapatkan-promo-terbaik19,
.khusus-100-pendaftar5 {
  position: absolute;
  margin: 0 !important;
  top: 27px;
  left: -27px;
  font-weight: 600;
}
.khusus-100-pendaftar5 {
  top: 51px;
  left: -90px;
  font-size: var(--semi-bold-24-size);
  font-family: inherit;
}
.promo-shape-icon3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child69,
.frame-child70 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.frame-child69 {
  height: 30.1px;
  width: 37.7px;
  top: 14.5px;
  left: 14.5px;
}
.frame-child70 {
  height: 100%;
  width: 282px;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  max-height: 100%;
  object-fit: cover;
}
.dapatkan-promo-terbaik20,
.khusus-100-member14 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.dapatkan-promo-terbaik20 {
  width: 147.9px;
  z-index: 1;
}
.khusus-100-member14 {
  margin: 0;
  align-self: stretch;
  height: 26.1px;
  font-size: var(--semi-bold-24-size);
  font-family: inherit;
  z-index: 2;
}
.dapatkan-promo-terbaik-parent14 {
  width: 271.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs-3);
}
.dapatkan-promo-terbaik-parent13 {
  align-self: stretch;
  width: 580px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-18xl-7) var(--padding-41xl) var(--padding-19xl);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.dapatkan-promo-terbaik-parent13,
.frame-wrapper18,
.navbar-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper18 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.navbar-container {
  width: 1280px;
  height: 372.5px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--text-16);
}
.populer42 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 94px;
}
.category43 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
}
.populer43 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 112px;
}
.category44 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  white-space: nowrap;
}
.populer44 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.category45 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
}
.populer45 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.category46 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  white-space: nowrap;
}
.populer46 {
  position: relative;
  font-size: var(--semi-bold-24-size);
  font-weight: 600;
  font-family: var(--text-16);
  color: var(--color-white);
  text-align: left;
}
.category47 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-3xs);
  background-color: var(--color1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.category43:hover,
.category44:hover,
.category45:hover,
.category46:hover,
.category47:hover,
.category48:hover,
.category49:hover {
  background-color: var(--color-deepskyblue-100);
}
.populer47 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 104px;
}
.category48 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
}
.populer48 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 67px;
}
.category-list4,
.category49 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.category49 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color1);
  padding: var(--padding-8xs) var(--padding-3xs);
}
.category-list4 {
  max-width: 100%;
  row-gap: 20px;
}
.product-image5 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color1);
  box-sizing: border-box;
}
.mlbb-jjk-hd-1-icon88 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.product-child153 {
  width: 100%;
  height: 37px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color3);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  z-index: 1;
}
.mobile-legends88 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.mobile-legends-wrapper78,
.product89 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.product89 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  min-width: 118px;
  max-width: 120px;
}
.product-child154 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color1);
  box-sizing: border-box;
}
.mlbb-jjk-hd-1-icon89 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.product-child155 {
  width: 100%;
  height: 37px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color3);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  z-index: 1;
}
.mobile-legends89 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.mobile-legends-wrapper79,
.product90 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.product90 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-sm);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  min-width: 118px;
  max-width: 120px;
  font-size: var(--font-size-3xs);
}
.product-child156 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color1);
  box-sizing: border-box;
}
.mlbb-jjk-hd-1-icon90 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.product-child157 {
  width: 100%;
  height: 37px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color3);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  z-index: 1;
}
.mobile-legends90 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.mobile-legends-wrapper80,
.product91 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.product91 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  min-width: 118px;
  max-width: 120px;
}
.product-child158 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color1);
  box-sizing: border-box;
}
.mlbb-jjk-hd-1-icon91 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.product-child159 {
  width: 100%;
  height: 37px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color3);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  z-index: 1;
}
.mobile-legends91 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.mobile-legends-wrapper81,
.product92 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.product92 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  min-width: 118px;
  max-width: 120px;
}
.product-child160 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color1);
  box-sizing: border-box;
}
.mlbb-jjk-hd-1-icon92 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.product-child161 {
  width: 100%;
  height: 37px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color3);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  z-index: 1;
}
.mobile-legends92 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.mobile-legends-wrapper82,
.product93 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.product93 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  min-width: 118px;
  max-width: 120px;
}
.product-child162 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color1);
  box-sizing: border-box;
}
.mlbb-jjk-hd-1-icon93 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.product-child163 {
  width: 100%;
  height: 37px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color3);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  z-index: 1;
}
.mobile-legends93 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.mobile-legends-wrapper83,
.product94 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.product94 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  min-width: 118px;
  max-width: 120px;
}
.product-child164 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color1);
  box-sizing: border-box;
}
.mlbb-jjk-hd-1-icon94 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.product-child165 {
  width: 100%;
  height: 37px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color3);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  z-index: 1;
}
.mobile-legends94 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.mobile-legends-wrapper84,
.product95 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.product95 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  min-width: 118px;
  max-width: 120px;
}
.product-child166 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color1);
  box-sizing: border-box;
}
.mlbb-jjk-hd-1-icon95 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.product-child167 {
  width: 100%;
  height: 37px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color3);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  z-index: 1;
}
.mobile-legends95 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.mobile-legends-wrapper85 {
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.mobile-legends-wrapper85,
.product-parent,
.product96 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product96 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  min-width: 118px;
  max-width: 120px;
}
.product-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-lgi-9);
}
.product-child168 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color1);
  box-sizing: border-box;
}
.mlbb-jjk-hd-1-icon96 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.product-child169 {
  width: 100%;
  height: 37px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color3);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  z-index: 1;
}
.mobile-legends96 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.mobile-legends-wrapper86,
.product97 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.product97 {
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  position: relative;
  gap: var(--gap-5xs);
}
.product-child170 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color1);
  box-sizing: border-box;
}
.mlbb-jjk-hd-1-icon97 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.product-child171 {
  width: 100%;
  height: 37px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color3);
  border: 1px solid var(--color1);
  box-sizing: border-box;
  z-index: 1;
}
.mobile-legends97 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.mobile-legends-wrapper87 {
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 var(--padding-11xs);
}
.mobile-legends-wrapper87,
.product-group,
.product-list-container1,
.product98 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product98 {
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-2xs);
  position: relative;
  gap: var(--gap-5xs);
}
.product-group,
.product-list-container1 {
  flex-direction: row;
  gap: var(--gap-xl);
}
.product-list-container1 {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--font-size-xs);
  color: var(--black-color);
}
.cate-menu6,
.content6 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.cate-menu6 {
  width: 1099px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-148xl);
  gap: var(--gap-5xl);
}
.content6 {
  width: 1280px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-xs-5) var(--padding-xl);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-white);
  font-family: var(--text-16);
}
.footer-shape-wrapper3,
.footer-shape5 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-shape5 {
  background-color: var(--color-gainsboro-200);
}
.footer-shape-wrapper3 {
  margin: 0 !important;
}
.footer-top-child2 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming24 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-top4,
.lapak-gaming-wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lapak-gaming-wrapper3 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-top4 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital14 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up14 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-info-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa14 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content9,
.footer-info6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-info6 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content9 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman13 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon13 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.footer-payment-icon-items {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon13 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.footer-payment-icon-items1 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon13 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.footer-payment-icon-items2 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon13 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.footer-payment-icon-items3 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya13 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.footer-payment-icon-list {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami13 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.footer-contact-icon-images {
  width: 16px;
  height: 12px;
  position: relative;
}
.footer-contact-icon-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom13 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.footer-contact-icon-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon34 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp13 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.footer-contact-icon-list1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.footer-contact-icons,
.footer-contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-contact-icons {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.footer-contact-info {
  gap: var(--gap-3xs);
}
.frame-child71 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen13 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga13,
.direktorat-jenderal13,
.kementerian13,
.perdagangan-ri13,
.perlindungan-konsumen13 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container13 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.footer-consumer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.vector-icon35 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.footer-logo-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.footer-logo-placeholder {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.footer-contact-info-parent,
.footer-logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-logo {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.footer-contact-info-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller15 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller13,
.login-reseller13 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller13 {
  min-width: 86px;
}
.footer-reseller1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.footer-contact2,
.footer-payment-icon-list-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-contact2 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.footer-payment-icon-list-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi13 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate13,
.blog13,
.kebijakan-privasi13,
.syarat-ketentuan13 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate13,
.blog13,
.kebijakan-privasi13 {
  min-width: 99px;
}
.affiliate13,
.blog13 {
  min-width: 26px;
}
.affiliate13 {
  min-width: 44px;
}
.footer-information,
.footer-information-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-information-links {
  gap: var(--gap-smi-8);
}
.footer-information {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami13 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-113,
.icon-instagram-113,
.icon-x-20231018-113 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-113 {
  height: 15.3px;
}
.footer-social-icons,
.ikuti-kami-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.ikuti-kami-container {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-113 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.footer-social-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.footer-payment-icons1,
.footer-payment1,
.footer-social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-social {
  flex-direction: column;
  padding: var(--padding-32xl) 0 0;
}
.footer-payment-icons1,
.footer-payment1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
  max-width: 100%;
}
.footer-payment1 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer-bottom4,
.footer19 {
  box-sizing: border-box;
  max-width: 100%;
}
.footer-bottom4 {
  width: 637px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer19 {
  width: 1280px;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  position: relative;
  gap: var(--gap-116xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.footer19,
.home64,
.voucher {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home64 {
  background-color: var(--color-white);
  overflow-x: auto;
  flex-direction: column;
  gap: var(--gap-94xl-5);
  max-width: 100%;
}
.voucher {
  position: relative;
  width: 100%;
  overflow-y: auto;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-bottom4,
  .footer-content9 {
    flex: 1;
  }
  .footer19 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    justify-content: center;
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .navbar4 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .category-list4 {
    flex-wrap: wrap;
  }
  .footer-bottom4 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .home-content4 {
    display: none;
  }
  .navbar-container {
    gap: var(--gap-23xl);
  }
  .cate-menu6 {
    padding-bottom: var(--padding-90xl);
    box-sizing: border-box;
  }
  .footer-payment-icons1 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer19 {
    gap: var(--gap-15xl);
  }
  .home64 {
    gap: var(--gap-38xl);
  }
}
@media screen and (max-width: 450px) {
  .khusus-100-member14,
  .khusus-100-pendaftar5 {
    font-size: var(--font-size-lgi);
  }
  .dapatkan-promo-terbaik-parent13 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .navbar-container {
    gap: var(--gap-2xl);
  }
  .populer42,
  .populer44,
  .populer47,
  .populer48 {
    font-size: var(--font-size-lgi);
  }
  .footer-payment-icon-list {
    flex-wrap: wrap;
  }
  .footer-contact2 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer19 {
    gap: var(--gap-mid);
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .home64 {
    gap: var(--gap-9xl);
  }
}
