.play-store-voucher-child {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-1-icon110 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.voucher-google-play1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup21,
.voucher-google-play1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a43,
.pilih-nominal-diamonds21,
.selesaikan-pembayaran21 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a42 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container21 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.top-up-guide1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.top-up-form,
.zone-id-input {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.zone-id-input {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.top-up-form {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift19 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-label,
.top-up-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-label {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-label:hover {
  background-color: var(--color-forestgreen);
}
.top-up-layout {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.content-divider2,
.play-store-voucher {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.play-store-voucher {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content-divider2 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.navbar-left-child1 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming55 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.navbar-left4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home195 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-button-labels,
.home194 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home194 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home197 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper85,
.home196 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home196 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home199 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper86,
.home198 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home198 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home201 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper87,
.home200 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home200 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-button9 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child12 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-214 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.notification-background1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light24 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.notification-icon2 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar-2-parent3,
.notification-icon-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.notification-icon-container {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-2-parent3 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe19 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon38 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond75 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.product-type-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon21 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper6 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond74,
.fearrow-down-wrapper6,
.product-image10 {
  display: flex;
  align-items: flex-start;
}
.product-image10 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond74 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk19 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon39 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond77 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.product-description-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.expand-icon2 {
  width: 16px;
  height: 10px;
  position: relative;
}
.expand-details,
.product-thumbnail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.product-thumbnail {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond76,
.product-details5,
.product-options2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond76 {
  align-self: stretch;
  gap: var(--gap-base);
}
.product-details5,
.product-options2 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.product-options2 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.guarantee-icon,
.menit-dikirim-atau19 {
  width: 353px;
  position: relative;
  max-width: 100%;
}
.guarantee-icon {
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
}
.menit-dikirim-atau19 {
  height: 73px;
  display: flex;
  align-items: center;
}
.delivery-guarantee2 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22019 {
  position: relative;
}
.min-beli57,
.rb114,
.rb115,
.stock-labels1,
.stok57,
.terjual57 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli57,
.rb114,
.rb115,
.stock-labels1,
.terjual57 {
  min-width: 51px;
}
.min-beli57,
.rb114,
.rb115,
.stock-labels1 {
  min-width: 64px;
}
.rb114,
.rb115,
.stock-labels1 {
  min-width: 42px;
}
.stock-labels1 {
  min-width: 8px;
}
.stock-details10 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span19 {
  font-size: var(--font-size-base);
}
.top-up19 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container17 {
  width: 100%;
}
.rp59100-top-up17 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.stock-info12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.delivery-details1 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-415,
.delivery-details1,
.pengiriman-cepat15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat15 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-415 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon19 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.diskon-wrapper3 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.min-beli58,
.placeholder2,
.rb116,
.rb117,
.stok58,
.terjual58 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli58,
.placeholder2,
.rb116,
.rb117,
.terjual58 {
  min-width: 51px;
}
.min-beli58,
.placeholder2,
.rb116,
.rb117 {
  min-width: 64px;
}
.placeholder2,
.rb116,
.rb117 {
  flex: 1;
  min-width: 47px;
}
.stok-parent21 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit39,
.rp4000015 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000015 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent18 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga52 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express21 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper15 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper15:hover {
  background-color: var(--color-gainsboro-100);
}
.b24,
.min-beli59,
.rb118,
.rb119,
.stok59,
.terjual59 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b24,
.min-beli59,
.rb118,
.rb119,
.terjual59 {
  min-width: 51px;
}
.b24,
.min-beli59,
.rb118,
.rb119 {
  min-width: 64px;
}
.b24,
.rb118,
.rb119 {
  flex: 1;
  min-width: 47px;
}
.stok-parent22 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit40,
.rp6400017 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400017 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent19 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga53 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga51,
.product-variations {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga51 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.pricing-layout-child,
.tawaran-lain19 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.pricing-layout-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain19 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.pricing-layout {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frame-child113 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.frame-child114 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.pricing-layout-parent,
.rectangle-parent36 {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangle-parent36 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.pricing-layout-parent {
  font-size: var(--font-size-base);
}
.pricing-layout-parent,
.product-layout,
.product-layout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.product-layout {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.product-layout-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.order-info-child {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan19,
.user-id19,
.your-id57 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan19 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id19,
.your-id57 {
  font-size: var(--font-size-base);
}
.user-id19 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id57 {
  flex: 1;
}
.user-id-inputs,
.user-id-labels4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-id-inputs {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-id-labels4 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id58,
.zona-id19 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id19 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id58 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.informasi-pesanan-parent3,
.user-id-labels5,
.your-id-wrapper27 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper27 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.informasi-pesanan-parent3,
.user-id-labels5 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.informasi-pesanan-parent3 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual19,
.your-id59 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual19 {
  z-index: 3;
}
.your-id59 {
  flex: 1;
}
.catatan-untuk-penjual-parent7,
.note-input8 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input8 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.catatan-untuk-penjual-parent7 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.plus-icon7 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus19 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.decrement-background-icon1 {
  width: 14px;
  height: 2px;
  position: relative;
}
.icround-minus19,
.minus-background1 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus19 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.minus-background1 {
  flex: 1;
  position: relative;
}
.decrement-button2,
.decrement-controls {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-button2 {
  flex: 1;
  gap: var(--gap-9xl);
}
.decrement-controls {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910023,
.subtotal20 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910023 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-label4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.decrement-controls-parent,
.quantity-controls1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.decrement-controls-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-controls1 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit21 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button9:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-controls-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.frame-parent68,
.order-info {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.order-info {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.frame-parent68 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-top-wrapper,
.footer-top7 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-top7 {
  background-color: var(--color-gainsboro-200);
}
.footer-top-wrapper {
  margin: 0 !important;
}
.footer-brand-item {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming56 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.brand-name2,
.footer-brand5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.brand-name2 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.footer-brand5 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital30 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up30 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.pt-global-digital-indokreasi-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa30 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-description9,
.footer-info13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-description9 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-info13 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman29 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon29 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icons4 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon29 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icons5 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon29 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icons6 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon29 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.icons7 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya29 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.method-icons8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami29 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.option-icons {
  width: 16px;
  height: 12px;
  position: relative;
}
.option-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom29 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.options1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon69 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp29 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-details23,
.contact-options11,
.options2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.options2 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details23,
.contact-options11 {
  flex-direction: column;
}
.contact-options11 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-details23 {
  gap: var(--gap-3xs);
}
.contact-info-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen29 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga29,
.direktorat-jenderal29,
.kementerian29,
.perdagangan-ri29,
.perlindungan-konsumen29 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container29 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.logo-image-icon1 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.logo-container7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.empty3 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.complaint-logo3,
.contact-info23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.complaint-logo3 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-info23 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller34 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller29,
.login-reseller29 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller29 {
  min-width: 86px;
}
.contact5,
.methods6,
.reseller33 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller33 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact5,
.methods6 {
  max-width: 100%;
}
.contact5 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.methods6 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi29 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate29,
.blog29,
.kebijakan-privasi29,
.syarat-ketentuan29 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate29,
.blog29,
.kebijakan-privasi29 {
  min-width: 99px;
}
.affiliate29,
.blog29 {
  min-width: 26px;
}
.affiliate29 {
  min-width: 44px;
}
.legal-info4,
.legal4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-info4 {
  gap: var(--gap-smi-8);
}
.legal4 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami29 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-129,
.icon-instagram-129,
.icon-x-20231018-129 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-129 {
  height: 15.3px;
}
.social-details6,
.social-icons22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-details6 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-129 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-container5,
.social6 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social6 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods19 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer39,
.payment-info10,
.payment-methods19,
.payment4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment4 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer39,
.payment-info10 {
  box-sizing: border-box;
}
.payment-info10 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer39 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report22 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.report-container4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--primery-color);
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.report-container4:hover {
  background-color: var(--color-cornflowerblue);
}
.footer38 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.voucher-google-play {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-info13,
  .payment-info10 {
    flex: 1;
  }
  .footer39 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer38 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-guarantee2,
  .top-up-layout {
    flex-wrap: wrap;
  }
  .stock-details10 {
    gap: var(--gap-34xl);
  }
  .component-415 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga51,
  .stok-parent21,
  .stok-parent22 {
    gap: var(--gap-34xl);
  }
  .product-layout {
    gap: var(--gap-22xl);
  }
  .order-info {
    flex: 1;
  }
  .frame-parent68 {
    flex-wrap: wrap;
  }
  .payment-info10 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .top-up-form {
    flex-wrap: wrap;
  }
  .home-button9 {
    display: none;
  }
  .navbar-214 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-2-parent3 {
    gap: var(--gap-5xl);
  }
  .pilihan-harga52,
  .pilihan-harga53,
  .product-options2,
  .stock-info12 {
    flex-wrap: wrap;
  }
  .product-layout-wrapper {
    min-width: 100%;
  }
  .order-info {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods19 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer39 {
    gap: var(--gap-15xl);
  }
  .voucher-google-play {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .voucher-google-play1 {
    font-size: var(--font-size-lgi);
  }
  .zone-id-input {
    min-width: 100%;
  }
  .produk19,
  .tipe19 {
    font-size: var(--font-size-lgi);
  }
  .stock-details10 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat15 {
    gap: var(--gap-mini);
  }
  .component-415 {
    gap: var(--gap-base);
  }
  .stok-parent21 {
    gap: var(--gap-7xl);
  }
  .rp4000015 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent22 {
    gap: var(--gap-7xl);
  }
  .rp6400017 {
    font-size: var(--font-size-lgi);
  }
  .product-variations {
    gap: var(--gap-8xl);
  }
  .pilihan-harga51 {
    gap: var(--gap-7xl);
  }
  .product-layout {
    gap: var(--gap-xl);
  }
  .informasi-pesanan19 {
    font-size: var(--font-size-lgi);
  }
  .order-info {
    gap: var(--gap-9xl);
  }
  .contact5,
  .method-icons8 {
    flex-wrap: wrap;
  }
  .contact5 {
    gap: var(--gap-2xl);
  }
  .footer39 {
    gap: var(--gap-mid);
  }
  .voucher-google-play {
    gap: var(--gap-2xl);
  }
}
