.frame-child205 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-9-icon2 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.wave-game1 {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup54,
.wave-game1 {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a109,
.pilih-nominal-diamonds54,
.selesaikan-pembayaran54 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a108 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container54 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.cara-topup-parent11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.input-content,
.wave-game-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.wave-game-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.input-content {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift53 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.gift-wrapper31,
.top-content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper31 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper31:hover {
  background-color: var(--color-forestgreen);
}
.top-content2 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.rectangle-parent81,
.wave-game-child {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.rectangle-parent81 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.wave-game-child {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.navbar-left-child7 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming121 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.navbar-left10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home460 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-wrapper194,
.home459 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home459 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home462 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper195,
.home461 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home461 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home464 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper196,
.home463 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home463 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home466 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper197,
.home465 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home465 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-icons {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child45 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-247 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.search-input {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light57 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.search-bar {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar-2-parent14,
.search-bar-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.search-bar-wrapper {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-2-parent14 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe52 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon104 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond207 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-wrapper39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon54 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tipe-dropdown1 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond206,
.image-3-parent27,
.tipe-dropdown1 {
  display: flex;
  align-items: flex-start;
}
.image-3-parent27 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond206 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk53 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon105 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond209 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.diamond-wrapper40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.vector-icon123 {
  width: 16px;
  height: 10px;
  position: relative;
}
.image-3-parent28,
.product-dropdown14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.image-3-parent28 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-types3,
.diamond208,
.product-diamond1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond208 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-types3,
.product-diamond1 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-types3 {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-guarantee-child {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau52 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.delivery-guarantee7 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22052 {
  position: relative;
}
.b62,
.min-beli156,
.rb312,
.rb313,
.stok156,
.terjual156 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b62,
.min-beli156,
.rb312,
.rb313,
.terjual156 {
  min-width: 51px;
}
.b62,
.min-beli156,
.rb312,
.rb313 {
  min-width: 64px;
}
.b62,
.rb312,
.rb313 {
  min-width: 42px;
}
.b62 {
  min-width: 8px;
}
.stok-parent63 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span52 {
  font-size: var(--font-size-base);
}
.top-up52 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container50 {
  width: 100%;
}
.rp59100-top-up50 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.price-info5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-info6 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-448,
.diamond-info6,
.pengiriman-cepat48 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat48 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-448 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon52 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.discount-card {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.b63,
.min-beli157,
.rb314,
.rb315,
.stok157,
.terjual157 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b63,
.min-beli157,
.rb314,
.rb315,
.terjual157 {
  min-width: 51px;
}
.b63,
.min-beli157,
.rb314,
.rb315 {
  min-width: 64px;
}
.b63,
.rb314,
.rb315 {
  flex: 1;
  min-width: 47px;
}
.stok-parent64 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit107,
.rp4000048 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000048 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.price-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga151 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express54 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper48 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper48:hover {
  background-color: var(--color-gainsboro-100);
}
.b64,
.min-beli158,
.rb316,
.rb317,
.stok158,
.terjual158 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b64,
.min-beli158,
.rb316,
.rb317,
.terjual158 {
  min-width: 51px;
}
.b64,
.min-beli158,
.rb316,
.rb317 {
  min-width: 64px;
}
.b64,
.rb316,
.rb317 {
  flex: 1;
  min-width: 47px;
}
.stok-parent65 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit108,
.rp6400050 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400050 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent54 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga152 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga150,
.product-cards {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga150 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.fast-delivery-option-child,
.tawaran-lain52 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.fast-delivery-option-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain52 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.fast-delivery-option {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frame-child206 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.input-title-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.rectangle-parent82 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.fast-delivery-option-parent {
  align-self: stretch;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.diamond-options-wrapper,
.diamond-options6,
.fast-delivery-option-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-options6 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.diamond-options-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.user-i-d-input-child {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan52,
.user-id52,
.your-id156 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan52 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id52,
.your-id156 {
  font-size: var(--font-size-base);
}
.user-id52 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id156 {
  flex: 1;
}
.user-id-parent5,
.your-id-wrapper71 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper71 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.user-id-parent5 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id157,
.zona-id52 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id52 {
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id157 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.user-i-d-labels2,
.your-id-wrapper72,
.zona-id-parent4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper72 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.user-i-d-labels2,
.zona-id-parent4 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.user-i-d-labels2 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual52,
.your-id158 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual52 {
  z-index: 3;
}
.your-id158 {
  flex: 1;
}
.note-input25,
.seller-note-input7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.note-input25 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.seller-note-input7 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.add-icon6 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus52 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.vector-icon124 {
  width: 14px;
  height: 2px;
  position: relative;
}
.decrement4,
.icround-minus52 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus52 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.decrement4 {
  flex: 1;
  position: relative;
}
.subtract-button1,
.subtract-icon1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.subtract-icon1 {
  flex: 1;
  gap: var(--gap-9xl);
}
.subtract-button1 {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910056,
.subtotal59 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910056 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-container9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.quantity-controls6,
.subtract-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.subtract-quantity {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-controls6 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit55 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button27 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button27:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-controls-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.frame-parent152,
.user-i-d-input15 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.user-i-d-input15 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.frame-parent152 {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-top-border-wrapper1,
.footer-top-border3 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-top-border3 {
  background-color: var(--color-gainsboro-200);
}
.footer-top-border-wrapper1 {
  margin: 0 !important;
}
.frame-child207 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming122 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.footer-brand12,
.frame-parent153 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-brand12 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.frame-parent153 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital63 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up63 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-description20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa63 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content36,
.footer-info28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-info28 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content36 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman62 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon62 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-containers8 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon62 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-containers9 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon62 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-containers10 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon62 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-icon-containers11 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya62 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-icons23 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami62 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-icons34 {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-methods26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom62 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-method-containers2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon125 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper74 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp62 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-method-containers3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details49,
.contact-options27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-options27 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-details49 {
  gap: var(--gap-3xs);
}
.contact-separator39 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen62 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga62,
.direktorat-jenderal62,
.kementerian62,
.perdagangan-ri62,
.perlindungan-konsumen62 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container62 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-info13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.d-j-p-k-t-logo1 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.icon-container6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.d-j-k {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.contact-container4,
.d-j-p-k-t-icon1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.d-j-p-k-t-icon1 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-container4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller70 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller62,
.login-reseller62 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller62 {
  min-width: 86px;
}
.contact-info46,
.payment-options30,
.reseller-options23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-options23 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info46,
.payment-options30 {
  max-width: 100%;
}
.contact-info46 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-options30 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi62 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate62,
.blog62,
.kebijakan-privasi62,
.syarat-ketentuan62 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate62,
.blog62,
.kebijakan-privasi62 {
  min-width: 99px;
}
.affiliate62,
.blog62 {
  min-width: 26px;
}
.affiliate62 {
  min-width: 44px;
}
.legal-info11,
.legal-links19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.legal-links19 {
  gap: var(--gap-smi-8);
}
.legal-info11 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami62 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-162,
.icon-instagram-162,
.icon-x-20231018-162 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-162 {
  height: 15.3px;
}
.social-icons44,
.social-links28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-links28 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-162 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-container16,
.social-info4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-info4 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-methods38 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer91,
.payment-container,
.payment-info23,
.payment-methods38 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-container {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer91,
.payment-info23 {
  box-sizing: border-box;
}
.payment-info23 {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer91 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report55 {
  position: relative;
  display: inline-block;
  min-width: 52px;
}
.report-button10 {
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  background-color: var(--primery-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer90 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.wave-game {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content36,
  .payment-info23 {
    flex: 1;
  }
  .footer91 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer90 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-guarantee7,
  .top-content2 {
    flex-wrap: wrap;
  }
  .stok-parent63 {
    gap: var(--gap-34xl);
  }
  .component-448 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga150,
  .stok-parent64,
  .stok-parent65 {
    gap: var(--gap-34xl);
  }
  .diamond-options6 {
    gap: var(--gap-22xl);
  }
  .user-i-d-input15 {
    flex: 1;
  }
  .frame-parent152 {
    flex-wrap: wrap;
  }
  .payment-info23 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .input-content {
    flex-wrap: wrap;
  }
  .home-icons {
    display: none;
  }
  .navbar-247 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-2-parent14 {
    gap: var(--gap-5xl);
  }
  .diamond-types3,
  .pilihan-harga151,
  .pilihan-harga152,
  .price-info5 {
    flex-wrap: wrap;
  }
  .diamond-options-wrapper {
    min-width: 100%;
  }
  .user-i-d-input15 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-methods38 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer91 {
    gap: var(--gap-15xl);
  }
  .wave-game {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .wave-game1 {
    font-size: var(--font-size-lgi);
  }
  .wave-game-parent {
    min-width: 100%;
  }
  .produk53,
  .tipe52 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent63 {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat48 {
    gap: var(--gap-mini);
  }
  .component-448 {
    gap: var(--gap-base);
  }
  .stok-parent64 {
    gap: var(--gap-7xl);
  }
  .rp4000048 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent65 {
    gap: var(--gap-7xl);
  }
  .rp6400050 {
    font-size: var(--font-size-lgi);
  }
  .product-cards {
    gap: var(--gap-8xl);
  }
  .pilihan-harga150 {
    gap: var(--gap-7xl);
  }
  .diamond-options6 {
    gap: var(--gap-xl);
  }
  .informasi-pesanan52 {
    font-size: var(--font-size-lgi);
  }
  .user-i-d-input15 {
    gap: var(--gap-9xl);
  }
  .payment-icons23 {
    flex-wrap: wrap;
  }
  .contact-info46 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer91 {
    gap: var(--gap-mid);
  }
  .wave-game {
    gap: var(--gap-2xl);
  }
}
