.frame-child108 {
  height: calc(100% - 23px);
  width: 104px;
  position: absolute;
  margin: 0 !important;
  top: 14px;
  bottom: 9px;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.mlbb-jjk-hd-2-icon5 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: contain;
}
.wuthering-waves- {
  margin: 0;
  height: 34px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.cara-topup19,
.wuthering-waves- {
  align-self: stretch;
  position: relative;
}
.masukkan-user-id-dan-zone-id-a39,
.pilih-nominal-diamonds19,
.selesaikan-pembayaran19 {
  margin-bottom: 0;
}
.masukkan-user-id-dan-zone-id-a38 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-base);
}
.masukkan-user-id-dan-zone-id-a-container19 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
}
.cara-topup-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
}
.mlbb-jjk-hd-2-group,
.top-up-info2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.top-up-info2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 354px;
}
.mlbb-jjk-hd-2-group {
  width: 655px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
}
.gift17 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.frame-parent65,
.gift-wrapper9 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gift-wrapper9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--color-limegreen-100);
  width: 213px;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
}
.gift-wrapper9:hover {
  background-color: var(--color-forestgreen);
}
.frame-parent65 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.content-background2,
.rectangle-parent33 {
  position: absolute;
  margin: 0 !important;
  left: 40px;
}
.rectangle-parent33 {
  width: 1124px;
  top: 151px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content-background2 {
  width: 811px;
  height: 209px;
  top: 474px;
  background-color: var(--color-gainsboro-200);
}
.frame-child109 {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming51 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  color: inherit;
  min-width: 105px;
  white-space: nowrap;
}
.frame-parent66 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.home179 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 43px;
}
.home-button-icon,
.home178 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home178 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home181 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 70px;
}
.home-wrapper79,
.home180 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home180 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home183 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 47px;
}
.home-wrapper80,
.home182 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home182 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.home185 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 52px;
}
.home-wrapper81,
.home184 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home184 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.home-parent8 {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--black-color);
  font-family: var(--text-16);
}
.navbar-2-child10 {
  height: 30px;
  width: 30px;
  position: relative;
}
.navbar-212 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini-3) var(--padding-62xl) var(--padding-mini-2);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.refund-button-background1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.lets-iconsrefund-back-light22 {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 24px;
  height: 18px;
  overflow: hidden;
  z-index: 1;
}
.refund-button1 {
  height: 28px;
  flex: 1;
  position: relative;
}
.navbar-2-parent2,
.refund-button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.refund-button-wrapper {
  width: 267px;
  flex-direction: row;
  padding: 0 var(--padding-20xl);
}
.navbar-2-parent2 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-13xl);
  gap: var(--gap-29xl);
  max-width: 100%;
}
.tipe17 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 53px;
}
.image-3-icon34 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond67 {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.diamond-wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.fearrow-down-icon19 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fearrow-down-wrapper5 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.diamond66,
.fearrow-down-wrapper5,
.image-3-parent7 {
  display: flex;
  align-items: flex-start;
}
.image-3-parent7 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond66 {
  width: 192px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.produk17 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.image-3-icon35 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
}
.diamond69 {
  position: relative;
  display: inline-block;
  min-width: 82px;
}
.diamond-wrapper15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.expand-icon1 {
  width: 16px;
  height: 10px;
  position: relative;
}
.expand-icon-wrapper,
.image-3-parent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.image-3-parent8 {
  align-self: stretch;
  background-color: var(--color-limegreen-100);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-3xs);
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.diamond-type-button,
.diamond-wrapper14,
.diamond68 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.diamond68 {
  align-self: stretch;
  gap: var(--gap-base);
}
.diamond-type-button,
.diamond-wrapper14 {
  width: 242px;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.diamond-type-button {
  width: 566px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.delivery-icon-background1 {
  width: 353px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 73px;
  max-width: 100%;
}
.menit-dikirim-atau17 {
  height: 73px;
  width: 353px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.delivery-info3 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.diamond-22017,
.stok51 {
  position: relative;
}
.stok51 {
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.min-beli51,
.product-stock-details,
.rb102,
.rb103,
.terjual51 {
  position: relative;
  display: inline-block;
  min-width: 51px;
  flex-shrink: 0;
}
.min-beli51,
.product-stock-details,
.rb102,
.rb103 {
  min-width: 64px;
}
.product-stock-details,
.rb102,
.rb103 {
  min-width: 42px;
}
.product-stock-details {
  min-width: 8px;
}
.product-stock-info {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.span17 {
  font-size: var(--font-size-base);
}
.top-up17 {
  color: var(--color-black);
  font-size: var(--font-size-5xs);
}
.rp59100-top-up-txt-container15 {
  width: 100%;
}
.rp59100-top-up15 {
  width: 190px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
}
.product-stock-info-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.product-info1 {
  align-self: stretch;
  padding: 0 var(--padding-18xl) 0 var(--padding-base);
  gap: var(--gap-3xs);
}
.component-413,
.pengiriman-cepat13,
.product-info1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.pengiriman-cepat13 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  padding: 0 0 var(--padding-7xl);
  gap: var(--gap-12xl);
}
.component-413 {
  width: 831px;
  padding: 0 var(--padding-xl) 0 0;
}
.diskon17 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.diskon-wrapper2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-23xl);
  cursor: pointer;
}
.empty-cell,
.min-beli52,
.rb104,
.rb105,
.stok52,
.terjual52 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.empty-cell,
.min-beli52,
.rb104,
.rb105,
.terjual52 {
  min-width: 51px;
}
.empty-cell,
.min-beli52,
.rb104,
.rb105 {
  min-width: 64px;
}
.empty-cell,
.rb104,
.rb105 {
  flex: 1;
  min-width: 47px;
}
.stok-parent18 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit35,
.rp4000013 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp4000013 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent15 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga46 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.express19 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 60px;
}
.express-wrapper13 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-18xl);
  background-color: var(--color-white);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.express-wrapper13:hover {
  background-color: var(--color-gainsboro-100);
}
.b21,
.min-beli53,
.rb106,
.rb107,
.stok53,
.terjual53 {
  position: relative;
  display: inline-block;
  min-width: 35px;
  flex-shrink: 0;
}
.b21,
.min-beli53,
.rb106,
.rb107,
.terjual53 {
  min-width: 51px;
}
.b21,
.min-beli53,
.rb106,
.rb107 {
  min-width: 64px;
}
.b21,
.rb106,
.rb107 {
  flex: 1;
  min-width: 47px;
}
.stok-parent19 {
  width: 372px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px 106px;
  min-height: 49px;
  max-width: 100%;
}
.harga-per-unit36,
.rp6400015 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.rp6400015 {
  font-size: var(--semi-bold-24-size);
  color: var(--color-yellowgreen);
  min-width: 111px;
  white-space: nowrap;
}
.harga-per-unit-parent16 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.pilihan-harga47 {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.pilihan-harga45,
.price-options-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.pilihan-harga45 {
  gap: var(--gap-87xl);
  z-index: 1;
}
.price-selection-child,
.tawaran-lain17 {
  width: 213px;
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.price-selection-child {
  height: 41px;
  top: 124px;
  right: 147px;
}
.tawaran-lain17 {
  bottom: 213px;
  left: 0;
  display: flex;
  align-items: center;
}
.price-selection1 {
  width: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.frame-child110 {
  height: 170px;
  width: 901px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.offer-separator-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.price-selection-parent,
.rectangle-parent34 {
  align-self: stretch;
  justify-content: flex-start;
}
.rectangle-parent34 {
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-66xl);
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -166px;
}
.price-selection-parent {
  font-size: var(--font-size-base);
}
.diamond-type-button-parent,
.price-selection-parent,
.topup-type-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.diamond-type-button-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-63xl);
}
.topup-type-selection {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.frame-child111 {
  width: 328px;
  height: 729px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
}
.informasi-pesanan17,
.user-id17,
.your-id51 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.informasi-pesanan17 {
  margin: 0;
  font-size: var(--semi-bold-24-size);
  font-weight: 400;
  z-index: 3;
}
.user-id17,
.your-id51 {
  font-size: var(--font-size-base);
}
.user-id17 {
  display: inline-block;
  min-width: 56px;
  z-index: 3;
}
.your-id51 {
  flex: 1;
}
.input-labels10,
.your-id-wrapper24 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper24 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.input-labels10 {
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-sm);
}
.your-id52,
.zona-id17 {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  position: relative;
  color: var(--color-black);
  text-align: left;
}
.zona-id17 {
  text-decoration: none;
  display: inline-block;
  min-width: 59px;
  z-index: 3;
}
.your-id52 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 167px;
  padding: 0;
}
.informasi-pesanan-parent2,
.input-labels11,
.your-id-wrapper25 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.your-id-wrapper25 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-7xs);
  z-index: 3;
}
.informasi-pesanan-parent2,
.input-labels11 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.informasi-pesanan-parent2 {
  padding: 0 0 var(--padding-18xl);
  gap: var(--gap-2xl);
}
.catatan-untuk-penjual17,
.your-id53 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.catatan-untuk-penjual17 {
  z-index: 3;
}
.your-id53 {
  flex: 1;
}
.catatan-untuk-penjual-parent6,
.seller-note-input1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.seller-note-input1 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-smi);
  white-space: nowrap;
  z-index: 3;
}
.catatan-untuk-penjual-parent6 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.add-icon2 {
  width: 14px;
  height: 14px;
  position: relative;
}
.icoutline-plus17 {
  height: 46px;
  width: 41px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: -6px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  z-index: 3;
}
.subtract-icon-background {
  width: 14px;
  height: 2px;
  position: relative;
}
.decrement-icon-background,
.icround-minus17 {
  height: 46px;
  background-color: var(--color-white);
  z-index: 3;
}
.icround-minus17 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-8xs);
  box-sizing: border-box;
}
.decrement-icon-background {
  flex: 1;
  position: relative;
}
.icround-minus-parent2,
.reduce-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icround-minus-parent2 {
  flex: 1;
  gap: var(--gap-9xl);
}
.reduce-button {
  width: 225px;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.rp5910021,
.subtotal18 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 64px;
  z-index: 3;
}
.rp5910021 {
  color: var(--color-goldenrod-100);
  min-width: 70px;
  white-space: nowrap;
}
.subtotal-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.quantity-buttons2,
.reduce-button-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reduce-button-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.quantity-buttons2 {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.submit19 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.submit-button-wrapper3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-goldenrod-100);
  width: 270px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 3;
}
.submit-button-wrapper3:hover {
  background-color: var(--color-goldenrod-200);
}
.quantity-buttons-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-6xl);
}
.rectangle-parent35,
.topup-type-selection-parent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent35 {
  margin: 0;
  width: 328px;
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-mini) var(--padding-58xl)
    var(--padding-xl);
  gap: var(--gap-38xl);
  min-width: 328px;
  z-index: 2;
}
.topup-type-selection-parent {
  width: 1260px;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-xl);
  gap: var(--gap-2xs);
  text-align: left;
  font-size: var(--semi-bold-24-size);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-background-wrapper3,
.footer-background7 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer-background7 {
  background-color: var(--color-gainsboro-200);
}
.footer-background-wrapper3 {
  margin: 0 !important;
}
.company-info-wrapper-child {
  height: 41.5px;
  width: 52px;
  position: relative;
}
.lapak-gaming52 {
  position: relative;
  display: inline-block;
  font-weight: 600;
  min-width: 105px;
}
.company-info-wrapper,
.company-name3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-name3 {
  flex-direction: column;
  padding: var(--padding-2xs-3) 0 0;
}
.company-info-wrapper {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.pt-global-digital28 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.website-top-up28 {
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wilayah-bahasa28 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.footer-content21,
.footer-links1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-links1 {
  gap: var(--gap-11xl);
  color: var(--black-color);
}
.footer-content21 {
  gap: var(--gap-xl-5);
  min-width: 333px;
  max-width: 100%;
}
.pembayaran-aman27 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.gpay-1-icon27 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-icons6 {
  width: 57.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.dana-1-icon27 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-icons7 {
  width: 52.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.spay-1-icon27 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-icons8 {
  width: 67.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.ovo-1-icon27 {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.payment-method-icons9 {
  width: 48.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.lainnya27 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 81px;
}
.payment-icon-list3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.hubungi-kami27 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.contact-platform-icon {
  width: 16px;
  height: 12px;
  position: relative;
}
.contact-icon3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.cslapakgamingcom27 {
  position: relative;
  text-decoration: underline;
  font-weight: 300;
  color: inherit;
  white-space: nowrap;
}
.contact-method2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 1;
}
.vector-icon66 {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.vector-wrapper33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.chat-whatsapp27 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 95px;
}
.contact-details22,
.contact-method3,
.contact-options10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-method3 {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact-details22,
.contact-options10 {
  flex-direction: column;
}
.contact-details22 {
  gap: var(--gap-smi);
  font-size: var(--font-size-xs);
}
.contact-options10 {
  gap: var(--gap-3xs);
}
.contact-separator15 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--black-color);
  box-sizing: border-box;
  z-index: 1;
}
.layanan-pengaduan-konsumen27 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.dan-tertib-niaga27,
.direktorat-jenderal27,
.kementerian27,
.perdagangan-ri27,
.perlindungan-konsumen27 {
  margin: 0;
}
.direktorat-jenderal-perlindung-container27 {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.consumer-service1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-xs);
}
.report-link-icon {
  width: 15.9px;
  height: 16px;
  position: relative;
}
.report-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.report-placeholder {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 91px;
}
.consumer-service-icon,
.contact4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.consumer-service-icon {
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 1;
}
.contact4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-7);
  min-width: 130px;
}
.reseller31 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 56px;
  z-index: 1;
}
.daftar-reseller27,
.login-reseller27 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 80px;
  z-index: 1;
}
.daftar-reseller27 {
  min-width: 86px;
}
.contact-info21,
.payment-methods17,
.reseller-options11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reseller-options11 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  font-size: var(--font-size-xs);
}
.contact-info21,
.payment-methods17 {
  max-width: 100%;
}
.contact-info21 {
  width: 328px;
  flex-direction: row;
  gap: var(--gap-23xl);
}
.payment-methods17 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xl);
  min-width: 225px;
}
.informasi27 {
  position: relative;
  font-size: var(--text-16-size);
  font-weight: 600;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.affiliate27,
.blog27,
.kebijakan-privasi27,
.syarat-ketentuan27 {
  position: relative;
  font-weight: 300;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.affiliate27,
.blog27,
.kebijakan-privasi27 {
  min-width: 99px;
}
.affiliate27,
.blog27 {
  min-width: 26px;
}
.affiliate27 {
  min-width: 44px;
}
.info-links-wrapper2,
.informasi-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.informasi-container {
  gap: var(--gap-smi-8);
}
.info-links-wrapper2 {
  padding: var(--padding-32xl) var(--padding-4xs) 0 0;
  font-size: var(--font-size-xs);
}
.ikuti-kami27 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.icon-facebook-127,
.icon-instagram-127,
.icon-x-20231018-127 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
  z-index: 1;
}
.icon-x-20231018-127 {
  height: 15.3px;
}
.social-icons21,
.social-links11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.social-links11 {
  flex-direction: column;
  gap: var(--gap-smi);
}
.icon-tiktok-127 {
  height: 15px;
  width: 15px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.social-links-parent,
.social-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.social-wrapper1 {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-32xl) 0 0;
}
.payment-options16 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-20xl-5);
}
.footer36,
.payment-and-contact-wrapper,
.payment-and-contact-wrapper-wrapper,
.payment-options16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-and-contact-wrapper {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.footer36,
.payment-and-contact-wrapper-wrapper {
  box-sizing: border-box;
}
.payment-and-contact-wrapper-wrapper {
  width: 637px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  min-width: 637px;
  color: var(--black-color);
}
.footer36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  padding: var(--padding-22xl) var(--padding-37xl) var(--padding-33xl);
  gap: var(--gap-116xl);
  height: 100%;
}
.report20 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 52px;
}
.report-button-wrapper2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--primery-color);
  position: absolute;
  top: 45px;
  left: 1198px;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.report-button-wrapper2:hover {
  background-color: var(--color-cornflowerblue);
}
.footer-wrapper5 {
  align-self: stretch;
  height: 460px;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-16-size);
  color: var(--primery-color);
  font-family: var(--text-16);
}
.wuthering-waves-via-login {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-66xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .footer-content21,
  .payment-and-contact-wrapper-wrapper {
    flex: 1;
  }
  .footer36 {
    flex-wrap: wrap;
    gap: var(--gap-48xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer-wrapper5 {
    height: auto;
    min-height: 460;
  }
}
@media screen and (max-width: 1050px) {
  .delivery-info3,
  .frame-parent65 {
    flex-wrap: wrap;
  }
  .product-stock-info {
    gap: var(--gap-34xl);
  }
  .component-413 {
    gap: var(--gap-12xl);
  }
  .pilihan-harga45,
  .stok-parent18,
  .stok-parent19 {
    gap: var(--gap-34xl);
  }
  .diamond-type-button-parent {
    gap: var(--gap-22xl);
  }
  .rectangle-parent35 {
    flex: 1;
  }
  .topup-type-selection-parent {
    flex-wrap: wrap;
  }
  .payment-and-contact-wrapper-wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .mlbb-jjk-hd-2-group {
    flex-wrap: wrap;
  }
  .home-parent8 {
    display: none;
  }
  .navbar-212 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .navbar-2-parent2 {
    gap: var(--gap-5xl);
  }
  .diamond-type-button,
  .pilihan-harga46,
  .pilihan-harga47,
  .product-stock-info-parent {
    flex-wrap: wrap;
  }
  .topup-type-selection {
    min-width: 100%;
  }
  .rectangle-parent35 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .payment-options16 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .footer36 {
    gap: var(--gap-15xl);
  }
  .wuthering-waves-via-login {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 450px) {
  .wuthering-waves- {
    font-size: var(--font-size-lgi);
  }
  .top-up-info2 {
    min-width: 100%;
  }
  .produk17,
  .tipe17 {
    font-size: var(--font-size-lgi);
  }
  .product-stock-info {
    gap: var(--gap-7xl);
  }
  .pengiriman-cepat13 {
    gap: var(--gap-mini);
  }
  .component-413 {
    gap: var(--gap-base);
  }
  .stok-parent18 {
    gap: var(--gap-7xl);
  }
  .rp4000013 {
    font-size: var(--font-size-lgi);
  }
  .stok-parent19 {
    gap: var(--gap-7xl);
  }
  .rp6400015 {
    font-size: var(--font-size-lgi);
  }
  .price-options-details {
    gap: var(--gap-8xl);
  }
  .pilihan-harga45 {
    gap: var(--gap-7xl);
  }
  .diamond-type-button-parent {
    gap: var(--gap-xl);
  }
  .informasi-pesanan17 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent35 {
    gap: var(--gap-9xl);
  }
  .payment-icon-list3 {
    flex-wrap: wrap;
  }
  .contact-info21 {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .footer36 {
    gap: var(--gap-mid);
  }
  .wuthering-waves-via-login {
    gap: var(--gap-2xl);
  }
}
